<form [formGroup]="form" class="row col">
  <mat-form-field class="col-md-6"
                  color="accent"
                  [matTooltip]="strategies[form.controls.strategy.value]?.description"
  >
    <mat-select [disableOptionCentering]="true"
                placeholder="Crafting strategy"
                formControlName="strategy">
      <mat-option *ngFor="let strategy of strategies"
                  [value]="strategy.id"
                  [matTooltip]="strategy.description"
                  matTooltipPosition="after"
      >
        {{ strategy.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="col-md-6">
    <mat-checkbox formControlName="intermediate">
      Intermediate crafting
    </mat-checkbox>
  </div>
</form>
