<!--
<form [formGroup]="form">
    <mat-form-field>
        <input type="number"
               placeholder="Use MV if buyout >= {{ buyoutController.value?.buyoutLimit | percent }}% of MV"
               formControlName="buyoutLimit"
               matInput>
    </mat-form-field>
    <mat-checkbox class="ml-2" formControlName="useVendorPriceForCraftingIfAvailable">
        Use vendor price, for crafting if available.
    </mat-checkbox>
</form>
-->

<div class="row">
    <div class="col-md-12 mb-3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Crafting calculation
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <wah-crafting-config></wah-crafting-config>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Custom prices
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <wah-custom-prices></wah-custom-prices>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Custom procs
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <wah-custom-proc></wah-custom-proc>
            </mat-card-content>
        </mat-card>
    </div>
</div>


