<mat-card [ngClass]="{'full-screen': detailView && !isOtherDetailPanelOpen}">
  <mat-card-header>
    <div class="action-icon mat-elevation-z5" (click)="openClose()" matTooltip="Click to open/close the full window.">
      <button mat-raised-button class="btn btn-sm">
        <span *ngIf="!detailView; else closeIcon">
          <i matTooltip="Open detail view" class="far fa-window-restore"></i>
        </span>
        <ng-template #closeIcon>
          <span>
            <i class="fas fa-times" matTooltip="Close detail view"></i>
          </span>
        </ng-template>
      </button>
    </div>
    <mat-card-title>
      {{ dashboard.title }} ({{ dashboard.data.length | number }})
    </mat-card-title>
    <mat-card-subtitle *ngIf="dashboard.message">
      {{ dashboard.message }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <wah-data-table [id]="dashboard?.idParam" iconSize="22" [columns]="currentColumns"
      [data]="data" [isCrafting]="dashboard.isCrafting" [hideCraftingDetails]="true"></wah-data-table>
    <!-- detailView -->
    <mat-form-field *ngIf="detailView && dashboard.tsmShoppingString && dashboard?.tsmShoppingString.length > 0" class="row col-md-12">
      <textarea matInput placeholder="TSM shopping string"
        [value]="dashboard.tsmShoppingString"></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<div *ngIf="detailView && !isOtherDetailPanelOpen" class="backdrop" (click)="openClose()"></div>
