<mat-list dense class="horizontal-item-list">
  <mat-list-item *ngIf="baseItem">
    <div mat-line [style]="{color: theme.accentColorCode}">
      Expansion
    </div>
    <div mat-line>
      {{ expansions[baseItem?.expansionId] }}
    </div>
  </mat-list-item>
  <ng-container *ngIf="item">
    <mat-list-item *ngIf="bonuses">
      <div mat-line [style]="{color: theme.accentColorCode}">
        Bonuses
      </div>
      <div mat-line>
        {{ bonuses }}
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="item.modifiers && item.modifiers.length">
      <div mat-line [style]="{color: theme.accentColorCode}">
        Modifiers Ids
      </div>
      <div mat-line>
        {{ item.modifiers | json}}
      </div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line [style]="{color: theme.accentColorCode}">
        Lowest buyout per item
      </div>
      <div mat-line>
        {{ item.buyout | gold }}
        <span *ngIf="!item.petSpeciesId">
        (
          {{ item.buyout / item.mktPrice | percent }}
          MV)
      </span>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line [style]="{color: theme.accentColorCode}">
        Market value
      </div>
      <div mat-line>
        {{ item.mktPrice | gold }}</div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line [style]="{color: theme.accentColorCode}">
        Vendor value
      </div>
      <div mat-line>{{ item.vendorSell | gold }}</div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line [style]="{color: theme.accentColorCode}"
      >Stock
      </div>
      <div mat-line>{{ item.quantityTotal | number }} pcs</div>
    </mat-list-item>

    <ng-container *ngIf="item?.hasPersonalSaleRate">
      <ng-container *ngIf="item?.hasPersonalSaleRate && item?.totalSaleRate; else noPersonalSaleDataTemplate">
        <mat-list-item *ngIf="item.past24HoursSaleRate">
          <div mat-line [style]="{color: theme.accentColorCode}">
            Last 24 hours
          </div>
          <div mat-line>
            {{ item.past24HoursSaleRate | percent }}
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="item.past7DaysSaleRate">
          <div mat-line [style]="{color: theme.accentColorCode}">
            Last 7 days
          </div>
          <div mat-line>
            {{ item.past7DaysSaleRate | percent }}
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="item.past14DaysSaleRate">
          <div mat-line [style]="{color: theme.accentColorCode}">
            Last 14 days
          </div>
          <div mat-line>
            {{ item.past14DaysSaleRate | percent }}
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="item.past30DaysSaleRate">
          <div mat-line [style]="{color: theme.accentColorCode}">
            Last 30 days
          </div>
          <div mat-line>
            {{ item.past30DaysSaleRate | percent }}
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="item.past60DaysSaleRate">
          <div mat-line [style]="{color: theme.accentColorCode}">
            Last 60 days
          </div>
          <div mat-line>
            {{ item.past60DaysSaleRate | percent }}
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="item.past90DaysSaleRate">
          <div mat-line [style]="{color: theme.accentColorCode}">
            Last 90 days
          </div>
          <div mat-line>
            {{ item.past90DaysSaleRate | percent }}
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="item.totalSaleRate">
          <div mat-line [style]="{color: theme.accentColorCode}">
            Overall
          </div>
          <div mat-line>
            {{ item.totalSaleRate | percent }}
          </div>
        </mat-list-item>
      </ng-container>
      <ng-template #noPersonalSaleDataTemplate>
        <mat-list-item>
          <div mat-line [style]="{color: theme.accentColorCode}">
            Personal sale rate
          </div>
          <div mat-line>
            You have no personal sale data for this item.
          </div>
        </mat-list-item>
      </ng-template>
    </ng-container>
  </ng-container>
  <mat-list-item>
    <wah-addon-import [minimal]="true"></wah-addon-import>
  </mat-list-item>
</mat-list>
