<wah-close-btn (close)="close()"></wah-close-btn>

<h1 mat-dialog-title>
  A new version is available, and has been installed on your computer.
</h1>


<mat-dialog-content>
  Reload or click the button below to activate the new version.
  <em>
    If you find any bugs or wish to give feedback
    on the app, please do so on
    <a href="https://github.com/ukon1990/wow-auction-helper"
       matTooltip="Github: Contribute report bugs/issues and feature requests">
      <i class="fab fa-github"></i> Github
    </a> or via PM to me on Reddit or Discord (Ukon1990). As always, any feedback is appreciated!
  </em>

  <wah-changelog [changeLogs]="changelog"></wah-changelog>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button
          color="primary"
          (click)="close()">
    Close
  </button>
  <button mat-stroked-button
          color="accent"
          (click)="reload()">Reload to activate the update</button>
</mat-dialog-actions>
