<wah-close-btn (close)="close()"></wah-close-btn>

<h1 mat-dialog-title>
  Forgot password
</h1>

<mat-dialog-content>
  <em>
    There should be sent an email to you from "no-reply@verificationemail.com" with the subject
    "Your verification code for WoW Auction Helper/WAH". Copy the code from that email in  to the code field.
  </em>
  <form id="forgot-form"
        class="row"
        [formGroup]="forgotForm">
    <mat-form-field class="col">
      <input matInput
             placeholder="Username/Email"
             formControlName="username"
             autocomplete="username"
             type="text"
      />
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput
             placeholder="Reset code"
             formControlName="code"
             autocomplete="one-time-code"
             type="text"
      />
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput
             placeholder="New password"
             autocomplete="new-password"
             formControlName="password"
             type="password"
      />
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput
             placeholder="Confirm new password"
             autocomplete="new-password"
             formControlName="confirmPassword"
             type="password"
      />
    </mat-form-field>
    <div *ngIf="error">
      Error: {{error.message}}
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
          form="forgot-form"
          type="submit"
          [disabled]="!forgotForm.valid"
          (click)="verifyForgotPassword()"
          color="accent"
          mat-stroked-button
  >
    Confirm new password
  </button>

  <button
          [disabled]="!forgotForm.controls.username.valid"
          mat-stroked-button
          color="primary"
          (click)="forgotPassword()"
  >
    Resend confirmation code
  </button>
</mat-dialog-actions>