<div class="full-screen" *ngIf="showNews">
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>
        Changelog
      </mat-card-title>
      <mat-card-subtitle>
        A new version has been released, since your last visit.
      </mat-card-subtitle>
      <div class="action-icon mat-elevation-z5" (click)="close()">
        <button mat-raised-button class="btn btn-sm">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content class="overflow">
      <div class="scrollable">
        <wah-changelog></wah-changelog>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="col-md-12 ">
        If you find any bugs or wish to give feedback
        on the app, please do so on 
        <a href="https://github.com/ukon1990/wow-auction-helper" matTooltip="Github: Contribute report bugs/issues and feature requests">
          <i class="fab fa-github"></i> Github
        </a> or via PM to me on Reddit or Discord (Ukon1990). As always, any feedback is appreciated!
      </div>
    </mat-card-footer>
  </mat-card>
</div>

<div *ngIf="showNews " class="backdrop " (click)="close() ">
</div>