<div id="news-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
				<h4 class="modal-title">Welcome back!</h4>
			</div>
			<div class="modal-body">
				<p>
					New functionality have been added since your last visit, among them youl'l find the following:
				</p>

				<h5 class="list-group-item-heading"><strong>Data export</strong></h5>
				<ul>
					<li class="list-group-item-text">
						Exporting crafting cost and profit as well as all current auctions are now available.
					</li>
					<li class="list-group-item-text">
						Choose what columns to export.
					</li>
				</ul>

				<h5 class="list-group-item-heading"><strong>Bug fix</strong></h5>
				<ul>
					<li class="list-group-item-text">
						The "clear filters" button has been renamed to "Reset" and should work as expected.
					</li>
				</ul>

				<p>
					This message will only be displayed upon feature updates and not bug fixes.
					If you find any bugs or wish to give feedback on the app,
					please do so on in the <a href="https://www.reddit.com/r/woweconomy/comments/61m0jj/professioncrafting_auctioning_toolwebapp/" target="_blank">
						reddit thread</a>. As always, any feedback is appreciated!
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default mat-elevation-z5" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
