<div class="full-screen" *ngIf="showNews">
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>
        Welcome back!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="overflow">
      <p>
        New functionality have been added since your last visit, among them you will find the following:
      </p>
      <div class="scrollable">
      <mat-card class="mb-2">
          <mat-card-header>
            <mat-card-title>
              8. - 17.March 2018
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            There as been several bug fixes and improvements the between 8. and 17.March. Here you have a list of some of them.
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  Professions & my auctions
                </mat-expansion-panel-header>
                <mat-list dense>
                  <mat-list-item>
                    "On use" type crafts are now available as a known recipe in the crafting section.
                  </mat-list-item>
                  <mat-list-item>
                    Some of these "on use" recipes also have had their reagent count corrected in-app, 
                    as blizzard gives one to little in the requiered reagent count.
                  </mat-list-item>
                  <mat-list-item>
                    My auction's now display a percentage of how many of your auctions, were undercutted at the last auction house data dump.
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Dashboards & Sellers
                </mat-expansion-panel-header>
                <mat-list dense>
                  <mat-list-item>
                    The seller detail panel now contains a couple charts that you can select amongst. These display items per sub class (Gem, Potion etc).
                  </mat-list-item>
                  <mat-list-item>
                    There are now seller dashboards per item class (not sub class).
                  </mat-list-item>
                  <mat-list-item>
                    The watchlist dashboard, will now display the criteria for it being displayed. E.g "< 3g 99s 10c" or "< 10 pcs".
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bug fixes
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list dense>
                  <mat-list-item>
                    The number of undercutted auctions has been corrected. This also affects the notification.
                  </mat-list-item>
                  <mat-list-item>
                    You can now edit watchlist items again. I apologize for it nor working the past couple days.
                  </mat-list-item>
                  <mat-list-item>
                    If you use up all your TSM requests, the app should now fall back to the previously fetched TSM list. 
                    This will only occur if you change realms to often and too fast.
                  </mat-list-item>
                  <mat-list-item>
                    The sorting of sellers will now be correct
                  </mat-list-item>
                  <mat-list-item>
                    If you click on the eye in a table of sellers or the name of a seller, you will get information such as what auctions they
                    currently have up.
                  </mat-list-item>
                  <mat-list-item>
                    The custom proc, custom price and watchlist item add dropdown has been fixed, 
                    so that it will not cause an error upon selecting an item (about 10 days ago or so)
                  </mat-list-item>
                  <mat-list-item>
                    Not really a bug, but you can now add characters lower than level 10. In case you've got a sub level 10 seller.
                  </mat-list-item>
                  <mat-list-item>
                    Realms containing ' etc, will no longer cause issues when it comes to known recipes.
                  </mat-list-item>
                  <mat-list-item>
                    Character portraits will now appear correctly regardless of region.
                  </mat-list-item>
                  <mat-list-item>
                    and more.
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-2">
          <mat-card-header>
            <mat-card-title>
              7.March 2018
            </mat-card-title>
            <mat-card-subtitle>
              Version 2
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list dense>
              <mat-list-item>
                <p>
                  You can now choose to export your settings to file instead of a string.
                  You can then use that file to import it in another browser, or if you wish to keep a backup of your settings.
                </p>
              </mat-list-item>
              <mat-list-item>
                <p>
                  This website now has HTTPS. If you haven't already, download your settings, go 
                  to <a href="https://wah.jonaskf.net" target="_blank"> https://wah.jonaskf.net </a> and import your settings there. 
                  This is requiered for notifications to work in Chrome etc.
                </p>
              </mat-list-item>
              <mat-list-item>
                <p>
                  There has also been several minor fixes since the previous notification. Among them is a change on the server. 
                  The application has now been completly moved from my old hosting service to a new one. And the new backend is completed.
                </p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-2">
          <mat-card-header>
            <mat-card-title>
              15.February 2018
            </mat-card-title>
            <mat-card-subtitle>
              Version 2
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list dense>
              <mat-list-item>
                A new dashboard has been added. 
                The new dashboard displays any craft with a ROI greater than 0, that is creating an item in your watchlist groups.
              </mat-list-item>
              <mat-list-item>
                Fix an issue, where characters would appear more than once in the crafting table, If you updated a character.
              </mat-list-item>
              <mat-list-item>
                When you add an item to your watchlist, the dashboard with update with those items as expected. Same goes for the crafting part of it.
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-2">
          <mat-card-header>
            <mat-card-title>
              22.January 2018
            </mat-card-title>
            <mat-card-subtitle>
              Version 2
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            These are changes regarding the watchlist. If you are unsure of where you can modify your watchlist, go to the tools dropdown
            and select watchlist.
            <mat-list dense>
              <mat-list-item>
                You can now delete a watchlist group and it's items.
              </mat-list-item>
              <mat-list-item>
                Import and export of watchlist groups for sharing or backup has also been implemented.
              </mat-list-item>
              <mat-list-item>
                You can now see more information about your realm in the download dropdown to the right. The update time will now also display
                in red, if there has not been any updates for 60+ minutes.
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-2">
          <mat-card-header>
            <mat-card-title>
              19.January 2018
            </mat-card-title>
            <mat-card-subtitle>
              Version 2
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list dense>
              <mat-list-item>
                Custom proc rates have now ben added, with default values set for rank 3 flasks(1.47) and potions(1.5). Go to the settings
                to alter or add to these.
              </mat-list-item>
              <mat-list-item>
                In the items details panel, you can now also see what recipes use the item as well in the "Material for" tab.
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-2">
          <mat-card-header>
            <mat-card-title>
              10.January 2018
            </mat-card-title>
            <mat-card-subtitle>
              Version 2 released
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              There is finally a new proper release out again. I've recently been rewriting the application. This as I have more experience
              as a developer now, than I did a year ago (when I started). I hope that you find the new functionality, and
              the improved reliability of the application to your liking.
            </p>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    General changes
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list dense>
                  <mat-list-item>
                    The "Change theme" button in the settings, has been moved to the top right of the menu. And no longer require a reload of
                    the page.
                  </mat-list-item>
                  <mat-list-item>
                    If you click on the eye in a table or the name of an item, you will get more information about that item. Such as every auction
                    and what recipes it's crafted by and what mobs drops the item.
                  </mat-list-item>
                  <mat-list-item>
                    If you click on the eye in a table of sellers or the name of a seller, you will get information such as what auctions they
                    currently have up.
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Dashboards
                  </mat-panel-title>
                  <mat-panel-description>
                    New feature
                  </mat-panel-description>
                </mat-expansion-panel-header>
                This feature gives you information such as:
                <mat-list dense>
                  <mat-list-item>
                    The most profitable crafts overall, and the most profitable ones your registered characters know
                  </mat-list-item>
                  <mat-list-item>
                    30 minute deals, showing what items are running out within 30 minutes that also have a bid lower than 90% of the lowest buyout.
                    If you got a TSM key, it will also filter away items that usually sell less than 1 item per day and with
                    a estimated sales rate lower than 30%.
                  </mat-list-item>
                  <mat-list-item>
                    Display all items that are cheaper than the vendor sell price. Basically, easy gold.
                  </mat-list-item>
                  <mat-list-item>
                    Each trade vendor currency's top valued item are available at a glance.
                  </mat-list-item>
                  <mat-list-item>
                    Sellers sorted by quantity of auctions, items and their auctions worth in gold.
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Crafting
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list dense>
                  <mat-list-item>
                    The trade vendor value for eg. Bloods are now used, unless you have defined a custom price for a those items.
                  </mat-list-item>
                  <mat-list-item>
                    The shopping cart has been removed from the crafting section. It is instead available around the whole application in the
                    top right corner.
                  </mat-list-item>
                  <mat-list-item>
                    You no longer need to hit "filter". The app filters as you type.
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Auctions
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list dense>
                  <mat-list-item>
                    Pets are now better handled, and the right-hand table has been removed.
                  </mat-list-item>
                  <mat-list-item>
                    Filtering are now handled as you go, ergo you no longer have to manually hit enter/filter.
                  </mat-list-item>
                  <mat-list-item>
                    That right-hand table has been removed in favor of the item details panel.
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
        <!-- 19.november 2017 -->
        <mat-card class="mb-2">
          <mat-card-header>
            <mat-card-title>
              19.november 2017
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <strong>Downloads</strong>
            <ul>
              <li class="list-group-item-text">
                There is now a dropdown menu that allows you to see when each data type were downloaded.
              </li>
              <li class="list-group-item-text">
                Each download can be triggered manually, if you wish to. lets say update the TSM data.
              </li>
            </ul>

            <strong>User registration and settings</strong>
            <ul>
              <li class="list-group-item-text">
                The character and crafting selection is now revamped. It will now allow you to choose realm for each character added(finally?).
              </li>
              <li class="list-group-item-text">
                The added character data are downloaded as soon as you add them, so you can see if it was successful or not.
              </li>
            </ul>

            <strong>Other updates</strong>
            <ul>
              <li class="list-group-item-text">
                Upgraded to Angular 5
              </li>
              <li class="list-group-item-text">
                Started using more of Angular Material for some parts of the application
              </li>
              <li class="list-group-item-text">
                Upgraded to Bootstrap 4
              </li>
              <li class="list-group-item-text">
                Both the dark and light themes have been changed
              </li>
              <li class="list-group-item-text">
                Remade the setup page for new users.
              </li>
              <li class="list-group-item-text">
                Some much needed clean up of the codebase. More is coming..
              </li>
              <li class="list-group-item-text">
                Several fixes that could have caused issues for some users
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="col-md-12">
        This message will only be displayed upon feature updates and not bug fixes. If you find any bugs or wish to give feedback
        on the app, please do so on in the
        <a href="https://www.reddit.com/r/woweconomy/comments/61m0jj/professioncrafting_auctioning_toolwebapp/" target="_blank">
          Reddit thread</a>. As always, any feedback is appreciated!
      </div>
    </mat-card-footer>
  </mat-card>
</div>

<div *ngIf="showNews" class="backdrop" (click)="close()">
</div>