@media (max-width: 767px) {
  .slim-sm {
    width: auto !important;
    padding: 0 !important;
  }

  .full-screen {
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
  }
}
