@media (max-width: 767px) {
  .slim-sm {
    width: auto !important;
    padding: 0 !important;
  }

  .full-screen {
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    max-height: none !important;
    height: 100%; /* calc(100% - 3em) */
    position: fixed !important;

    & >mat-card-header {
      height: 3em;
    }

    & > mat-card-content {
      overflow-y: scroll;
      height: calc(100% - 8em);
    }

    & > mat-card-actions {
      height: 2em;
    }
  }
}
