@media (max-width: 767px) {
  .slim-sm {
    width: auto !important;
    padding: 0 !important;
  }

  .full-screen,
  .full-screen.mat-card,
  div.full-screen {
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    top: 3em !important;
    max-height: none !important;
    height: 100%;

    & > mat-card {
      overflow-y: scroll;
      height: calc(100% - 3em);
      max-height: none !important;
      bottom: 0 !important;
    }
  }
}
