@import 'mobile';

.mat-tab-body-wrapper {
  padding-top: 1em;
}

.mat-tab-nav-bar.mat-primary {
  margin-bottom: 1em;
}

.wowhead-tooltip {
  z-index: 502 !important;
}

.cdk-overlay-container {
  z-index: 1030 !important;
}

.full-screen {
  z-index: 501;
  right: 5%;
  left: 5%;
  top: 10%;
  /*bottom: 5%;*/

  max-height: 85%;
  width: 90%;
  position: fixed !important;

  .mat-card-content .mat-tab-body {
    overflow-y: scroll;
  }

  & .dropped-by .mat-list {
    overflow-y: auto;
    max-height: 25em;

    .mat-list-item {
      height: 45px !important;
    }
  }

  & > mat-card-header {
    /* height: 3em; */
  }

  & > mat-card-content {
    overflow-y: scroll;
    max-height: calc(80vh - 8em);
  }

  & > mat-card-actions {
    height: 2em;
  }
}

mat-spinner {
  width: 20px !important;;
  height: 20px !important;;

  svg {
    width: 20px !important;;
    height: 20px !important;;
  }
}

.fixed-top {
  z-index: 499 !important;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.70);
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  background-size: cover;
}

.icon-36,
.icon-36.mat-card-avatar {
  height: 36px !important;
  width: 36px !important;
}

.icon-22,
.icon-22.mat-card-avatar {
  height: 22px !important;
  width: 22px !important;
}

.icon-16,
.icon-16.mat-card-avatar {
  height: 16px !important;
  width: 16px !important;
  margin-right: 0.2em !important;
  margin-left: 0.5em;
}

td {

  a.mat-icon-button,
  button.mat-icon-button {
    height: auto !important;
    line-height: unset !important;
  }

  span mat-form-field div.mat-form-field-wrapper.mat-form-field-wrapper {
    padding: 0;

    div div.mat-form-field-infix.mat-form-field-infix {
      border: 0;
      padding: 0;
    }

    div.mat-form-field-underline {
      top: 1.25em
    }
  }
}

.user-auction-lowest {
  color: #25d591 !important;
}

wah-character {
  mat-card,
  .mat-list-item {
    color: white !important;
  }

  .character-bg {
    background-color: rgb(33, 37, 41) !important;
  }
}

.action-icon {
  position: absolute;
  top: .5em;
  right: .5em;

  button.btn {
    min-width: auto !important;
  }
}

.h-2em {
  height: 2em !important;
}

/* The old font-size for mat-header-title looks better for titles containing item names */
.mat-card-header .mat-card-title.small-title {
  font-size: 14px;
}

/* DownloadComponent CDK menu */
.download-dropdown-menu {
  width: 30em !important;
}

@media (max-width: 767px) {
  .download-dropdown-menu {
    width: 100% !important;
    max-width: 100% !important;
    max-height: 18em;
    overflow-y: scroll;
  }
  .mat-menu-panel {
    max-width: 100% !important;;
    width: 100% !important;;
    a, button {
      width: 100% !important;
    }
  }
}
