<div class="full-screen" *ngIf="getItem()">
  <mat-card>
    <mat-card-header>
      <wah-icon mat-card-avatar
        *ngIf="getItem().id" class="float-left"
        size="36" [id]="getItem().id"
        [petSpeciesId]="getSelectedPet()?.petSpeciesId"></wah-icon>
      <mat-card-title>
        <span *ngIf="getPet() || getItem(); else itemName">
          {{ getPet() ? getPet().name : getItem().name }}
        </span>
        <ng-template #itemName>
          {{ wowDBItem.Name }}
        </ng-template>
      </mat-card-title>
      <mat-card-subtitle *ngIf="getSelectedPet()">
        <span class="mr-auto"><strong>Level:</strong> {{ getSelectedPet().petLevel }}</span>
        <span class="mr-auto"><strong>Quality:</strong> {{ getSelectedPet().petQualityId }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row" *ngIf="getAuctionItem()">
        <div class="col-md-4">
          <strong>Lowest buyout per item:</strong> {{ getAuctionItem().buyout | gold}} 
          <span *ngIf="isUsingAPI() && !getAuctionItem().petSpeciesId">({{ getAuctionItem().buyout / getAuctionItem().mktPrice | percent }} MV)</span>
          <br>
          <strong>Stock:</strong> {{ getAuctionItem().quantityTotal | number }} pcs
          <br>
          <div *ngIf="isUsingAPI() && !getAuctionItem().petSpeciesId" class="clearfix">
            <strong>Avg daily sold:</strong> {{ getAuctionItem().avgDailySold | number }}
            <br>
            <strong>Avg sale price:</strong> {{ getAuctionItem().regionSaleAvg | gold }}
            <br>
            <strong>Market value:</strong> {{ getAuctionItem().mktPrice | gold }}
            <br>
            <strong>Regional sale rate:</strong> {{ getAuctionItem().regionSaleRate | percent }}
            <br>
          </div>

          <wah-line-chart *ngIf="getAuctionItem()" [data]="getAuctionItem().auctions">
          </wah-line-chart>
        </div>
        <div class="col-md-8">
          <mat-tab-group>
            <mat-tab label="Auctions ({{ getAuctionItem().quantityTotal | number }})" *ngIf="getAuctionItem()">
              <wah-data-table [columns]="columns" [data]="getAuctionItem().auctions">
              </wah-data-table>
            </mat-tab>
            <mat-tab label="Created by" *ngIf="itemHasRecipes()">
              <wah-data-table [columns]="recipeColumns" [data]="getRecipesForItem()" [isCrafting]="true">
              </wah-data-table>
            </mat-tab>
            <mat-tab label="Dropped by" *ngIf="wowDBItem && wowDBItem?.DroppedBy">
              <wah-data-table [columns]="npcColumns" [data]="wowDBItem.DroppedBy">
              </wah-data-table>
            </mat-tab>
            <mat-tab label="Reset cost calc" *ngIf="getAuctionItem()">
              <wah-reset-calc [auctionItem]="getAuctionItem()"></wah-reset-calc>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="openInNewTab('http://www.wowdb.com/items/' + getItem().id)" mat-raised-button>
          WoWDB
          <i class="fas fa-external-link-square-alt"></i>
        </button>
        <button (click)="openInNewTab('http://www.wowhead.com/item=' + getItem().id)" mat-raised-button>
          WoWHead
          <i class="fas fa-external-link-square-alt"></i>
        </button>
        <button mat-raised-button matTooltip="Add to shopping list">
          Add to shopping list
          <i class="fas fa-cart-plus"></i>
        </button>
        <button
          (click)="openInNewTab('https://' + getUser().region + '.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId=' + getItem().id)"
          mat-raised-button>
          Go to Web AH
          <i class="fas fa-shopping-cart"></i>
        </button>
      </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="getItem()" class="backdrop" (click)="close()">
</div>