<div id="item-view" *ngIf="getItem()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ getItem().name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" *ngIf="getAuctionItem()">
        <div class="col-md-6">
          <strong>Lowest buyout per item:</strong> {{ getAuctionItem().buyout | gold}}
          <br>
          <strong>Stock:</strong> {{ getAuctionItem().quantityTotal }} pcs
          <br>
          <div class="clearfix">
            <strong>Avg daily sold:</strong> {{ getAuctionItem().avgDailySold }}
            <br>
            <strong>Avg sale price:</strong> {{ getAuctionItem().regionSaleAvg | gold }}
            <br>
            <strong>Market value:</strong> {{ getAuctionItem().mktPrice | gold }}
            <br>
            <strong>Regional sale rate:</strong> {{ getAuctionItem().regionSaleRate | percent }}
            <br>
          </div>

          <wah-line-chart *ngIf="getAuctionItem()" [data]="getAuctionItem().auctions">
          </wah-line-chart>
        </div>
        <div class="col-md-6">
          <mat-tab-group>
            <mat-tab label="Auctions" *ngIf="getAuctionItem()">
              <wah-data-table [columns]="columns" [data]="getAuctionItem().auctions">
              </wah-data-table>
            </mat-tab>
            <mat-tab label="Dropped by" *ngIf="wowDBItem && wowDBItem?.DroppedBy">
              <wah-data-table [columns]="npcColumns" [data]="wowDBItem.DroppedBy">
              </wah-data-table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <a href="http://www.wowdb.com/items/{{ getItem().itemID }}" target="_blank" class="float-right" mat-raised-button>
          WoWDB
          <i class="fas fa-external-link-square-alt"></i>
        </a>
        <a href="http://www.wowhead.com/item={{ getItem().itemID }}" target="_blank" class="float-right" mat-raised-button>
          WoWHead
          <i class="fas fa-external-link-square-alt"></i>
        </a>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>

<div *ngIf="getItem()" class="backdrop" (click)="close()">
</div>