<mat-form-field>
  <input type="number" placeholder="Use MV if buyout >= {{ buyoutController.value?.buyoutLimit | percent }}% of MV" [formControl]="buyoutController"
    matInput>
</mat-form-field>

<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="custom-prices"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Custom prices
  </a>
  <a mat-tab-link
     routerLink="custom-proc"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Custom proc rates
  </a>
</nav>

<router-outlet></router-outlet>



