<table class="table table-striped col-md-12">
  <tr>
    <th (click)="sort('name')">
      <app-sort-icon [key]="sorter.getKey('name')"></app-sort-icon>
      Name
    </th>
    <th>Materials</th>
    <th class="hidden-xs" (click)="sort('cost')">
      <app-sort-icon [key]="sorter.getKey('cost')"></app-sort-icon>
      Cost
    </th>
    <th class="hidden-xs" (click)="sort('buyout')">
      <app-sort-icon [key]="sorter.getKey('buyout')"></app-sort-icon>
      Buyout
    </th>
    <th data-toggle="tooltip" title="You can choose to sort by profit in % or in gold.">
      <span (click)="sort(sortProfitBy === '%' ? 'profitPercent' : 'profit')">
        <app-sort-icon [key]="sorter.getKey(sortProfitBy === '%' ? 'profitPercent' : 'profit')"></app-sort-icon>
        Profit
      </span>
      <select [(ngModel)]="sortProfitBy">
        <option value="g">g</option>
        <option value="%">%</option>
      </select>
    </th>
    <th *ngIf="user.apiToUse !== 'none'" class="hidden-xs">
      <span *ngIf="user.apiToUse === 'tsm'" (click)="sort('avgDailySold')">
        <app-sort-icon [key]="sorter.getKey('avgDailySold')"></app-sort-icon>
        Regional avg </span>
      <span *ngIf="user.apiToUse === 'wowuctions'">Avg posted/</span> sold
    </th>
    <th *ngIf="user.apiToUse !== 'none'" class="hidden-xs" (click)="sort('estDemand')">
      <app-sort-icon [key]="sorter.getKey('estDemand')"></app-sort-icon>
      <span *ngIf="user.apiToUse === 'tsm'">Region est Demand</span>
      <span *ngIf="user.apiToUse === 'wowuctions'">est demand/</span>
    </th>
    <th>
      Action
    </th>
  </tr>
  <tr *ngFor="let craft of crafts |
			slice: 
				(pageEvent.pageSize * (pageEvent.pageIndex + 1)) - pageEvent.pageSize:
				pageEvent.pageSize * (pageEvent.pageIndex + 1) ;
			let i = index;">
    <td>
      <div>
        <span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(craft) +')'"></span>
        <div class="align-left col-md-9">
          <a rel="item={{ craft.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{ craft.itemID }}"
            target="_blank">
            {{ getName(craft) }}
            <span *ngIf="craft.rank">({{ craft.rank }})</span>
          </a>
          <br> {{ craft.profession }} ({{ getAuctionItem(craft.itemID).quantity_total }} @ AH)
        </div>
      </div>
    </td>
    <td>
      <div class="clearfix" *ngFor="let m of craft.reagents" [ngClass]="{'not-found': !isAtAH(m.itemID)}">
        <span *ngIf="m.useCraftedBy === undefined || !m.useCraftedBy">
          {{ m.count }} x
          <a rel="item={{ m.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{m.itemID}}"
            target="_blank">{{m.name}}</a>

          {{ getMinPrice(m.itemID) | gold }} ({{ getAuctionItem(m.itemID).quantity_total }} @ AH)
          <i *ngIf="m.useCraftedBy !== undefined" class="fa fa-university" [ngClass]="{'using-manual-craft': m.useCraftedBy, 'not-using-manual-craft': !m.useCraftedBy}"
            (click)="setManualCraft(m, craft)" aria-hidden="true"></i>
        </span>

        <!-- For "child" recipes -->
        <div *ngIf="m.useCraftedBy !== undefined && m.useCraftedBy">
          <div class="clearfix" *ngFor="let subMats of getSubMaterials(m)" [ngClass]="{'not-found': !isAtAH(subMats.itemID)}">
            {{ subMats.count * m.count }} x
            <a rel="item={{ subMats.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{subMats.itemID}}"
              target="_blank">{{subMats.name}}</a> {{ getMinPrice(subMats.itemID) | gold }} ({{ getAuction(subMats.itemID).quantity_total }}
            @ AH)
            <i *ngIf="m.useCraftedBy !== undefined" class="fa fa-university" [ngClass]="{'using-manual-craft': m.useCraftedBy, 'not-using-manual-craft': !m.useCraftedBy}"
              (click)="setManualCraft(m, craft)" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </td>
    <td class="hidden-xs">
      {{ craft.cost | gold }}
    </td>
    <td class="hidden-xs">
      <span *ngIf="user.apiToUse === 'tsm' || user.apiToUse === 'wowuction'">
        Live:
      </span> {{ craft.buyout | gold }}
      <span *ngIf="user.apiToUse === 'tsm' || user.apiToUse === 'wowuction'">
        ({{ percentOf(craft.mktPrice, craft.buyout) }}% mkt)
        <br>Market value: {{ getApiItem(craft.itemID).mktPrice | gold }}
        <br>Region sale avg: {{ getApiItem(craft.itemID).regionSaleAvg | gold }}
      </span>
    </td>
    <td>
      {{ craft.profit | gold }}
      <br> {{ getProfitPercent(craft.profit, craft.buyout) }} %
      <span class="visible-xs fa fa-shopping-cart" aria-hidden="true" (click)="addToCart(craft)"></span>
    </td>
    <td *ngIf="user.apiToUse !== 'none'" class="hidden-xs">
      <span *ngIf="user.apiToUse === 'wowuctions'">
        {{ getApiItem(craft.itemID) .avgDailyPosted }}
        <br>
      </span> {{ getApiItem(craft.itemID) .avgDailySold }}
    </td>
    <td *ngIf="user.apiToUse !== 'none'" class="hidden-xs">
      {{ getApiItem(craft.itemID) .estDemand | percent }}
    </td>
    <td>
      <a class="fa fa-shopping-cart push-left" aria-hidden="true" (click)="openMenu(i)">Add</a>
      <br>
      <div class="recipe-menu recipe-menu-dark" [ngClass]="{'recipe-menu-open': i === selectedItemIndex}">
        <i aria-hidden="true" class="fa fa-trash" (click)="openMenu(i)"></i>
        <div class="panel-body">
          Add quantity:
          <br>
          <input type="number" value="1" min="1" #quantityToAdd/>
          <br>
          <a class="push-left" aria-hidden="true" (click)="addToCart.emit(craft, quantityToAdd.value)">
            <i class="fa fa-shopping-cart"></i>
            Add amount
          </a>
        </div>
      </div>

      <a class="fa fa-link" aria-hidden="true" href="http://www.wowhead.com/item={{craft.itemID}}" target="_blank">Wowhead</a>
      <br>
    </td>
  </tr>
</table>