<div class="materials-scrollable full-width mt-2 mb-2" *ngFor="let r of recipe?.reagents">

  <!-- Intermidiate craft -->
  <mat-card *ngIf="r.intermediateEligible && useIntermediateCrafting(); else regular" class="p-0 m-0 pt-2 pb-2">
    <mat-card-header (click)="setSelectedItem(r)">
      <mat-card-subtitle>
        <a class="col-md-12"
           wahItemTooltip
           [item]="r.recipe"
           linkType="item"
           [ngClass]="{'not-found': !isEnoughAtAH(r.id, r.quantity) }">
          <wah-icon *ngIf="r.id" class="float-left" size="22" [id]="r.id"></wah-icon>
          {{ r.quantity / getMinCount(recipe) | number : '1.2' }} x {{ r.recipe.name }} -
          <span class="float-right">
            {{ r.recipe.cost | gold }}
            {{ getReagentFromVendorString(r) }}
          </span>
        </a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="ml-3 mr-1 mb-1"
           *ngFor="let subR of r.recipe.reagents"
           (click)="setSelectedItem(subR)">
        <a
           wahItemTooltip
           [item]="subR"
           [ngClass]="{'not-found': !isEnoughAtAH(subR.id, subR.quantity) }"
           [extra]="getAhCountTooltip(subR)">
          <wah-icon *ngIf="subR.id" class="float-left" size="22" [id]="subR.id"></wah-icon>
          {{ subR.quantity * r.quantity / getMinCount(recipe) / getMinCount(r.recipe) | number : '1.2' }}
          x {{ getItemName(subR.id) }} -
          <span class="float-right">
            {{ getPriceString(subR) }}
          </span>
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- No reasonable intermidiate crafts available -->
  <ng-template #regular>
    <div (click)="setSelectedItem(r)">
      <a wahItemTooltip
         [item]="r"
         [ngClass]="{'not-found': !isEnoughAtAH(r.id, r.quantity) }"
         [extra]="getAhCountTooltip(r)">
        <wah-icon *ngIf="r.id"
                  class="float-left"
                  size="22"
                  [id]="r.id"></wah-icon>
        {{ r.quantity / getMinCount(recipe) | number : '1.2' }} x {{ getItemName(r.id) }} -
        <span class="float-right" [ngClass]="{'not-found': !vendorHasEnough(r) && usingVendor(r)}">
          {{ getPriceString(r) }}
        </span>
      </a>
    </div>
  </ng-template>
</div>
