<mat-card *ngIf="!minimal; else realmAutoCompleteTemplate">
  <mat-card-header>
    <mat-card-title>
      Select your realm, region and item language
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngTemplateOutlet="realmAutoCompleteTemplate"></ng-container>
  </mat-card-content>

  <mat-card-content *ngIf="currentRealm">
    <strong>AH size in MB: </strong> {{ currentRealm.size | number }} <br>
    <strong>Timezone: </strong> {{ currentRealm.timezone }} <br>
    <strong>Battlegroup: </strong>  {{ currentRealm.battlegroup }} <br>
    <strong>Realm locale: </strong>  {{ currentRealm.locale }}
    <ng-container *ngIf="currentRealm.avgDelay < 150">
      <br>
      <strong>Update interval: </strong> {{ currentRealm.lowestDelay | number }}(min)
      - {{ currentRealm.avgDelay | number }}(avg) - {{ currentRealm.highestDelay | number }}(max)
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>

<ng-template #realmAutoCompleteTemplate>
  <form class="row" [formGroup]="form">
    <mat-form-field color="accent" class="col-md-4"  *ngIf="currentRealm?.gameBuild > 0">
      <mat-select placeholder="Select your AH"
                  formControlName="ahTypeId"
      ><mat-option *ngFor="let type of ahTypes" [value]="type.id">
        {{type.name[form.value.locale || 'en_GB']}}
      </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-{{ (currentRealm?.gameBuild > 0 ? 0 : 4) + (locale && !minimal ? 4 : 8) }}"
                    color="accent"
    >
      <input matInput
             placeholder="Select/Search for your realm"
             aria-label="State"
             [matAutocomplete]="auto"
             [formControl]="autocompleteField">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="onOptionSelected(realm.realm)"
                    *ngFor="let realm of filteredRealms"
                    [value]="realm.value">
          {{ realm.match.start }}<u><strong>{{ realm.match.match }}</strong></u>{{ realm.match.end }} - {{realm.realm.gameBuild === 1 ? 'Classic' : 'Retail'}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="col-md-4"
                    *ngIf="locale && !minimal"
                    color="accent"
    >
      <mat-select [disableOptionCentering]="true"
                  placeholder="Item language"
                  formControlName="locale">
        <mat-option *ngFor="let locale of locales" [value]="locale.locale">
          {{ locale.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</ng-template>