<h2>About</h2>
<p>
	WAH is (when it's done) created with the purpose, of helping me make gold in World of Warcraft.
	The application is going to show a user, how much gold it costs them to craft a spesific item.
	There will also be some functionality, allowing the user to only show profitable items and
	compare them to the current lowest buyout. There might also be something to help with 
	finding items beneath a certain threashold.
</p>

<h3>Technologies:</h3>
This webapplication uses the following technologies:
<ul>
	<li>Angular 2</li>
	<li>Php</li>
	<li>MySQL</li>
</ul>