<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">About</h2>
	</div>
	<div class="panel-body">
		<p>
			WAH - Crafting and auctioning tool is developed with the purpose of
			making it easier to earn gold in World of Warcraft. It helps the user 
			figuring out the crafting cost of a target item. It also allows you to 
			browse the auction house, get Blood of Sargeras value, 
			find out what items are below vendor sell value and more!
		</p>

		<p>
			If you got any feedback or any issues with the application, do please report
			then on the reddit thread. Click 
			<a href="https://www.reddit.com/r/woweconomy/comments/61m0jj/professioncrafting_auctioning_toolwebapp/" target="_blank">here</a>
			in order to get there, or search for it manually. If you don't report issues, they most likely might not be discovered. 
			If you find any and report them, Il'l fix them as soon as I have time.
		</p>

		<h3>Technologies:</h3>
		The source code is available over at 
		<a href="https://github.com/ukon1990/wow-auction-helper" target="_blank">GitHub</a>,
		you may feel free to fork it and create something based on it if 
		you wish. But please do leave credit, where credit is
		due. This webapplication uses the following technologies:
		<ul>
			<li>Angular 4</li>
			<li>Php</li>
			<li>MySQL</li>
		</ul>
		For the stylesheet, bootstrap is used along with two themed versions that can be found at <a href="https://bootswatch.com" target="_target"> bootswatch</a>. 
		The dark theme (default) is <a href="https://bootswatch.com/solar/" target="_blank">Solar</a> 
		and the light theme is <a href="https://bootswatch.com/paper/" target="_blank">Paper</a>.
	</div>
</div>