<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="what-is"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     What is WAH?
  </a>
  <!-- Dashboard
  <a mat-tab-link
     routerLink="dashboard"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Dashboard
  </a>
  -->
  <a mat-tab-link
     routerLink="where-is-the-data-from"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Where is the data from?
  </a>
  <a mat-tab-link
     routerLink="crafting"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Crafting
  </a>
  <a mat-tab-link
     routerLink="privacy"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Privacy
  </a>
  <a mat-tab-link
     routerLink="technology"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Technology
  </a>
  <a mat-tab-link
     routerLink="contributors"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Project contributors
  </a>
  <a mat-tab-link
     routerLink="issues"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Todos/Github Issues
  </a>
  <a mat-tab-link
     routerLink="changelog"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Changelog
  </a>
</nav>

<router-outlet></router-outlet>
