<em>
  I intend on updating this feature in the future, where it then would be globally synchronized (if users wish).
  This then might mean, that I might not be able to save all milling and prospecting history that you might have
  modified.
</em>
<em>
  Note: The value is per single source item. So, when milling 5 herbs, the value on the resulting items value are per 1
  herb.
</em>
<form [formGroup]="form">
  <mat-form-field
          color="accent"
  >
    <input matInput formControlName="minROI" placeholder="Minimum ROI in gold" type="number"/>
  </mat-form-field><!--
  <mat-form-field>
    <mat-select formControlName="type" placeholder="ROI type">
      <mat-option [value]="0">Gold</mat-option>
      <mat-option [value]="1">Percent</mat-option>
    </mat-select>
  </mat-form-field>-->
</form>
<mat-tab-group
        color="accent"
>
  <mat-tab label="Milling">
    <button class="mr-2 mt-2"
            (click)="openEditWindow(editingType.MILLING)"
            mat-raised-button
            color="accent"
    >
      Add new source item
    </button>
    <wah-data-boards
            [columns]="columns"
            [data]="data.milling"
            [type]="types.MILLING">
    </wah-data-boards>
    <wah-shuffle-item-manage
            *ngIf="isEditingType === editingType.MILLING"
            [sourceList]="data.milling"
            (close)="closeEditWindow()">
    </wah-shuffle-item-manage>
  </mat-tab>
  <mat-tab label="Prospecting">
    <button class="mr-2 mt-2"
            (click)="openEditWindow(editingType.PROSPECTING)"
            mat-raised-button
            color="accent"
    >
      Add new source item
    </button>
    <wah-data-boards
            [columns]="columns"
            [data]="data.prospecting"
            [type]="types.PROSPECTING">
    </wah-data-boards>
    <wah-shuffle-item-manage
            *ngIf="isEditingType === editingType.PROSPECTING"
            [sourceList]="data.prospecting"
            (close)="closeEditWindow()">
    </wah-shuffle-item-manage>
  </mat-tab>
</mat-tab-group>
