<h4>
  Time: {{time | date:'full'}}
</h4>

<div class="row">
  <div class="col-md-3">
    <mat-list>
      <mat-list-item>
        <div mat-line>
          Conntected threads
        </div>
        <div mat-line>
          {{ globalStatuses[globalStatuses?.length - 1]?.Threads_connected | number }}
        </div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>
          Max connections
        </div>
        <div mat-line>
          {{ globalStatuses[globalStatuses?.length - 1]?.Max_used_connections | number }}
        </div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>
          Uptime
        </div>
        <div mat-line>
          {{ globalStatuses[globalStatuses?.length - 1]?.Uptime / 60 / 60 | number }} hours
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="col-md-9">
    <wah-highcharts
            title="Hourly prices and quantity for the past 14 days"
            [series]="series"
            [yAxis]="yAxis"
            [(update)]="updatedChart"
    >
    </wah-highcharts>
  </div>
</div>

<wah-data-table
        filterParameter="info"
        [columns]="columns"
        [data]="processes"
></wah-data-table>

<wah-data-table
        filterParameter="info"
        [columns]="processHistoryColumns"
        [data]="processHistory"
></wah-data-table>

<wah-data-table
        filterParameter="name"
        [columns]="sizeColumns"
        [data]="size"
></wah-data-table>