# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
.esbuild
/tmp
shared/out-tsc
tmp
public
dist
.webpack
.serverless
coverage

# dependencies
node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/client/typings
*.log
#.package-lock.json

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

*.zip
*.json.gz
scripts/gzip
scripts/json

server-legacy/secrets/secrets\.js
.env
secrets.ts

shared/package-lock.json
api/package-lock.json
client/package-lock.json
client/.angular/