<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Information and supported platforms</ng-template>
    <div class="row">
      <div id="carouselControls" class="carousel slide col-md-6" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let img of imagesForRoll; let i = index" [ngClass]="{'active': i === 0}">
            <img class="d-block w-100" [src]="img.src" [alt]="img.alt">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="col-md-6">
        <h2>WoW auction helper web application</h2>
        <wah-about-what-is></wah-about-what-is>
        <h3>Privacy</h3>
        <wah-about-privacy></wah-about-privacy>
        <h3>Disclaimer</h3>
        <ul>
          <li>
            For the best user experience, it's recommended that you use
            <i class="fab fa-chrome"></i>
            Chrome (latest version) as your browser for this app.
          </li>
          <li>
            As I have a limited time on my hands, the following browsers are the ones I support(and run e2e tests on):
            <em>
              <i class="fab fa-chrome"></i>
              Chrome (latest version) and
              <i class="fab fa-firefox"></i>
              Firefox Quantum (latest version).</em>
          </li>
          <li>
            All calculations are done on the client (your computer).
          </li>
          <li>
            Item, pet, recipe, TSM/Wowuction and auction data is stored on your computer in order to reduce load time and bandwidth usage.
            This should take up about a maximum of 200MB total on your computer.
          </li>
          <li>
            Using tools like CCleaner to clean your browser cache etc, will remove all your settings. So be aware of that.
          </li>
          <li>
            If you wish to look at the code, please feel free to do so. The
            <i class="fab fa-github"></i>
            GitHub link can be found
            <a routerLink="/about">here</a>.
          </li>
          <li>
            The only data you need to input is your realm and region, anything else is optional.
          </li>
        </ul>
      </div>
    </div>
    <div>
      <button class="float-right" mat-button matStepperNext>Lets get started
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </mat-step>
  <mat-step>
    <form [formGroup]="_characterForm">
      <ng-template matStepLabel>Realm, region and locale</ng-template>
      <div class="row">
        <div class="col-md-4">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Select your realm, region and item language
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <mat-select  [disableOptionCentering]="true" placeholder="Region" formControlName="region">
                  <mat-option value="eu">
                    Europe
                  </mat-option>
                  <mat-option value="us">
                    America
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select  [disableOptionCentering]="true" placeholder="Realm" formControlName="realm">
                  <mat-option *ngFor="let slug of getRealmsKeys()" [value]="slug">
                    {{ getRealmWithkey(slug).name }}
                  </mat-option>
                </mat-select>
                <div *ngIf="isDownloadingRealm" class="float-left ml-1 loading">
                  <i class="fas fa-sync" aria-hidden="true"></i>
                </div>
              </mat-form-field>

              <mat-form-field class="col-md-4">
                <mat-select  [disableOptionCentering]="true" placeholder="Item language" formControlName="locale">
                  <mat-option *ngFor="let locale of locales" [value]="locale.locale">
                    {{ locale.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>

            <mat-card-content *ngIf="getRealmWithkey().name">
              This is a {{ getRealmWithkey(slug).population }} population realm,
              <span *ngIf="getRealmWithkey().queue; else noQueue">with queue.</span>
              <ng-template #noQueue>
                <span>without queue.</span>
              </ng-template>
              <span *ngIf="getRealmWithkey().connected_realms.length > 1">It is connected with {{ getRealmWithkey(slug).connected_realms.length }} realms.</span>
              It is using the timezone "{{ getRealmWithkey(slug).timezone }}".
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-8">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Import previous settings
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="col-md-10 float-left">
                <textarea class="col-md-12 row" matInput formControlName="importString" placeholder="Paste the string here"></textarea>
              </mat-form-field>
              <button class="float-right" mat-button matStepperPrevious (click)="importUserData()" [disabled]="_characterForm.controls.importString.status === 'INVALID'">
                <i class="fas fa-upload"></i>
                Restore
              </button>
              <button mat-button (click)="fileInput.click()">
                <i class="fas fa-upload"></i>
                Select a settings file to import
                <input class="d-none" type="file" accept="application/json" (change)="importFromFile($event)" #fileInput/>
              </button>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Select between the light or the dark theme:
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-slide-toggle matTooltip="Toggle dark theme on/off" [checked]="isDarkMode()" (change)="saveUser($event)">
                {{ isDarkMode() ? 'Change to light theme' : 'Change to dark theme' }}
              </mat-slide-toggle>
              <p>
                You can change this at any time, in the upper right corner.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>

    <button class="float-left" mat-button matStepperPrevious>
      <i class="fas fa-arrow-left"></i>
      Back
    </button>
    <button class="float-right" mat-button matStepperNext [disabled]="!isValid()">
      Next
      <i class="fas fa-arrow-right"></i>
    </button>
  </mat-step>
  <mat-step>
    <form [formGroup]="_characterForm">
      <ng-template matStepLabel>Characters (optional)</ng-template>
      <mat-card>
        <mat-card-content>
          <wah-characters [region]="_characterForm.value.region" [realm]="_characterForm.value.realm"></wah-characters>
        </mat-card-content>
      </mat-card>
      <button class="float-left" mat-button matStepperPrevious>
        <i class="fas fa-arrow-left"></i>
        Back
      </button>
      <button class="float-right" mat-button matStepperNext [disabled]="!isValid()">
        Next
      </button>
    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="_characterForm">
      <ng-template matStepLabel>API and settings (optional)</ng-template>
      <strong>Your API key (optional)</strong>
      <p>
        Supplying the app with an API key, allows it to display statistical data like Market value, estimated demand etc.
      </p>
      <p>
        Both TSM and WoWUction gives the realms market value. TSM gives give regional sale rate, regional daily sold and regional
        avg sale price. WoWUction gives the realms avg daily sold, posted and the estimated demand. You can only have one
        active at a given time. But you may provide, both keys but wowuction will be used if both are provided. You can change
        this in the settings late.
      </p>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            TSM
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Tradeskillmaster API key" formControlName="tsmKey">
          </mat-form-field>
          If you don't have a TSM account you can
          <a href="https://www.tradeskillmaster.com/user/register" target="_blank">create one by clicking this link</a>. Once you've done that, you can find your API key in the bottom of your
          <a href="https://www.tradeskillmaster.com/user" target="_blank">account page</a>.
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-2">
        <mat-card-header>
          <mat-card-title>
            WowUction
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="col-md-12">
            <input matInput placeholder="WoWUction API key" formControlName="wowUctionKey">
          </mat-form-field>
          If you don't have an account over at
          <a href="http://www.wowuction.com/" target="_blank">WoWUction</a>, you need to create one. Once you have done that, go to "Resources -> Data Export" and copy the text
          after "Tools/RealmDataExportGetFileStatic?token=" and paste that in above.
        </mat-card-content>
      </mat-card>
    </form>
    <div>
      <button class="float-left" mat-button matStepperPrevious>
        <i class="fas fa-arrow-left"></i>
        Back
      </button>
      <button class="float-right" mat-button [disabled]="!isValid()" (click)="completeSetup()">
        Complete the setup
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>