<mat-paginator *ngIf="data.length > pageRows[0]" [length]="data.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageRows"
  [pageIndex]="pageEvent.pageIndex" [showFirstLastButtons]="true" (page)="pageChange($event)">
</mat-paginator>
<div class="row col-md-12">
  <div *ngFor="let item of data | slice:getFromValue():getToValue(); let i = index" class="col-xs-12 col-md-6 col-lg-6 col-xl-4 mb-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title (click)="setSelectedItem(item)" class="small-title">
          <a rel="domain={{ locale }},item={{ item.id }}">
            <wah-icon class="float-left" [size]="22" [id]="item.id"></wah-icon>
            {{ item.name }}
          </a>
        </mat-card-title>
        <mat-card-subtitle>
          <strong>Buyout</strong> {{ item.buyout | gold }}<br>
          <strong>ROI</strong> {{ item.yield | gold }} 
          <span
            matTooltip='The break-even point (BEP) in economics, business—and specifically cost accounting—is the point at which total cost and total revenue are equal, i.e. "even". - Wikipedia'>
            (Break-even at {{ item.buyout + item.yield | gold }})
          </span><br>
          <strong>Data points</strong> {{ item.outOf | number }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <wah-data-table [id]="'id'" [columns]="columns" [data]="item.sources" [iconSize]="22"></wah-data-table>
      </mat-card-content>

      <mat-card-actions>
        <button (click)="openEditWindow(item)" mat-raised-button>
          Edit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-paginator *ngIf="data.length > pageRows[0]" [length]="data.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageRows"
  [pageIndex]="pageEvent.pageIndex" [showFirstLastButtons]="true" (page)="pageChange($event)">
</mat-paginator>


<wah-shuffle-item-manage
  *ngIf="itemToEdit"
  [newRemains]="itemToEdit"
  [sourceList]="data"
  [isEditing]="true"
  (close)="closeEditWindow()">
</wah-shuffle-item-manage>