<mat-tab-group>
  <mat-tab label="Realm, seller & API">
    :)
  </mat-tab>
  <mat-tab label="Crafting">
      Custom item price <br>
      Use trade venodor price for stuffs <br>
      Set custom prices for items (also from item panel?)
    </mat-tab>
  <mat-tab label="Characters/Crafters">
    <wah-characters></wah-characters>
  </mat-tab>
  <mat-tab label="Notifications">
      Auction house updates <br>
      Items below vendor sell price <br>
      If any of your characters on the current realm is undercutted <br>
      Allow the watchlist to send notifications. 
  </mat-tab>
</mat-tab-group>