<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Settings</h2>
	</div>
	<div class="panel-body">
		<div class="col-md-12">
			<div class="col-md-4">
				<h3>Realm & Character</h3>
				<p>
					Realm and region are requiered, while the character name is not. 
					However, you will not be able to see if you have been undercutted if you don't.
				</p>
				<div class="input-group input-group-sm">
					<span class="input-group-addon" id="basic-addon1">Region</span>
					<select class="form-control" name="region" type="text" [(ngModel)]="user.region" aria-describedby="basic-addon1">
						<option value="eu">EU</option>
						<option value="us">US</option>
					</select>
				</div>

				<div class="input-group input-group-sm">
					<span class="input-group-addon" id="basic-addon1">Realm</span>
					<input class="form-control col-md-2" name="realm" placeholder="Realm" type="text" [(ngModel)]="user.realm" aria-describedby="basic-addon1"
					/>
				</div>

				<div class="input-group input-group-sm">
					<span class="input-group-addon" id="basic-addon1">Character</span>
					<input class="form-control col-md-2" name="character" placeholder="Character" type="text" [(ngModel)]="user.character" aria-describedby="basic-addon1"
					/>
				</div>
			</div>

			<div class="col-md-4">
				<h3>API</h3>
				<p>
					If you want information indicating the demand of an item, then it's recommended that you either add a TSM or WoWuction API.
					You can get a TSM key <a href="https://www.tradeskillmaster.com/user" target="_blank">here</a>.
				</p>
				<!--<div class="input-group input-group-sm">
					<span class="input-group-addon" id="basic-addon1">WoWuction key</span>
					<input class="form-control" name="wowuction" placeholder="API key" type="text" [(ngModel)]="user.apiWoWu" aria-describedby="basic-addon1"/>
				</div>-->

				<div class="input-group input-group-sm">
					<span class="input-group-addon" id="basic-addon1">TSM key</span>
					<input class="form-control" name="tsm" placeholder="API key" type="text" [(ngModel)]="user.apiTsm" aria-describedby="basic-addon1"/>
				</div>

				<div class="input-group input-group-sm">
					<span class="input-group-addon" id="basic-addon1">API to use:</span>
					<select class="form-control" aria-describedby="basic-addon1" [(ngModel)]="user.apiToUse">
						<option value="none">None</option>
						<option value="tsm">TSM</option>
						<!--<option value="wowuction">WoWuction</option>-->
					</select>
				</div>
			</div>

			<div class="col-md-4">
				<h3>Crafting</h3>
				<div class="input-group input-group-sm">
					<span class="input-group-addon" id="basic-addon1">
						Use market value instead of buyout if buyout >=
					</span>
					<input class="form-control" 
						placeholder="API key" type="number"
						[(ngModel)]="user.buyoutLimit" aria-describedby="basic-addon1"/>
					<span class="input-group-addon" id="basic-addon1">
						% of the market value.
					</span>
				</div>
				<strong>Custom item prices</strong>
				<p>Altering this is not yet implemented</p>
				<ul>
					<li *ngFor="let cp of customPrices">
						{{cp.name}}({{cp.itemID}}) 
						<input type="number" [(ngModel)]="cp.price"/> 
						{{copperToArray(cp.price)}}
					</li>
				</ul>
			</div>
		</div>

		<button class="btn btn-default" (click)="saveUserData()">Save all changes</button>
		<button class="btn btn-secondary" (click)="changeStyle()">Turn dark mode {{ darkMode ? 'off' : 'on' }}</button>

		<div class="row col-md-12">
			<h3>Stored data</h3>
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" (click)="importUserData()">Import settings</button>
				</span>
				<input type="text" class="form-control" placeholder="Paste in the exported string here" [(ngModel)]="importedSettings">
			</div>
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" (click)="exportUserData()">Export settings</button>
				</span>
				<input type="text" class="form-control" placeholder="The exported string goes here" [(ngModel)]="exportedSettings">
			</div>

			<button class="btn btn-default" (click)="deleteUserData()">Delete settings</button>
		</div>
	</div>
</div>