<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="general"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Realm, seller & API
  </a>
  <a mat-tab-link
     routerLink="crafting"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Crafting
  </a>
  <a mat-tab-link
     routerLink="characters"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Characters
  </a>
  <a mat-tab-link
     routerLink="notifications"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
     Notifications
  </a>
</nav>

<router-outlet></router-outlet>



