<button mat-raised-button (click)="toggle()" *ngIf="!show; else tableTemplate">
  Display the statuses of all realms in a table
</button>

<ng-template #tableTemplate>
  <mat-card class="full-screen">
    <mat-card-header>
      <div class="action-icon mat-elevation-z5" (click)="toggle()" matTooltip="Click to open/close the full window.">
        <button mat-raised-button class="btn btn-sm">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <mat-card-title>
        Realm list
      </mat-card-title>

      <mat-card-subtitle>
        A realm has auto update set, if a user requests that realm. If it is not set to auto update, it's only kept ut to date once per day. Clicking on a row displays It's update history.
      </mat-card-subtitle><!--
      <mat-card-subtitle>
        Click on a realm that has been active withing the past 7 days, to get a log over the AH update interval.
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="updateLogForRealm">
          <strong>Highest delay:</strong> {{ updateLogForRealm.maxTime | number}} min |
          <strong>Avg delay:</strong> {{ updateLogForRealm.avgTime | number}} min |
          <strong>Lowest delay:</strong> {{ updateLogForRealm.minTime | number}} min
      </mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
      <wah-data-table
              filterParameter="name"
              [numOfRows]="100"
              [columns]="selectedDataset.columns"
              [data]="selectedDataset.data"
              (rowClicked)="realmSelect($event)">
      </wah-data-table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              (click)="service.getRealms()">
        Update
      </button>

      <button *ngIf="updateLogForRealm" mat-raised-button
              (click)="reset()">
        Back to realm list
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="backdrop" (click)="toggle()">
  </div>
</ng-template>
