<mat-card *ngIf="allData?.profitSummary; else noDataAvailableTemplate">
  <mat-card-header>
    <mat-card-subtitle>
      History
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Timespan" [formControl]="field">
        <mat-option *ngFor="let set of dataSets" [value]="set.key">
          {{ set.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <wah-data-table *ngIf="data.length > 0; else noDataTemplate"
                    [itemsPerPage]="10"
                    [columns]="columns"
                    [data]="data"></wah-data-table>

    <div *ngIf="data.length > 0 && personalSaleRate > 0">
      <strong>Sold vs expired and cancellations</strong> {{ personalSaleRate | percent }}
    </div>

    <wah-charts-data-sets
            storageName="sale-summary-chart"
            [datasets]="saleDatasets">
    </wah-charts-data-sets>

    <wah-charts-data-sets
            storageName="purchase-summary-chart"
            [datasets]="purchaseDatasets">
    </wah-charts-data-sets>

    <ng-template #noDataTemplate>
      <p>You have no gathered data for this item.</p>
    </ng-template>
  </mat-card-content>
</mat-card>

<ng-template #noDataAvailableTemplate>
  <wah-addon-import [minimal]="true"></wah-addon-import>
</ng-template>