<mat-card *ngIf="allData?.profitSummary; else noDataAvailableTemplate">
  <mat-card-header>
    <mat-card-subtitle>
      History
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field
            color="accent"
    >
      <mat-select placeholder="Timespan"
                  [formControl]="field">
        <mat-option *ngFor="let set of dataSets" [value]="set.key">
          {{ set.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="data.length > 0; else noDataTemplate">
      <div *ngIf="personalSaleRate > 0">
        <strong>Sold vs expired and cancellations</strong> {{ personalSaleRate | percent }}
      </div>
      <wah-data-table
              [itemsPerPage]="10"
              [columns]="columns"
              [data]="data"></wah-data-table>

      <wah-charts-data-sets *ngIf="saleDatasets && saleDatasets.datasets[0].data.length"
                            storageName="sale-summary-chart"
                            [datasets]="saleDatasets">
      </wah-charts-data-sets>

      <wah-charts-data-sets *ngIf="purchaseDatasets && purchaseDatasets.datasets[0].data.length"
                            storageName="purchase-summary-chart"
                            [datasets]="purchaseDatasets">
      </wah-charts-data-sets>
    </ng-container>

    <ng-template #noDataTemplate>
      <p>You have no gathered data for this item.</p>
    </ng-template>
    <wah-addon-import [minimal]="true"></wah-addon-import>
  </mat-card-content>
</mat-card>

<ng-template #noDataAvailableTemplate>
  <wah-addon-import [minimal]="true"></wah-addon-import>
</ng-template>
