<strong>Your characters</strong>
<p>
  Adding characters, allows you to see if they have been undercut and also allows you to only display recipes known to them
  in the crafting section.
</p>
<!-- Form -->
<form class="form-inline" (ngSubmit)="getCharacter()" [formGroup]="_characterForm">
  <mat-form-field class="col-md-3">
    <mat-select  [disableOptionCentering]="true" placeholder="Realm" formControlName="realm">
      <mat-select  [disableOptionCentering]="true" placeholder="Realm" formControlName="realm">
        <mat-option *ngFor="let slug of getRealmsKeys()" [value]="slug">
          {{ getRealmWithkey(slug).name }}
        </mat-option>
      </mat-select>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-md-6">
    <input matInput placeholder="Character" formControlName="name">
  </mat-form-field>
  <mat-checkbox formControlName="characterBelowLevelTen" class="mr-2"
    matTooltip="
      If the character is lower than level 10, it will not be found on the armory. 
      The app can then not get any crafting information etc for that character.">
    Below level 10
  </mat-checkbox>
  <button class="btn btn-sm btn-secondary mat-elevation-z5 col-md-1" type="submit">
    <span *ngIf="!downloading; else dl">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </span>
    <ng-template #dl>
        <span>
          <i class="fas fa-sync loading"></i>
        </span>
    </ng-template>
    Add
  </button>
</form>

<!-- Character overview -->
<div class="mt-1">
  <div *ngIf="getCharacters().length === 0; else overview" class="list-group-item">
    You have no registered crafters
  </div>
  <ng-template #overview>
    <div class="row col-md-12 slim-sm">
      <div *ngFor="let character of getCharacters(); let i = index;" class="col-md-12 col-lg-6 col-xl-4 mt-2 mb-2">
        <wah-character [character]="character" [region]="region" [index]="i" (update)="updateCharacter(i)" (remove)="removeCharacter(i)"></wah-character>
      </div>
    </div>
  </ng-template>
</div>