<header>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top mat-elevation-z5">
    <span class="navbar-brand">Wah</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="crafting" routerLinkActive="active">
            Crafting
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="setup" routerLinkActive="active">
              Setup
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="settings" routerLinkActive="active">
              Settings
            </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
    <mat-slide-toggle matTooltip="Darkmode" [checked]="isDarkMode()" (change)="saveUser($event)"></mat-slide-toggle>
  </nav>
</header>