<header>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top mat-elevation-z5">
    <span class="navbar-brand">Wah</span>
    <button class="navbar-toggler" type="button" (click)="showMenu = !showMenu" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{'show': showMenu}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="isRegisteredUser()">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
            Dashboard
          </a>
        </li>
        <li class="nav-item" *ngIf="isRegisteredUser()">
          <a class="nav-link" routerLink="crafting" routerLinkActive="active">
            Crafting
          </a>
        </li>
        <li class="nav-item" *ngIf="isRegisteredUser()">
          <a class="nav-link" routerLink="auctions" routerLinkActive="active">
            Auctions
          </a>
        </li>
        <li class="nav-item" *ngIf="isRegisteredUser()">
          <a class="nav-link" routerLink="my-auctions" routerLinkActive="active">
            My auctions 
            <span *ngIf="getUserAuctions().auctions.length > 0">
              ({{ getUserAuctions().undercutAuctions / getUserAuctions().auctions.length | percent }})
            </span>
          </a>
        </li>
        <ul class="navbar-nav" *ngIf="isRegisteredUser()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="nav-item" *ngIf="isRegisteredUser()">
                <a class="nav-link" routerLink="tools/watchlist" routerLinkActive="active">
                  Watchlist
                </a>
              </li>
              <li class="nav-item" *ngIf="isRegisteredUser()">
                <a class="nav-link" routerLink="tools/trade-vendor" routerLinkActive="active">
                  Trade vendors
                </a>
              </li><!--
              <li class="nav-item" *ngIf="isRegisteredUser()">
                <a class="nav-link" routerLink="tools/my-pets" routerLinkActive="active">
                  My pets
                </a>
              </li>-->
              <li class="nav-item" *ngIf="isRegisteredUser()">
                <a class="nav-link" routerLink="tools/sellers" routerLinkActive="active">
                  Sellers
                </a>
              </li>
              <li class="nav-item" *ngIf="isRegisteredUser()">
                <a class="nav-link" routerLink="tools/market-reset" routerLinkActive="active">
                  Market resetter
                </a>
              </li>
            </div>
          </li>
        </ul>
        <li class="nav-item" *ngIf="isRegisteredUser()">
          <a class="nav-link" routerLink="settings" routerLinkActive="active">
            Settings
          </a>
        </li>
        <li class="nav-item" *ngIf="!isRegisteredUser()">
          <a class="nav-link" routerLink="" routerLinkActive="active">
            Setup
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">
            About
          </a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isRegisteredUser()">
        <li class="nav-item dropdown">
          <wah-shopping-cart></wah-shopping-cart>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isRegisteredUser()">
        <li class="nav-item dropdown">
          <wah-download></wah-download>
        </li>
      </ul>
      <mat-slide-toggle matTooltip="Toggle dark theme on/off" [checked]="isDarkMode()" (change)="saveUser($event)"></mat-slide-toggle>
    </div>
  </nav>
</header>