<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Items, NPC, zones and pets
      </mat-panel-title>
    </mat-expansion-panel-header>
    All item and pet data are gathered from Blizzard's own data API, WowDB and WoWHead. It is stored in my database and S3 buckets as it is faster etc. This database the S3 buckets are updated as new items are found in either recipes or at the auction house.
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Crafting recipes
      </mat-panel-title>
    </mat-expansion-panel-header>
    The crafting recipes are provided by
    <a href="https://www.wowdb.com/" target="_blank">WoWDB</a>, and stored in my database. Missing recipes are dynamically added to the database as you and other users characters
    get new recipes.
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Statistical data (TSM & Blizzard API)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Sale rates and market prices are collected from TSM(TradeSkillMaster)'s API for EU and US users.
      You can also see your personal sale rate by importing your TSM addon sale data(optional). It is visible in the item detail panel.
    </p>

    <p>
      The app also collects price statistics from every realm, and allow you to see the price variations and get an idea of the volatility of an item the past 14 days.
      Hourly statistics is only available for realms that has been requested by a user, from the point in time the realm was first requested.
    </p>
  </mat-expansion-panel>
</mat-accordion>
