<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Items, NPC, zones and pets
      </mat-panel-title>
    </mat-expansion-panel-header>
    All item and pet data are gathered from Blizzard's own data API, WowDB and WoWHead. It is stored in my database and S3 buckets as it is faster etc. This database the S3 buckets are updated as new items are found in either recipes or at the auction house.
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Crafting recipes
      </mat-panel-title>
    </mat-expansion-panel-header>
    The crafting recipes are provided by
    <a href="https://www.wowdb.com/" target="_blank">WoWDB</a>, and stored in my database. Missing recipes are dynamically added to the database as you and other users characters
    get new recipes.
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Statistical data (TSM)
      </mat-panel-title>
    </mat-expansion-panel-header>
   The statistical data is provided by TSM(TradeSkillMaster), and is available for EU and US users. There is no need for you to do anything to get this data, as I store it on my "servers"(S3 buckets).
  </mat-expansion-panel>
</mat-accordion>
