<wah-close-btn (close)="close()"></wah-close-btn>

<h1 mat-dialog-title>
  Welcome back! There has been a new version installed, since your last visit.
</h1>

<mat-dialog-content>
  <em>
    If you find any bugs or wish to give feedback
    on the app, please do so on
    <a href="https://github.com/ukon1990/wow-auction-helper"
       matTooltip="Github: Contribute report bugs/issues and feature requests">
      <i class="fab fa-github"></i> Github
    </a> or via PM to me on Reddit or Discord (Ukon1990). As always, any feedback is appreciated!
  </em>

  <wah-changelog [changeLogs]="changelog"></wah-changelog>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button
          color="accent"
          (click)="close()">
    Close
  </button>
</mat-dialog-actions>
