<mat-card *ngIf="item">
  <mat-card-header>
    <mat-card-title class="small-title">
      <mat-checkbox class="float-left mr-2" [(ngModel)]="selectionItem.isSelected" (change)="setSelection($event)"></mat-checkbox>
      <a rel="item={{ item.itemID }}" [ngClass]="{'user-auction-lowest': isTargetMatch(item)}" (click)="setSelectedItem(item)">
          <wah-icon size="22" [id]="item.itemID"></wah-icon>
        {{ item.name }}
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row col-md-12">
      <div class="col-md-6">
        <div class="row">
          <strong class="mr-1">Available:</strong> {{ getAuctionItem(item.itemID).quantityTotal | number }}
        </div>
        <div class="row">
          <strong class="mr-1">Buyout:</strong> {{ getAuctionItem(item.itemID).buyout | gold }}
        </div>
        <div class="row" *ngIf="getAuctionItem(item.itemID).mktPrice > 0">
          <strong class="mr-1">Market value:</strong> {{ getAuctionItem(item.itemID).mktPrice | gold }}
        </div>
        <div class="row" *ngIf="getAuctionItem(item.itemID).regionSaleRate > 0">
          <strong class="mr-1">Regional sale rate:</strong> {{ getAuctionItem(item.itemID).regionSaleRate | percent }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <strong class="mr-1">Alert value:</strong>
          <span [ngSwitch]="item.targetType">
            <span *ngSwitchCase="'gold'">{{ item.value | gold }}</span>
            <span *ngSwitchCase="'percent'">{{ item.value }}%</span>
            <span *ngSwitchDefault>{{ item.value }}</span>
          </span>
        </div>
        <div class="row">
          <strong class="mr-1">Alert value in gold:</strong> {{ getAlertValueInGold(item) | gold }}
        </div>
        <div class="row">
          <strong class="mr-1">Alert criteria:</strong> {{ item.criteria }}
        </div>
        <div class="row">
          <strong class="mr-1">Alert compare to:</strong> 
          <mat-select  [disableOptionCentering]="true" [value]="item.compareTo" disabled>
            <mat-option *ngFor="let cv of comparableVariables" [value]="cv.id">
              {{ cv.title }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <mat-tab-group *ngIf="getRecipesForItem(item.itemID)">
      <mat-tab *ngFor="let recipe of getRecipesForItem(item.itemID)" [label]="getRecipeName(recipe)">
        <div class="row col-md-12">
          <div class="mr-auto">
            <strong>Cost:</strong> {{ recipe.cost | gold }}
          </div>
          <div class="ml-auto">
            <strong>ROI:</strong> {{ recipe.roi | gold }}
          </div>
        </div>
        <wah-materials [recipe]="recipe"></wah-materials>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-raised-button (click)="edit.emit('')">
      <div class="float-left mr-1">
        <i class="far fa-edit"></i>
      </div>
      Edit
    </button>
    <button type="button" mat-raised-button (click)="delete.emit('')">
      <div class="float-left mr-1">
        <i class="far fa-trash-alt"></i>
      </div>
      Delete
    </button>
  </mat-card-actions>
</mat-card>