<mat-card>
  <mat-card-header>
    <mat-card-title>
      <wah-icon size="22" [id]="item.itemID"></wah-icon>
      <a rel="item={{ item.itemID }}">
        {{ item.name }}
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row col-md-12">
      <div class="col-md-12">
        <strong>Compare to: </strong> {{ item.compareTo }}
      </div>
      <div class="col-md-12">
        <strong>Target: </strong> {{ item.target }}
      </div>
      <div class="col-md-12">
        <strong>Target type: </strong> {{ item.targetType }}
      </div>
      <div class="col-md-12">
        <strong>Criteria: </strong> {{ item.criteria }}
      </div>
    </div>
    <mat-tab-group *ngIf="getRecipesForItem(item.itemID)">
      <mat-tab *ngFor="let recipe of getRecipesForItem(item.itemID)" [label]="getRecipeName(recipe)">
        <div class="row col-md-12">
          <div class="mr-auto">
            <strong>Cost:</strong> {{ recipe.cost | gold }}
          </div>
          <div class="ml-auto">
            <strong>ROI:</strong> {{ recipe.roi | gold }}
          </div>
        </div>
        <wah-materials [reagents]="recipe.reagents"></wah-materials>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>