<div (click)="showDropdown = !showDropdown">
  <span class="float-left">
      <i class="fa fa-spinner loading" *ngIf="isDownloading()" aria-hidden="true"></i> 
      Last update: {{ timeSinceLastModified }} minutes ago
  </span>
  <div class="float-right">
    <i class="fa fa-chevron-down" *ngIf="showDropdown; else hideDropdown" aria-hidden="true"></i>
    <ng-template #hideDropdown>
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </ng-template>
  </div>
</div>

<div class="dl-dropdown p-1 row mat-elevation-z5" [ngClass]="{'show': showDropdown}">
  <div class="row col-md-12">
    <div class="col-md-12">
      Items last updated: {{ getTimestamp('items') | date:'M/d/yy hh:mm' }}
      <button class="btn btn-sm btn-default float-right" (click)="downloadItems()">
        <i class="fa fa-spinner loading" *ngIf="getDownloading().items" aria-hidden="true"></i>
        Download now
      </button>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-12">
      Pets last updated: {{ tempTimestamps.pets | date:'M/d/yy hh:mm' }}
      <button class="btn btn-sm btn-default float-right" (click)="downloadPets()">
        <i class="fa fa-spinner loading" *ngIf="getDownloading().pets" aria-hidden="true"></i>
        Download now
      </button>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-12">
      Recipes last updated: {{ tempTimestamps.recipes | date:'M/d/yy hh:mm' }}
      <button class="btn btn-sm btn-default float-right" (click)="donloadRecipes()">
        <i class="fa fa-spinner loading" *ngIf="getDownloading().recipes" aria-hidden="true"></i>
        Download now
      </button>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-12">
      Auctions last updated: {{ getTimestamp('auctions') | date:'M/d/yy hh:mm' }}
      <button class="btn btn-sm btn-default float-right" (click)="downloadAuctions()">
        <i class="fa fa-spinner loading" *ngIf="getDownloading().auctions" aria-hidden="true"></i>
        Download now
      </button>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-12">
      TSM last updated: {{ getTimestamp('tsm') | date:'M/d/yy hh:mm' }}
      <button class="btn btn-sm btn-default float-right">
        <i class="fa fa-spinner loading" *ngIf="getDownloading().api" aria-hidden="true"></i>
        Download now
      </button>
    </div>
  </div>
</div>