.dl-dropdown {
    padding-bottom: 1em;
    padding-top: 1em;
    top: 3.7em;
    right: 50px; /*TODO: To EM?*/
    background-color: pink;
    width: 30em;
    display: none;
    position: absolute;
}

.dl-dropdown.show {
    display: block;
}