<div>
  <span class="float-left">
    Last update: [time]
  </span>
  <div class="float-right" (click)="showDropdown = !showDropdown">
    <i class="fa fa-chevron-down" *ngIf="showDropdown; else hideDropdown" aria-hidden="true"></i>
    <ng-template #hideDropdown>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </ng-template>
  </div>
</div>

<div class="dl-dropdown p-1 row" [ngClass]="{'show': showDropdown}">
  <div class="col-md-12">
      Items last updated: [date] <button class="btn btn-sm btn-default float-right">Download now</button>
  </div>
  <div class="col-md-12">
      Pets last updated: [date] <button class="btn btn-sm btn-default float-right">Download now</button>
  </div>
  <div class="col-md-12">
      Recipes last updated: [date] <button class="btn btn-sm btn-default float-right">Download now</button>
  </div>
  <div class="col-md-12">
      Auctions last updated: [date] <button class="btn btn-sm btn-default float-right">Download now</button>
  </div>
  <div class="col-md-12">
      TSM last updated: [date] <button class="btn btn-sm btn-default float-right">Download now</button>
  </div>
</div>