.dl-dropdown {
    padding-bottom: 1em;
    padding-top: 1em;
    top: 2.4em;
    right: 0;
    background-color: #737373;
    width: 30em;
    display: none;
    position: absolute;
}

.dl-dropdown.show {
    display: block;
}