<p>
  This is a web application, developed with the intention of helping the user earn gold. Be it by crafting, snatching up bargains, checking out price trends, resetting a market,
  Or maybe just checking out the trade vendors.
</p>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dashboard
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      The dashboard page contains multiple boards, displaying
      information about what items can be profitable to craft, might be a good deal etc.
      You can tweak, add, remove or disable these boards and their rules, columns etc as you like.
    </p>
    <p>
      You can do this from within the dashboard page, by clicking the add new boards
      button or on a boards cogwheel/edit button.
    </p>
    <p>
      The default boards, are mainly related to professions and potential deals. If you cannot see the any
      profession boards other than the "Potentially profitable crafts" board, then you might not have added
      any characters to the app that have any recipes that are profitable.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Crafting
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      In the crafting section, you can filter recipes by profit, regional sale rate, profession etc. You can also hide any recipes you don't have; given that you have added characters to the app.
    </p>

    <p>
      You can add more characters in <a routerLink="/settings/characters">character settings(settings -> characters)</a>.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ItemModel details and statistical item data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      By clicking on an items, recipe or pet name in any table, you will get a popup with more information about that item.
    </p>
    <p>
      Here you can get information like
    </p>
    <ul>
      <li>Market value and sale rate via the TSM api</li>
      <li>Your personal sale rate(if TSM addon data is imported), a chart over your past sales and purchases of that item.</li>
      <li>Price and quantity statistics/history for the past 14 days</li>
      <li>Sources like created by, sold by, dropped by, milled by etc</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Import of TSM addon data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Doing this will allow you to get inventory, sale, purchase and expenses stats. This information can be used to calculate crafting costs for the shopping cart etc.</p>
  </mat-expansion-panel>
</mat-accordion>