.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}
#app-branding {
  small, h1 {
    float: left;
    clear: both;
  }

  h1 {
    margin-bottom: -.8em;
  }
}

.flex-spacer {
  flex-grow: 1;
}
.example-container {
  height: 100vh;
}

.side-nav-links {
  &  > a {
    width: 100%;
    margin: .5em 0;
  }

  & > wah-shopping-cart,
  & > wah-theme-select {
    width: 50%;
    margin: .5em 0; 
  }
}
