Only send notifications:
<form [formGroup]="form"><!--
  <mat-checkbox formControlName="isUpdateAvailable">Whenever the AH updates</mat-checkbox>-->
  <mat-checkbox formControlName="isUndercut">If I'm undercut</mat-checkbox><!--
  <mat-checkbox formControlName="isWatchlist">If there are one or more matches to my watchlist</mat-checkbox>
  <mat-checkbox formControlName="isBelowVendorSell">Items are below vendor sell price</mat-checkbox>-->
</form>

Test notification: <button (click)="sendTest()" mat-raised-button>Send</button>
<em>
  Notifications will not work in Chrome, until I have added a SSL/HTTPS 
  certificate to the server. It should work in Safari and Firefox. 
  I am sorry for the inconvinience. If you wish to use the functionality, 
  you can export your current settings when setting up the application for Firefox.
</em>

<em>Notifications are also not currently supported on smartphones or tablets</em>