<p>
  This list is automatically updated, as people make commits to the project.
</p>

<div class="row">
  <div *ngFor="let contributor of contributors" class="col-md-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar [style.background-image]="getIconStyle(contributor.avatar_url)" class="avatar"></div>
        <mat-card-title>{{ contributor.login }}</mat-card-title>
        <mat-card-subtitle>Contributions: {{ contributor.contributions | number }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a mat-button [href]="contributor.html_url" target="_blank">Go to profile page</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>