<mat-tab-group>
  <mat-tab label="Milling">
    <button class="mr-2 mt-2"
      (click)="openEditWindow(editingType.MILLING)" mat-raised-button>
      Add new source item
    </button>
    <wah-data-boards
      [columns]="columns"
      [data]="getMills()"
      [type]="types.MILLING">
    </wah-data-boards>
    <wah-shuffle-item-manage
      *ngIf="isEditingType === editingType.MILLING"
      [sourceList]="getMills()"
      (close)="closeEditWindow()">
    </wah-shuffle-item-manage>
  </mat-tab>
  <mat-tab label="Prospecting">
    <button class="mr-2 mt-2"
      (click)="openEditWindow(editingType.PROSPECTING)" mat-raised-button>
      Add new source item
    </button>
    <wah-data-boards
      [columns]="columns"
      [data]="getProspects()"
      [type]="types.PROSPECTING">
    </wah-data-boards>
    <wah-shuffle-item-manage
      *ngIf="isEditingType === editingType.PROSPECTING"
      [sourceList]="getProspects()"
      (close)="closeEditWindow()">
    </wah-shuffle-item-manage>
  </mat-tab>
</mat-tab-group>