<a class="nav-link dropdown-toggle" href="#" id="shoppingCart"
  data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="show"
  (click)="show = !show"
  matTooptip="Shopping cart">
  <div class="float-left mr-1">
    <i class="fas fa-shopping-cart"></i>
  </div>
  {{ getShoppingCart().recipes.length + getShoppingCart().items.length | number }}
</a>
<div class="dropdown-menu" aria-labelledby="shoppingCart" [ngClass]="{'show': show}" (click)="setShow()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <strong class="shopping-cart-header">
          Shopping cart
        </strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <wah-data-table [id]="'itemID'"
        [iconSize]="22"
        [columns]="columnsRecipes"
        [data]="getShoppingCart().recipes"></wah-data-table>

      <strong class="row col-md-12">Reagents needed:</strong>
      <wah-data-table [id]="'itemID'"
        [iconSize]="22"
        [columns]="columns"
        [data]="getShoppingCart().reagents"></wah-data-table>
      Sum buyout from AH: {{ getShoppingCart().buyout | gold }}
      <br> Sum material cost from AH: {{ getShoppingCart().cost | gold }}
      <br> Potential sale profit: {{ getShoppingCart().profit | gold }}
      <br>
      <mat-form-field *ngIf="getShoppingCart().tsmShoppingString && getShoppingCart().tsmShoppingString.length > 0" class="row col-md-12">
        <textarea matInput placeholder="TSM shopping string"
          [value]="getShoppingCart().tsmShoppingString"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn btn-default mat-elevation-z5" (click)="clearShoppingCart()">Empty shopping cart</button>
    </mat-card-actions>
  </mat-card>
</div>