<mat-card>
  <mat-card-header>
    <mat-card-title>
      Profit and cost summary
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field
              color="accent"
      >
        <mat-select placeholder="Realm" formControlName="realm">
          <mat-option *ngFor="let realm of realms" [value]="realm">
            {{ realm }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <em>
      TODO: Add a gold chart
    </em>


  </mat-card-content>
</mat-card>