<mat-card>
  <mat-card-header>
    <mat-card-title>
      Profit and cost summary
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field
              color="accent"
      >
        <mat-select placeholder="Realm" formControlName="realm">
          <mat-option *ngFor="let realm of realms" [value]="realm">
            {{ realm }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Period start</mat-label>
        <input matInput
               [matDatepicker]="startPicker"
               formControlName="startDate"
        >
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>

        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Period end</mat-label>
        <input matInput
               [matDatepicker]="endPicker"
               formControlName="endDate"
        >
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>

        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </form>

    <wah-data-table
      id="itemId"
      iconSize="22"
      itemsPerPage="100"
      [columns]="columns"
      [data]="mappedData"
    >
    </wah-data-table>
  </mat-card-content>
</mat-card>