<div class="full-screen">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4">
          <wah-character *ngIf="character" [character]="character" [isSeller]="true"></wah-character>
          <div *ngIf="!character && !isDownloadingCharacter()">
            This character is below level 10 or can not be found for some other reason
          </div>
          <wah-data-table id="item" iconSize="22" [columns]="columnsSeller" [data]="[getSeller()]">
            </wah-data-table>
        </div>
        <div class="col-md-8">
          <mat-tab-group>
            <mat-tab label="Auctions ({{ getSeller().auctions.length | number }})">
              <wah-data-table id="item" iconSize="22" [columns]="columns" [data]="getSeller().auctions">
              </wah-data-table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="backdrop" (click)="close()">
</div>