service:
  name: wah-api

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 720
  timeout: 120000

functions:
  auction:
    handler: auction.getAuctions
    events:
      - http:
          method: post
          path: auction
