<div class="full-screen" *ngIf="getSeller()">
  <mat-card>
    <mat-card-header>
      <div class="action-icon mat-elevation-z5" (click)="close()" matTooltip="Click to open/close the full window.">
        <button mat-raised-button class="btn btn-sm">
          <i class="fas fa-times" matTooltip="Close detail view"></i>
        </button>
      </div>

      <mat-card-title>
        <span *ngIf="!character">{{ getSeller()?.name }} @ {{ getSeller()?.realm }}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4">
          <wah-character *ngIf="character" [character]="character" [isSeller]="true"></wah-character>
          <div *ngIf="!character && !isDownloadingCharacter()">
            This character is below level 10 or can not be found for some other reason
          </div>
          <wah-data-table [id]="'item'" iconSize="22" [columns]="columnsSeller" [data]="[getSeller()]">
            </wah-data-table>
        </div>
        <div class="col-md-8">
          <mat-tab-group>
            <mat-tab label="Item class chart">
                <wah-seller-chart [seller]="getSeller()"></wah-seller-chart>
            </mat-tab>
            <mat-tab label="Auctions ({{ getSeller().auctions.length | number }})">
              <wah-data-table [id]="'item'" iconSize="22" [columns]="columns" [data]="getSeller().auctions" filterParameter="name">
              </wah-data-table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="backdrop" (click)="close()">
</div>