<mat-paginator *ngIf="data.length > pageRows[0]"
  [length]="data.length"
  [pageSize]="pageEvent.pageSize"
  [pageSizeOptions]="pageRows"
  [pageIndex]="pageEvent.pageIndex"
  (page)="pageChange($event)">
</mat-paginator>
<table class="table table-hover table-bordered table-striped table-sm" [ngClass]="{'table-dark': isDarkMode()}">
  <thead>
    <tr>
      <td *ngFor="let c of columns" (click)="sort(c.key)">
        <wah-sort-icon [key]="sorter.getKey(c.key)"></wah-sort-icon>
        {{ c.title }}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data | slice:getFromValue():getToValue()">
      <td *ngFor="let c of columns;">
        <span [ngSwitch]="c.dataType">
          <span *ngSwitchCase="'name'">
            <a rel="item={{ d.itemID }}" (click)="setSelectedItem(d)">
              <wah-icon *ngIf="id" class="float-left" [size]="iconSize ? iconSize : 36"
                [id]="d[id]"
                [petSpeciesId]="d?.petSpeciesId"></wah-icon>
              {{ d[c.key] ? d[c.key] : getItem(d.itemID)?.name }}
            </a>
            <span *ngIf="isCrafting">
              <br>
              <span *ngIf="getItem(d.itemID).name !== d.name">
                {{ getItem(d.itemID).name }} <br>
              </span>
              {{ d.profession }} <span *ngIf="d.rank"> - {{ d.rank }}</span>
            </span>
          </span>
          <wah-materials *ngSwitchCase="'materials'" [reagents]="d[c.key]"></wah-materials>
          <span *ngSwitchCase="'gold'">
            {{ d[c.key] | gold}}
            <span *ngIf="c.key === 'buyout' && d.mktPrice">
              ({{ d.buyout / d.mktPrice | percent }} of MV)
            </span>

            <span *ngIf="c.key === 'roi' && d.cost">
                ({{ d.roi / d.cost | percent }})
              </span>
          </span>
          <span *ngSwitchCase="'gold-per-item'">
              {{ d[c.key] / d.quantity | gold}}
          </span>
          <span *ngSwitchCase="'wdb-link'">
            <a href="http://www.wowdb.com/npcs/{{ d[c.key] }}" target="_blank">
              Open
              <i class="fas fa-external-link-square-alt"></i>
            </a>
          </span>
          <span *ngSwitchCase="'whead-link'">
            <a href="http://www.wowhead.com/npc={{ d[c.key] }}" target="_blank">
              Open
              <i class="fas fa-external-link-square-alt"></i>
            </a>
          </span>
          <span *ngSwitchCase="'percent'">{{ d[c.key] | percent }}</span>
          <span *ngSwitchCase="'number'">{{ d[c.key] | number }}</span>
          <span *ngSwitchCase="'time-left'">{{ auctionDuration[d[c.key]] }}</span>
          <span *ngSwitchCase="'action'">
            <button *ngIf="d.itemID" mat-icon-button (click)="setSelectedItem(d)" matTooltip="View item details">
              <i class="fas fa-eye"></i>
            </button>
            <button mat-icon-button matTooltip="Add to shopping cart">
              <i class="fas fa-cart-plus"></i>
            </button>
            <a *ngIf="d.itemID"
              target="_blank"
              href="https://{{ getUser().region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{ d.itemID }}"
              mat-icon-button matTooltip="Go to Web AH and buy">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </span>
          <span *ngSwitchDefault>{{ d[c.key] }}</span>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<mat-paginator *ngIf="data.length > pageRows[0]"
  [length]="data.length"
  [pageSize]="pageEvent.pageSize"
  [pageSizeOptions]="pageRows"
  [pageIndex]="pageEvent.pageIndex"
  (page)="pageChange($event)">
</mat-paginator>