<mat-paginator *ngIf="data.length > pageRows[0]"
  [length]="data.length"
  [pageSize]="pageEvent.pageSize"
  [pageSizeOptions]="pageRows"
  [pageIndex]="pageEvent.pageIndex"
  [showFirstLastButtons]="true"
  (page)="pageChange($event)">
</mat-paginator>
<table class="table table-hover table-bordered table-striped table-sm" [ngClass]="{'table-dark': isDarkMode()}">
  <thead>
    <tr>
      <ng-container *ngFor="let c of columns">
        <td (click)="sort(c)" *ngIf="displayColumn(c)">
          <wah-sort-icon [key]="sorter.getKey(c.key)"></wah-sort-icon>
          {{ c.title }}
        </td>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data | slice:getFromValue():getToValue(); let i = index"
      [ngClass]="{'user-auction-lowest': isUsersAuction(d)}">
      <ng-container *ngFor="let c of columns;">
        <td [class]="c.cssClass" *ngIf="displayColumn(c)">
          <span [ngSwitch]="c.dataType">
            <span *ngSwitchCase="'name'" [matTooltip]="hideCraftingDetails && isCrafting ? 'Source: ' + getSource(d) : ''">
              <a rel="domain={{ locale }},{{
                  d.petSpeciesId ?
                  ('npc=' + getPetId(d)) : ('item=' + getItemID(d))
                }}" (click)="select(d)">
                <wah-icon *ngIf="id" class="float-left" [size]="iconSize ? iconSize : 36"
                  [id]="d[id]"
                  [petSpeciesId]="d?.petSpeciesId"></wah-icon>
                {{ getItemName(d[c.key], d) }}
              </a>
              <span *ngIf="isCrafting">
                <br>
                <span *ngIf="getItem(d.itemID).name !== d.name && !hideCraftingDetails">
                  {{ getItem(d.itemID).name }} <br>
                </span>
                <span *ngIf="!hideCraftingDetails">
                  {{ d.profession }} <span *ngIf="d.rank"> - {{ d.rank }}</span> <br>
                  <span *ngIf="getCraftersForRecipe(d)">
                    Known by: {{ getCraftersForRecipe(d) }}
                  </span>
                </span>
              </span>
            </span>
            <span *ngSwitchCase="'seller'" (click)="setSelectedSeller({ name: d[c.key] })">
              {{ d[c.key] }}
            </span>
            <wah-materials *ngSwitchCase="'materials'" [recipe]="d"></wah-materials>
            <span *ngSwitchCase="'gold'">
              {{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | gold}}
              <span *ngIf="c.key === 'buyout' && d.mktPrice">
                ({{ d.buyout / d.mktPrice | percent }} of MV)
              </span>

              <span *ngIf="c.key === 'roi' && d.cost">
                  ({{ d.roi / d.cost | percent }})
                </span>
            </span>
            <span *ngSwitchCase="'gold-per-item'">
                {{ d[c.key] / d.quantity | gold}}
            </span>
            <span *ngSwitchCase="'wdb-link'">
              <a href="https://www.wowdb.com/npcs/{{ d[c.key] }}" target="_blank">
                Open
                <i class="fas fa-external-link-square-alt"></i>
              </a>
            </span>
            <span *ngSwitchCase="'whead-link'">
              <a href="http://www.wowhead.com/npc={{ d[c.key] }}" target="_blank">
                Open
                <i class="fas fa-external-link-square-alt"></i>
              </a>
            </span>
            <span *ngSwitchCase="'percent'">
              {{( d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | percent }}
            </span>
            <span *ngSwitchCase="'number'">
              {{( d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | number }}
            </span>
            <span *ngSwitchCase="'time-left'">{{ auctionDuration[d[c.key]] }}</span>
            <span *ngSwitchCase="'input-number'">
              <mat-form-field class="row col-md-12">
                <input matInput type="number" [(ngModel)]="d[c.key]">
              </mat-form-field>
            </span>
            <span *ngSwitchCase="'input-text'">
              <mat-form-field class="row col-md-12">
                <input matInput type="text" [(ngModel)]="d[c.key]">
              </mat-form-field>
            </span>
            <span *ngSwitchCase="'action'">
              <button *ngIf="getItemID(d)" mat-icon-button (click)="setSelectedItem(d)" matTooltip="View item details">
                <i class="fas fa-eye"></i>
              </button>
              <button mat-icon-button (click)="addEntryToCart(d)" matTooltip="Add to shopping cart"
                *ngIf="isCrafting && c.actions[0] !== 'custom-price-delete' && c.actions[0] !== 'custom-procs-delete' && c.actions[0] !== 'watchlist-group-delete'">
                <i class="fas fa-cart-plus"></i>
              </button>
              <button *ngIf="c.actions[0] === 'watchlist-group-delete'" mat-icon-button
                matTooltip="Removes the watchlistgroup and it's items"
                (click)="removeGroup(i)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              <button *ngIf="c.actions[0] === 'custom-price-delete'" mat-icon-button
                (click)="customPrices().remove(d, i)" matTooltip="Remove from custom price list">
                <i class="fas fa-trash-alt"></i>
              </button>
              <button *ngIf="c.actions[0] === 'custom-procs-delete'" mat-icon-button
              (click)="customProcs().remove(d, i)" matTooltip="Remove from custom procs list">
              <i class="fas fa-trash-alt"></i>
            </button>
            </span>
            <span *ngSwitchCase="'cart-delete'">
              <button *ngIf="getItemID(d)" mat-icon-button (click)="removeRecipe(d, i)"
                matTooltip="Remove item from the shopping cart">
                <i class="fas fa-trash-alt"></i>
              </button>
            </span>
            <span *ngSwitchDefault>{{( d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) }}</span>
          </span>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<mat-paginator *ngIf="data.length > pageRows[0]"
  [length]="data.length"
  [pageSize]="pageEvent.pageSize"
  [pageSizeOptions]="pageRows"
  [pageIndex]="pageEvent.pageIndex"
  [showFirstLastButtons]="true"
  (page)="pageChange($event)">
</mat-paginator>
