<div class="row col-md-12 mt-2 mb-2" *ngFor="let r of reagents" matTooltip="There are currently {{ getAtAHCount(r.itemID) | number }} at the auction house">
  <a rel="item={{ r.itemID }}" [ngClass]="{'not-found': !isEnoughAtAH(r.itemID, r.count) }">
      <wah-icon
        *ngIf="r.itemID" class="float-left" size="22" [id]="r.itemID"></wah-icon>
      {{ r.count }} x {{ r.name }}
  </a>
  <div class="col-md-12 row">
    <span class="ml-5">{{ getItemValue(r.itemID) | gold }}</span>
  </div>
  <span class="ml-auto" (click)="setSelectedItem(r)" matTooltip="Get details about {{ r.name }}">
    <i class="fas fa-eye"></i>
  </span>
</div>