<div class="row col-md-12 mt-2 mb-2" *ngFor="let r of recipe.reagents">

  <!-- Intermidiate craft -->
  <mat-card *ngIf="getRecipeForItem(r.itemID) && useIntermediateCrafting(); else regular" class="row col-md-12">
    <mat-card-header>
      <mat-card-title>
        <a class="col-md-12" rel="spell={{ getRecipeForItem(r.itemID).spellID }}" [ngClass]="{'not-found': !isEnoughAtAH(r.itemID, r.count) }">
          <wah-icon *ngIf="r.itemID" class="float-left" size="22" [id]="r.itemID"></wah-icon>
          {{ r.count / getMinCount(recipe) | number : '1.2' }} x {{ getRecipeForItem(r.itemID).name }} - {{ getRecipeForItem(r.itemID).cost | gold }}
        </a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="ml-3" *ngFor="let subR of getRecipeForItem(r.itemID).reagents">
        <a rel="item={{ subR.itemID }}" [ngClass]="{'not-found': !isEnoughAtAH(subR.itemID, subR.count) }"
          matTooltip="There are currently {{ getAtAHCount(subR.itemID) | number }} at the auction house">
          <wah-icon *ngIf="subR.itemID" class="float-left" size="22" [id]="subR.itemID"></wah-icon>
          {{ subR.count * r.count / getMinCount(recipe) / getMinCount(getRecipeForItem(r.itemID)) | number : '1.2' }} x {{ subR.name }}
        </a>
        <span class="ml-auto" (click)="setSelectedItem(subR)" matTooltip="Get details about {{ subR.name }}">
          <i class="fas fa-eye"></i>
        </span>
        <div class="col-md-12 row">
          <span class="ml-5">{{ getItemValue(subR.itemID) | gold }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- No reasonable intermidiate crafts available -->
  <ng-template #regular>
    <a rel="item={{ r.itemID }}" [ngClass]="{'not-found': !isEnoughAtAH(r.itemID, r.count) }"
      matTooltip="There are currently {{ getAtAHCount(r.itemID) | number }} at the auction house">
      <wah-icon *ngIf="r.itemID" class="float-left" size="22" [id]="r.itemID"></wah-icon>
      {{ r.count / getMinCount(recipe) | number : '1.2' }} x {{ r.name }}
    </a>

    <span class="ml-auto" (click)="setSelectedItem(r)" matTooltip="Get details about {{ r.name }}">
      <i class="fas fa-eye"></i>
    </span>
    <div class="col-md-12 row">
      <span class="ml-5">{{ getItemValue(r.itemID) | gold }}</span>
    </div>
  </ng-template>
</div>

<!--wah-materials [reagents]="getRecipeForItem(r.itemID).reagents"></wah-materials>-->