<div
		*ngIf="activeTooltip"
		class="wah-tooltip mat-elevation-z10"
		[ngStyle]="{
                top: activeTooltip.y + 'px',
                left: activeTooltip.x + 'px',
                backgroundColor: theme.backgroundColor
              }"
>
	<wah-close-btn (close)="close()"></wah-close-btn>
	<div class="wowhead-tooltip custom" [innerHtml]="activeTooltip.body"></div>
	<div class="tooltip-extra mat-bg-primary">
		<div *ngIf="itemStats" class="row col-md-12">
			Avg regional sale rate: {{itemStats.tsm?.salePct | percent}}<br/>
			Avg regional sale price: {{itemStats.tsm?.avgSalePrice | gold}}<br/>
			7 day trend: {{itemStats.past7Days?.price.trend | gold}}<br/>
			7 day avg: {{itemStats.past7Days?.price.avg | gold}}
		</div>
		<ng-container *ngIf="recipes || recipeId">
			<div
					*ngFor="let recipe of recipes"
					class="recipe-container"
			>
				<wah-materials
						[showRecipeName]="true"
						[recipe]="recipe"
						[recipeId]="recipeId"
				>
				</wah-materials>
				<div class="row col-md-12" *ngIf="recipe">
					Cost: {{ recipe.cost | gold }}<br/>
					Profit: {{ recipe.roi | gold }} <br/>
				</div>
			</div>
		</ng-container>
		<div *ngIf="activeTooltip.extra" [innerHTML]="activeTooltip.extra"></div>
		<br>

		<small>
			Click on the item name for more details.
		</small>
		<br>
		<small>
			Tooltip by: <a class="mat-text-accent"
										 target="_blank"
										 href="https://{{locale}}.{{isClassic ? 'wotlk' : ''}}.wowhead.com/item/{{activeTooltip.id}}"
		>
			WowHead
		</a>.
		</small>
	</div>
</div>