<strong>Your characters</strong>
<p>
  The recipe boards need information about your characters, in order to display the relevant profession boards.
</p>
<p>
  Any characters that you add to the app, is only stored on your computer and will be available upon next visit in this browser.
</p>
<!-- Form -->
<form class="form-inline" (ngSubmit)="getCharacter()" [formGroup]="form">
  <wah-select-realm
          [region]="form.getRawValue().region"
          [realm]="form.getRawValue().realm"
          [minimal]="true"
          (changes)="realmSelectionEvent($event)">
  </wah-select-realm>
  <mat-form-field class="col-md-6"
                  color="accent"
  >
    <input matInput
           data-private
           placeholder="Character"
           formControlName="name"
    >
  </mat-form-field>
  <button mat-stroked-button
          type="submit"
          color="accent"
  >
    <span *ngIf="!downloading; else dl">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </span>
    <ng-template #dl>
        <span>
          <i class="fas fa-sync loading"></i>
        </span>
    </ng-template>
    Add
  </button>
</form>

<!-- Character overview -->
<div class="mt-1">
  <div *ngIf="characterService.characters.value.length === 0; else overview" class="list-group-item">
    You have not added any characters
  </div>
  <ng-template #overview>
    <div class="row col-md-12 slim-sm">
      <div *ngFor="let character of characterService.characters.value;" class="col-md-12 col-lg-6 col-xl-4 mt-2 mb-2">
        <wah-character
          [character]="character"
          [region]="region"
          (hasUpdatedCharacter)="shouldRecalculateDashboards = true"
        >
        </wah-character>
      </div>
    </div>
  </ng-template>
</div>
