<!--
<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="items"
     [active]="activatedRoute === 'items'">
    Items ({{ getitemCount() | number }})
  </a>
  <a mat-tab-link
     routerLink="ah-summary"
     [active]="activatedRoute === 'ah-summary'">
    AH summary
  </a>
  <a mat-tab-link
     routerLink="/tools/tsm"
     [active]="activatedRoute === 'tsm'">
    TSM addon data(moved to tools)
  </a>
  <a mat-tab-link
     routerLink="manage-dashboards"
     [active]="activatedRoute == 'manage-dashboards'">
      <span class="mr-2">
        <i class="fas fa-cog"></i>
      </span>
    Manage dashboards
  </a>
</nav>
-->
<router-outlet></router-outlet>
