<p>This is a webapplication that is currently in development. There is no guarantee that it ever will be completed.</p>
<form class="form-group col-md-6 container" (ngSubmit)="nextPage()">
	<p>Please select realm and region. Optionally you can add your character as well. No personal data is stored on the client or server.</p>
	<select class="col-md-2 form-control" name="region" type="text" [(ngModel)]="u.region" required>
		<option value="eu">EU</option>
		<option value="us">US</option>
	</select>
	<input class="form-control" type="text" name="realm" placeholder="Realm" [(ngModel)]="u.realm" required/><br>
	<input class="col-md-6 form-control" name="character" placeholder="Character" type="text" [(ngModel)]="u.character"/><br>
	<button type="submit"> Go to auctions</button>
</form>