<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Setup</h2>
	</div>
	<div class="panel-body">
		<h2>WoW Auction Helper</h2>
		<p>
			This is a webapplication, that shows the user the
			potential profit of certain receipes in-game. It is
			aimed at helping the user earn gold in World of Warcraft.
			<br>
			Some of it's features include:
		</p>
		<ul>
			<li>
				The ability to make a shopping cart for materials from receipes,
				that is persistent between sessions (won't be lost if you reload)
			</li>
			<li>
				A clean overview of the current auctions (as live as available).
			</li>
			<li>
				Displaying the users current auctions, with indication for what auctions
				are undercutted, and wich aren't. (requires character name set)
			</li>
		</ul>
		<form class="form-group col-md-6 container" (ngSubmit)="nextPage()">
			<h3>Disclaimer:</h3>
			<ul>
				<li>
					The application will use much data,
					so do not use it on the mobile network. If you are on a high populated realm,
					each auction download can be up to 25 MB. Low populated realms can be as low as 5 MB.
				</li>
				<li>
					All calculations are done on the client (your computer).
				</li>
				<li>
					No personal data sent from your computer.
					Anything persistent is stored on your computer.
				</li>
				<li>
					Using tools like CCleaner to clean your browser cache etc, will remove all your settings. So be aware of that.
				</li>
				<li>
					If you wish to look at the code, please feel free to do so.
					The GitHub link can be found <a routerLink="/about">here</a>.
				</li>
				<li>
					The only data you need to input is your realm and region, anything else is optional.
				</li>
			</ul>
			<div class="col-md-12">
				<h3>Requiered</h3>
				<strong>Realm and region</strong>
				<p>
					To use the application and see crafting cost and auctions you need to define a realm.
					You change this at any time in the settings later on.
				</p>
				<div class="form-group">
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon1">Region</span>
						<select class="form-control"
							name="region" type="text"
							aria-describedby="basic-addon1"
							[(ngModel)]="u.region" required>

							<option value="eu">EU</option>
							<option value="us">US</option>
						</select>
					</div>

					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon1">Realm</span>
						<select class="form-control"
							name="realm" type="text"
							aria-describedby="basic-addon1"
							 #realm (change)="getRealmValue(realm.value)" required>

							<option *ngFor="let r of getRealms()" [value]="r.slug">{{r.name}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<h3>Optional</h3>
				<strong>Import existing settings</strong>
				<form class="form-group" (ngSubmit)="importUserData()" [formGroup]="importSettingsForm">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Import settings</button>
						</span>
						<textarea type="text" class="form-control" placeholder="Paste in the exported string here" 
							[formControl]="importSettingsForm.controls['settings']"></textarea>
					</div>
				</form>

				<br>
				<div class="form-group">
					<strong>Your goblin/auctioneer</strong>
					<p>
						This gives you easy access to seeing your auctions, and if you've been undercutted.
						By whom you've been undercutted etc.
						You change this at any time in the settings later on.
					</p>
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon1">Character</span>
						<input class="form-control col-md-2"
							name="character" placeholder="Character" type="text"
							[(ngModel)]="u.character" aria-describedby="basic-addon1"/>
					</div>

					<br>
					<strong>Your crafters</strong>
					<p>
						This allows for you to only display recipes you know.
						If your AH character is a crafter too, you should add him/her here also.
						You add and remove them at any time in the settings later on.
					</p>

					<form class="form-inline" (ngSubmit)="addCrafter()" [formGroup]="userCrafterForm">
						<div class="input-group input-group-sm col-md-12">
							<input class="form-control col-md-2" name="character" placeholder="Crafting character" type="text" aria-describedby="basic-addon1" [formControl]="userCrafterForm.controls['query']"/>
							<span class="btn btn-default input-group-addon glyphicon glyphicon-plus" id="basic-addon1" (click)="addCrafter()"></span>
						</div>
					</form>
					<ul class="list-group">
						<li *ngIf="u.crafters.length === 0" class="list-group-item">
							You have no registered crafters
						</li>
						<li *ngFor="let crafter of u.crafters; let i = index;" class="list-group-item">
							{{ crafter }}
							<i class="glyphicon glyphicon-trash pull-right" (click)="removeCrafter(i)"></i>
						</li>
					</ul>

					<strong>Your API keys</strong>
					<p>
						Supplying the app with an API key, allows it to display statistical data like Market value,
						estimated demand etc.
					</p>
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon1">TSM api key</span>
						<input class="form-control col-md-2"
							name="apiTsm" placeholder="api key" type="text"
							[(ngModel)]="u.apiTsm" aria-describedby="basic-addon1"/>
					</div>
					If you don't have a TSM account you can <a href="https://www.tradeskillmaster.com/user/register" target="_blank">create one by clicking this link</a>.
					Once you've done that, you can find your API key in the bottom of your <a href="https://www.tradeskillmaster.com/user" target="_blank">account page</a>.
					<!--
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="basic-addon1">Wowuction api key</span>
						<input class="form-control col-md-2"
							name="apiWoWu" placeholder="api key" type="text"
							[(ngModel)]="u.apiWoWu" aria-describedby="basic-addon1"/>
					</div>-->
				</div>
			</div><br>
			<button class="btn btn-primary" type="submit" [disabled]="!this.isValid()">
				Save and continue
				<i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
				</button>
		</form>

	</div>
</div>
