<span *ngIf="isLoading; else tableTemplate">
    <mat-progress-spinner></mat-progress-spinner> Loading auction houses…
</span>

<ng-template #tableTemplate>
    <div class="row">
       <div class="col">
           <button mat-raised-button color="primary" (click)="getAllAuctionHouses()">
               Refresh
           </button>
       </div>
        <div class="col">
            <button mat-raised-button color="accent" (click)="service.addMissingRealms()">
                Add missing realms
            </button>
        </div>
    </div>
    <wah-data-table
            filterParameter="realmSlugs"
            [columns]="columns"
            [data]="tableData"
    ></wah-data-table>
</ng-template>