<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Watchlist</h2>
    <div class="pull-right pull-up-buttons">
      <button *ngIf="display.groups; else groups" class="btn btn-primary mat-elevation-z5" (click)="display.toggleGroups()">
        <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
        Edit groups
      </button>
      <ng-template #groups>
        <button class="btn btn-primary mat-elevation-z5" (click)="display.toggleGroups()">
          <i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
          Edit groups
        </button>
      </ng-template>
      <button *ngIf="display.itemSearch; else itemSearch" class="btn btn-primary mat-elevation-z5" (click)="display.toggleSearchItem()">
        <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
        Add items
      </button>
      <ng-template #itemSearch>
        <button class="btn btn-primary mat-elevation-z5" (click)="display.toggleSearchItem()">
          <i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
          Add items
        </button>
      </ng-template>
    </div>
  </div>
  <div class="panel-body">
    <p *ngIf="watchlist.groups.length === 0">
      Adding items here, will give you a easy glance at their quantity available, current buyout and crafting cost. You will also
      recieve notifications based on values set by you.
    </p>
    <p *ngIf="!isNotificationsPermitted()">
      It turns out your browser has blocked notifications. If you wish notifications, please enable it.
    </p>

    <!-- Item groups -->
    <div *ngIf="display.groups">
      <form class="input-group" (ngSubmit)="addGroup()">
        <span class="input-group-addon" id="basic-addon1">Group name</span>
        <input type="text" [formControl]="groupForm.controls['name']" class="form-control" placeholder="Group name" aria-describedby="basic-addon1">
        <span class="input-group-btn">
          <button class="btn btn-default mat-elevation-z5" type="submit">Add</button>
        </span>
      </form>
      <table class="table table-striped">
        <tr>
          <th>Group</th>
          <th>Item count</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let group of watchlist.groups; let i = index">
          <td>
            {{ group }}
          </td>
          <td>
            {{ watchlist.items[group] ? watchlist.items[group].length : 0 }}
          </td>
          <td>
            <button class="btn btn-primary mat-elevation-z5 pull-right" (click)="removeGroup(i)">
              <i class="glyphicon glyphicon-trash"></i>
              Delete
            </button>
            <span *ngIf="i !== watchlist.groups.length - 1" class="pull-right" (click)="moveGroup(group, 1)">
              <i class="glyphicon glyphicon-arrow-down"></i>
            </span>
            <span *ngIf="i > 0" class="pull-right" (click)="moveGroup(group, -1)">
              <i class="glyphicon glyphicon-arrow-up"></i>
            </span>
          </td>
        </tr>
      </table>
    </div>

    <!-- Item query -->
    <div *ngIf="display.itemSearch">
      <form class="input-group" (ngSubmit)="searchItemDB()">
        <span class="input-group-addon" id="basic-addon1">Item name</span>
        <input type="text" [formControl]="itemSearchForm.controls['searchQuery']" class="form-control" placeholder="Item name starts with"
          aria-describedby="basic-addon1">
        <span class="input-group-btn">
          <button class="btn btn-default mat-elevation-z5" type="submit">Search</button>
        </span>
      </form>

      <table class="table table-striped">
        <tr>
          <th>Item</th>
          <th>Buyout</th>
          <th>Market value</th>
          <th>Alert price in copper</th>
          <th>Alert price</th>
          <th>Group</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let item of queryItems">
          <td>
            <span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-24 align-left" [style.background-image]="'url('+ getIcon(item) +')'"></span>
            <a rel="item={{ item.itemID }}" href="#" target="_blank">
              {{ item.name }}
            </a>
            <br>
          </td>
          <td>
            {{ getBuyout(item.id) | gold}}
          </td>
          <td>
            {{ getMarketValue(item.id) | gold }}
          </td>
          <td>
            <input type="number" [(ngModel)]="item.value" />
          </td>
          <td>{{ item.value || 0 | gold }}</td>
          <td>
            <select [(ngModel)]="item.group">
              <option *ngFor="let group of watchlist.groups" [value]="group">
                {{ group }}
              </option>
            </select>
          </td>
          <td>
            <button class="btn btn-primary mat-elevation-z5 pull-right" (click)="addItemToWatchlist(item)">
              <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
              Add
            </button>
          </td>
        </tr>
      </table>
    </div>

    <!-- Watchlist items -->
    <div *ngIf="!display.groups && !display.itemSearch">
      <div *ngFor="let group of watchlist.groups; let i = index">
        <div *ngIf="watchlist.items[group]" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{ group }}
            </h3>
            <div class="pull-right pull-up-bar">
              <span *ngIf="i !== watchlist.groups.length - 1" class="pull-right" (click)="moveGroup(group, 1)">
                <i class="glyphicon glyphicon-arrow-down"></i>
              </span>
              <span *ngIf="i > 0" class="pull-right" (click)="moveGroup(group, -1)">
                <i class="glyphicon glyphicon-arrow-up"></i>
              </span>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let item of watchlist.items[group]; let i = index" class="col-sm-6 col-md-4">
              <mat-card class="mb-2 mt-2">
                <mat-card-header>
                  <mat-card-title>
                    <i class="glyphicon glyphicon-bell pull-right" [ngClass]="{'using-manual-craft': item.alert, 'not-using-manual-craft': !item.alert}"></i>
                    <span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-24 align-left" [style.background-image]="'url('+ getIcon(item) +')'"></span>
                    <a rel="item={{ item.id }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{ item.id }}"
                      target="_blank">
                      {{ item.name }}
                    </a>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="row">
                    <div [ngClass]="user.apiToUse === 'tsm' ? 'col-md-6' : 'col-md-12'">
                        Available: {{ getAuctionItem(item.id).quantity_total | number }} pcs
                        <br>
                        <span [ngClass]="{'below-alert-value': item.value > getBuyout(item.id)}">Buyout: {{ getBuyout(item.id) | gold }}</span>
                        <br> Alert value: {{ item.value | gold }}
                        <br> Alert criteria: {{ item.criteria }} or equal
                        <br> Minimum crafting profit: {{ item.minCraftProfit }}%
                        <!-- TODO: Items below alert value <br>-->
                      </div>
                      <div class="col-md-6" *ngIf="user.apiToUse === 'tsm'">
                        Market value: {{ getMarketValue(item.id) }}
                        <br> Regional demand: {{ getAuctionItem(item.id).estDemand }}%
                      </div>
                  </div>
                  <!-- Recipes connected to this item that the user has -->
                  <div *ngIf="getUserRecipesForItem(item.id).length > 0">
                    <table class="table">
                      <tr>
                        <th>Materials</th>
                        <th>Profit</th>
                      </tr>
                      <tr *ngFor="let craft of getUserRecipesForItem(item.id)">
                        <td>
                          <div class="clearfix" [ngClass]="{'below-alert-value': (craft.profit / getBuyout(item.id)) * 100 >= item.minCraftProfit}"
                            *ngFor="let m of craft.reagents" [ngClass]="{'not-found': !isAtAH(m.itemID)}">
                            <span *ngIf="m.useCraftedBy === undefined || !m.useCraftedBy">
                              {{ m.count }} x
                              <a rel="item={{ m.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{m.itemID}}"
                                target="_blank">{{m.name}}</a>

                              {{ getBuyout(m.itemID) | gold }} ({{ getAuctionItem(m.itemID).quantity_total }} @ AH)
                              <i *ngIf="m.useCraftedBy !== undefined" class="glyphicon glyphicon-piggy-bank" [ngClass]="{'using-manual-craft': m.useCraftedBy, 'not-using-manual-craft': !m.useCraftedBy}"
                                (click)="setManualCraft(m, craft)" aria-hidden="true"></i>
                            </span>

                            <!-- For "child" recipes -->
                            <div *ngIf="m.useCraftedBy !== undefined && m.useCraftedBy">
                              <div class="clearfix" *ngFor="let subMats of getSubMaterials(m)" [ngClass]="{'not-found': !isAtAH(subMats.itemID)}">
                                {{ subMats.count * m.count }} x
                                <a rel="item={{ subMats.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{subMats.itemID}}"
                                  target="_blank">{{subMats.name}}</a>
                                {{ getBuyout(subMats.itemID) | gold }} ({{ getAuctionItem(subMats.itemID).quantity_total }} @ AH)
                                <i *ngIf="m.useCraftedBy !== undefined" class="glyphicon glyphicon-piggy-bank" [ngClass]="{'using-manual-craft': m.useCraftedBy, 'not-using-manual-craft': !m.useCraftedBy}"
                                  (click)="setManualCraft(m, craft)" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="hidden-xs">
                          {{ getBuyout(item.id) - craft.cost | gold }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <button class="btn btn-primary mat-elevation-z5" (click)="editItemDialog(group, i)">
                      <i class="glyphicon glyphicon-edit"></i>
                      Edit
                    </button>
                  <button class="btn btn-default mat-elevation-z5" (click)="removeItem(group, i)">
                      <i class="glyphicon glyphicon-trash"></i>
                      Delete
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal for deleting groups with items in them-->
<div id="group-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">
          Deleting "{{ watchlist.groups[editing.group.index] }}"
        </h4>
      </div>
      <div class="modal-body">
        <p>
          You are attempting to delete a group with items connected to it. You can either move the items to a new group and delete
          it, or delete the items and the group.
        </p>
      </div>
      <div class="modal-footer">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1">Move to</span>
          <select *ngIf="editing.group" type="text" placeholder="Group name" aria-describedby="basic-addon1" [(ngModel)]="editing.group.newIndex">
            <option *ngFor="let group of watchlist.groups; let i = index" [value]="i" [selected]="group === watchlist.groups[editing.group.index]">
              {{ group }}
            </option>
          </select>
        </div>
        <button type="button" class="btn btn-default mat-elevation-z5" data-dismiss="modal" (click)="removeGroupWithItems(false, this.editing.group.newIndex, this.editing.group.index)">
          Move to new group
        </button>
        <button type="button" class="btn btn-default mat-elevation-z5" data-dismiss="modal" (click)="removeGroupWithItems(true, this.editing.group.newIndex, this.editing.group.index)">
          Delete
        </button>
      </div>
    </div>

  </div>
</div>
<!-- Modal for editing items -->
<div id="item-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">
          {{ editing.item.object?.name }}
        </h4>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1">Change group</span>
          <select *ngIf="editing.item.object" type="text" placeholder="Group name" aria-describedby="basic-addon1" [(ngModel)]="editing.item.object.group">
            <option *ngFor="let group of watchlist.groups" [value]="group" [selected]="group === editing.item.group">
              {{ group }}
            </option>
          </select>
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1">Alert value in copper</span>
          <input *ngIf="editing.item.object" type="number" placeholder="value in copper" aria-describedby="basic-addon1" [(ngModel)]="editing.item.object.value">
          <span class="input-group-addon" id="basic-addon1">
            {{ editing.item.object?.value | gold }}
            <input type="checkbox" [(ngModel)]="editing.item.alert">
          </span>
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1">Minimum crafting profit</span>
          <input *ngIf="editing.item.object" type="number" placeholder="value in copper" aria-describedby="basic-addon1" [(ngModel)]="editing.item.object.minCraftProfit">
          <span class="input-group-addon" id="basic-addon1">%</span>
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1">Change alert criteria</span>
          <select *ngIf="editing.item.object" type="text" placeholder="Group name" aria-describedby="basic-addon1" [(ngModel)]="editing.item.object.criteria">
            <option *ngFor="let criteria of editing.item.criterias" [value]="criteria" [selected]="criteria === editing.item.object.criteria">
              {{ criteria }} or equal
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default mat-elevation-z5" data-dismiss="modal" (click)="editItem()">Save changes</button>
      </div>
    </div>

  </div>
</div>