<mat-tab-group selectedIndex="1">
  <mat-tab label="Manage groups">
    <wah-watchlist-manager></wah-watchlist-manager>
  </mat-tab>
  <ng-container *ngFor="let group of getWatchlist().groups">
    <mat-tab [label]="group.name">
      <wah-watchlist-item-manager *ngIf="selectedItem" [group]="selectedGroup" [item]="selectedItem" [index]="index" (close)="close()"></wah-watchlist-item-manager>
      <div class="row col-md-12">
        <div *ngFor="let item of group.items; let i = index" class="col-md-4 mb-3">
          <wah-watchlist-item [item]="item" (edit)="edit(group, item, i)" (delete)="delete(group, item, i)"></wah-watchlist-item>
        </div>
      </div>
    </mat-tab>
  </ng-container>
</mat-tab-group>