<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Watchlist</h2>
	</div>
	<div class="panel-body">
		<p>
			You will be notified of any item on your watchlisth, that are below your defined threshold. If you don't get notifications, you might have disabeled it in your browser.
		</p>

		<!-- Item groups -->
		<div>
			<form class="input-group" (ngSubmit)="addGroup()">
				<span class="input-group-addon" id="basic-addon1">Item name</span>
				<input type="text" [formControl]="groupForm.controls['name']" class="form-control" placeholder="Group name" aria-describedby="basic-addon1">
				<span class="input-group-btn">
			        <button class="btn btn-default" type="submit">Add</button>
		      </span>
			</form>
			<table class="table table-striped">
				<tr>
					<th>Item</th>
					<th>Item count</th>
					<th>Action</th>
				</tr>
				<tr *ngFor="let group of watchlist.groups; let i = index">
					<td>
						{{ group }}
					</td>
					<td>
						{{ watchlist.items[group] ? watchlist.items[group].length : 0 }}
					</td>
					<td>
						<span class="btn btn-primary pull-right" (click)="removeGroup(i)">
							<i class="glyphicon glyphicon-trash"></i>
							Delete
						</span>
					</td>
				</tr>
			</table>
		</div>

		<!-- Item query -->
		<div>
			<span *ngIf="display.itemSearch; else itemSearch"
				class="btn btn-primary"
				(click)="display.toggleSearchItem()">
				<i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>Show item search
			</span>
			<ng-template #itemSearch>
				<span class="btn btn-primary"
					(click)="display.toggleSearchItem()"><i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>Hide item search</span>
			</ng-template>
		</div>
		<div *ngIf="display.itemSearch">
			<form class="input-group" (ngSubmit)="searchItemDB()">
				<span class="input-group-addon" id="basic-addon1">Item name</span>
				<input type="text" [formControl]="itemSearchForm.controls['searchQuery']" class="form-control" placeholder="Item name starts with" aria-describedby="basic-addon1">
				<span class="input-group-btn">
			        <button class="btn btn-default" type="submit">Search</button>
		      </span>
			</form>

			<table class="table table-striped">
				<tr>
					<th>Item</th>
					<th>Alert price in copper</th>
					<th>Alert price</th>
					<th>Group</th>
					<th>Action</th>
				</tr>
				<tr *ngFor="let item of queryItems">
					<td>{{ item.name }}</td>
					<td><input type="number" [(ngModel)]="item.value"/></td>
					<td>{{ copperToArray(item.value || 0) }}</td>
					<td>
						<select [(ngModel)]="item.group">
							<option *ngFor="let group of watchlist.groups" [value]="group">
								{{ group }}
							</option>
						</select>
					</td>
					<td>
						<span class="btn btn-primary pull-right" (click)="addItemToWatchlist(item)">
							<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
							Add
						</span>
					</td>
				</tr>
			</table>
		</div>

		<!-- Watchlist items -->
		<div *ngFor="let group of watchlist.groups">
			<div *ngIf="watchlist.items[group]">
				<h3>{{ group }}</h3>
				<table class="table table-striped">
					<tr>
						<th>Item</th>
						<th>Buyout</th>
						<th>Alert price</th>
						<th>Action</th>
					</tr>
					<tr *ngFor="let item of watchlist.items[group]; let i = index">
						<td>{{ item.name }}</td>
						<td>{{ copperToArray(getBuyout(item.id)) }}</td>
						<td>{{ copperToArray(item.belowValue) }}</td>
						<td>
							<span class="btn btn-primary pull-right" (click)="editItemDialog(group, index)">
								<i class="glyphicon glyphicon-edit"></i>
								edit
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<!-- Modal for deleting groups with items in them-->
<div id="group-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Group deletion</h4>
			</div>
			<div class="modal-body">
				<p>
					You are attempting to delete a group with items connected to it.
					You can either move the items to a new
					group and delete it, or delete the items and the group.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
<!-- Modal for editing items -->
<div id="item-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit item</h4>
			</div>
			<div class="modal-body">
				<p>
					Editing an item!
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
