<mat-form-field *ngIf="filterParameter !== undefined" class="float-left">
  <input matInput placeholder="Search by name" [formControl]="searchField">
</mat-form-field>

<ng-content></ng-content>

<mat-paginator *ngIf="filteredData.length > pageRows[0] && !maxVisibleRows" class="float-right"
               [length]="filteredData.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageRows"
               [pageIndex]="pageEvent.pageIndex" [showFirstLastButtons]="true" (page)="pageChange($event)">
</mat-paginator>
<table class="table table-hover table-bordered table-striped table-sm {{theme.tableColorClass}}">
  <thead>
  <tr>
    <ng-container *ngFor="let c of columns">
      <td (click)="sort(c)" *ngIf="displayColumn(c)">
        <wah-sort-icon [key]="sorter.getKey(c.key)"></wah-sort-icon>
        {{ c.title }}
      </td>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of filteredData | slice: getFromValue():getToValue(); let i = index"
      [ngClass]="{'user-auction-lowest': isUsersAuction(d)}">
    <ng-container *ngFor="let c of columns;">
      <td [class]="c.cssClass" *ngIf="displayColumn(c)" (click)="this.rowClickEvent(c, d)">
          <span [ngSwitch]="c.dataType">
            <span *ngSwitchCase="'name'"
                  [matTooltip]="hideCraftingDetails && isCrafting ? 'Source: ' + getSource(d) : ''"
                  (click)="select(d, c)">
              <a rel="domain={{ locale }},bonus={{ getBonusList(d) }}{{
                getWHRelations(d, c)
                }}">
                <wah-icon *ngIf="id" class="float-left" [size]="iconSize ? iconSize : 36" [id]="getItemID(d, c)"
                          [petSpeciesId]="d?.petSpeciesId"></wah-icon>
                {{ getItemName(d[c.key], d) }}
              </a>
              <span *ngIf="isCrafting">
                <br>
                <span *ngIf="getItem(d.itemID).name !== d.name && !hideCraftingDetails">
                  {{ getItem(d.itemID).name }}
                  <br>
                </span>
                <span *ngIf="!hideCraftingDetails">
                  {{ d.profession }}
                  <span *ngIf="d.rank"> - {{ d.rank }}</span>
                  <br>
                  <span *ngIf="getCraftersForRecipe(d)">
                    Known by: {{ getCraftersForRecipe(d) }}
                  </span>
                </span>
              </span>
            </span>
            <span *ngSwitchCase="'date'">
              {{ d[c.key] | date:'dd.MMM yyyy HH:mm:ss' }}
            </span>
            <span *ngSwitchCase="'seller'" (click)="setSelectedSeller({ name: d[c.key] })">
              {{ d[c.key] }}
            </span>
            <wah-materials *ngSwitchCase="'materials'" [recipe]="d"></wah-materials>
            <span *ngSwitchCase="'gold'">
              {{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | gold }}
              <span *ngIf="c.key === 'buyout' && d.mktPrice">
                ({{ d.buyout / d.mktPrice | percent }} of MV)
              </span>

              <span *ngIf="c.key === 'roi' && d.cost">
                ({{ d.roi / d.cost | percent }})
              </span>
            </span>
            <span *ngSwitchCase="'gold-per-item'">
              {{ d[c.key] / d.quantity | gold }}
            </span>
            <span *ngSwitchCase="'vendor-currency'">
              <span *ngIf="!d.currency; else itemCurrency">
                {{ d[c.key] | gold }}
              </span>
              <ng-template #itemCurrency>
                <a rel="domain={{ locale }},item={{ d.currency }}">
                  <div class="float-left">
                    {{ d[c.key] | number }} x
                  </div>
                  <wah-icon *ngIf="id" class="float-left ml-1" [size]="22" [id]="d.currency"></wah-icon>
                </a>
              </ng-template>
            </span>
            <span *ngSwitchCase="'boolean'">
              <mat-checkbox [checked]="d[c.key]" disabled></mat-checkbox>
            </span>
            <span *ngSwitchCase="'wdb-link'">
              <a href="https://www.wowdb.com/{{ linkType ? linkType + 's' : 'npcs' }}/{{ d[c.key] }}" target="_blank">
                Open
                <i class="fas fa-external-link-square-alt"></i>
              </a>
            </span>
            <span *ngSwitchCase="'whead-link'">
              <a href="http://www.wowhead.com/{{linkType ? linkType : 'npc' }}={{ d[c.key] }}" target="_blank">
                Open
                <i class="fas fa-external-link-square-alt"></i>
              </a>
            </span>
            <span *ngSwitchCase="'percent'">
              {{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | percent }}
            </span>
            <span *ngSwitchCase="'number'">
              {{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | number }}
            </span>
            <a *ngSwitchCase="'zone'"
               href="http://www.wowhead.com/zone={{ d[c.options?.idName || id] }}"
               target="_blank">
                {{ d[c.key] }}
              </a>
            <span *ngSwitchCase="'array'">
              {{ d[c.key] ? d[c.key].toString() : '' }}
            </span>
            <span *ngSwitchCase="'time-left'">{{ auctionDuration[d[c.key]] }}</span>
            <span *ngSwitchCase="'input-number'">
              <mat-form-field class="row col-md-12">
                <input matInput type="number" [(ngModel)]="d[c.key]">
              </mat-form-field>
            </span>
            <span *ngSwitchCase="'input-text'">
              <mat-form-field class="row col-md-12">
                <input matInput type="text" [(ngModel)]="d[c.key]">
              </mat-form-field>
            </span>
            <span *ngSwitchCase="'action'">
              <button *ngIf="getItemID(d)" mat-icon-button (click)="setSelectedItem(d)" matTooltip="View item details">
                <i class="fas fa-eye"></i>
              </button>

              <ng-container *ngFor="let action of c.actions">
                <span [ngSwitch]="action">
                  <button *ngSwitchCase="'watchlist-group-delete'" mat-icon-button
                          matTooltip="Removes the watchlistgroup and it's items" (click)="removeGroup(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button *ngSwitchCase="'remove-from-list'" mat-icon-button
                          matTooltip="Removes this item from the list" (click)="removeFromList(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button *ngSwitchCase="'custom-price-delete'" mat-icon-button (click)="customPrices().remove(d, i)"
                          matTooltip="Remove from custom price list">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button *ngSwitchCase="'custom-procs-delete'" mat-icon-button (click)="customProcs().remove(d, i)"
                          matTooltip="Remove from custom procs list">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button *ngSwitchCase="'watchlist-group-move-up'" mat-icon-button (click)="moveGroup(i, i - 1)"
                          matTooltip="Move the group up. This will also change it's order in the dashboard.">
                    <i class="fas fa-chevron-up"></i>
                  </button>

                  <button *ngSwitchCase="'watchlist-group-move-down'" mat-icon-button (click)="moveGroup(i, i + 1)"
                          matTooltip="Move the group down. This will also change it's order in the dashboard.">
                    <i class="fas fa-chevron-down"></i>
                  </button>
                </span>
              </ng-container>
              <button mat-icon-button (click)="addEntryToCart(d)" matTooltip="Add to shopping cart"
                      *ngIf="isCrafting && c.actions[0] !== 'custom-price-delete' && c.actions[0] !== 'custom-procs-delete' && c.actions[0] !== 'watchlist-group-delete'">
                <i class="fas fa-cart-plus"></i>
              </button>
            </span>

            <ng-container *ngSwitchCase="'cart-recipe-count'">
              <mat-form-field class="input-column" *ngIf="isKnownRecipe(d)">
              <input matInput
                     type="number"
                     [value]="getCartCount(d, c)"
                     (change)="setCartCount(d, c, $event)">
            </mat-form-field>
            </ng-container>

            <span *ngSwitchCase="'cart-delete'">
              <button *ngIf="getItemID(d)" mat-icon-button (click)="removeRecipe(d, i)"
                      matTooltip="Remove item from the shopping cart">
                <i class="fas fa-trash-alt"></i>
              </button>
            </span>
            <span *ngSwitchDefault>{{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) }}</span>
          </span>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>

<mat-paginator *ngIf="filteredData.length > pageRows[0] && !maxVisibleRows" [length]="filteredData.length"
               [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageRows"
               [pageIndex]="pageEvent.pageIndex" [showFirstLastButtons]="true" (page)="pageChange($event)">
</mat-paginator>
