<mat-form-field *ngIf="filterParameter !== undefined"
                class="float-left"
                color="accent"
>
  <input matInput placeholder="Search by name" [formControl]="searchField">
</mat-form-field>

<ng-content></ng-content>

<mat-paginator *ngIf="filteredData.length > pageRows[0] && !maxVisibleRows"
               class="float-right"
               color="accent"
               [length]="filteredData.length"
               [pageSize]="pageEvent.pageSize"
               [pageSizeOptions]="pageRows"
               [pageIndex]="pageEvent.pageIndex"
               [showFirstLastButtons]="true"
               (page)="pageChange($event)">
</mat-paginator>
<table class="table table-hover table-bordered table-striped table-sm {{theme.tableColorClass}}">
  <thead>
  <tr>
    <ng-container *ngFor="let c of columns">
      <td (click)="sort(c)" *ngIf="displayColumn(c)">
        <wah-sort-icon [key]="sorter.getKey(c.key)"></wah-sort-icon>
        {{ c.title }}
      </td>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of filteredData | slice: getFromValue():getToValue(); let i = index">
    <ng-container *ngFor="let c of columns;">
      <td [class]="c.cssClass" *ngIf="displayColumn(c)" (click)="this.rowClickEvent(c, d)">
          <span [ngSwitch]="c.dataType">
            <span *ngSwitchCase="'name'"
                  [matTooltip]="hideCraftingDetails && isCrafting ? 'Source: ' + getSource(d) : ''"
                  (click)="select(d, c)">
              <a wahItemTooltip [item]="d" [rel]="getRelData(c, d)"
                 [routerLink]="getRouterLink(d, c)">
                <wah-icon *ngIf="!(c.options && c.options.noIcon) && id" class="float-left"
                          [size]="iconSize ? iconSize : 36" [id]="getItemID(d, c)"
                          [petSpeciesId]="d?.petSpeciesId"></wah-icon>
                {{ getItemName(d[c.key], d) }}
              </a>
              <span *ngIf="isCrafting">
                <br>
                <span *ngIf="getItem(d.itemID).name !== d.name && !hideCraftingDetails">
                  {{ getItem(d.itemID).name }}
                  <br>
                </span>
                <span *ngIf="!hideCraftingDetails && professionIdMap">
                  {{ professionIdMap.get(d?.professionId)?.name }}
                  <span *ngIf="d.rank"> - Rank {{ d.rank }}</span>
                  <br>
                  <span *ngIf="getCraftersForRecipe(d)">
                    Known by: {{ getCraftersForRecipe(d) }}
                  </span>
                </span>
              </span>
            </span>
            <span *ngSwitchCase="'date'">
              {{ d[c.key] | date:'dd.MMM yyyy HH:mm:ss' }}
            </span>
            <wah-materials *ngSwitchCase="'materials'" [recipe]="d"></wah-materials>
            <span *ngSwitchCase="'gold'">
              {{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | gold }}
              <span *ngIf="c.key === 'buyout' && d.mktPrice">
                ({{ d.buyout / d.mktPrice | percent }} of MV)
              </span>

              <span *ngIf="c.key === 'roi' && d.cost">
                ({{ d.roi / d.cost | percent }})
              </span>
            </span>
            <span *ngSwitchCase="'gold-per-item'">
              {{ d[c.key] / d.quantity | gold }}
            </span>
            <span *ngSwitchCase="'vendor-currency'">
              <span *ngIf="!d.currency; else itemCurrency">
                {{ d[c.key] | gold }}
              </span>
              <ng-template #itemCurrency>
                <a rel="domain={{ locale }},item={{ d.currency }}">
                  <div class="float-left">
                    {{ d[c.key] | number }} x
                  </div>
                  <wah-icon *ngIf="id" class="float-left ml-1" [size]="22" [id]="d.currency"></wah-icon>
                </a>
              </ng-template>
            </span>
            <span *ngSwitchCase="'boolean'">
              <mat-checkbox [checked]="d[c.key] === true || d[c.key] > 0" disabled></mat-checkbox>
            </span>
            <span *ngSwitchCase="'wdb-link'">
              <a href="https://www.wowdb.com/{{ linkType ? linkType + 's' : 'npcs' }}/{{ d[c.key] }}" target="_blank">
                Open
                <fa-icon [icon]="faExternalLink"></fa-icon>
              </a>
            </span>
            <span *ngSwitchCase="'whead-link'">
              <a href="http://www.wowhead.com/{{linkType ? linkType : 'npc' }}={{ d[c.key] }}" target="_blank">
                Open
                <fa-icon [icon]="faExternalLink"></fa-icon>
              </a>
            </span>
            <span *ngSwitchCase="'percent'">
              {{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | percent }}
            </span>
            <span *ngSwitchCase="'number'">
              {{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) | number }}
            </span>
            <ng-container *ngSwitchCase="'quality'">
              {{ itemQualities.get(d[c.key])?.name }}
            </ng-container>
            <a *ngSwitchCase="'zone'"
               href="http://www.wowhead.com/zone={{ d[c.options?.idName || id] }}"
               target="_blank">
                {{ d[c.key] }}
              <fa-icon [icon]="faExternalLink"></fa-icon>
            </a>
            <span *ngSwitchCase="'array'">
              {{ d[c.key] ? d[c.key].toString() : '' }}
            </span>
            <span *ngSwitchCase="'time-left'">{{ auctionDuration[d[c.key]] }}</span>
            <span *ngSwitchCase="'input-number'">
              <mat-form-field class="row col-md-12"
                              color="accent"
              >
                <input
                        matInput type="number"
                        [ngModel]="d[c.key]"
                        (ngModelChange)="onInputChange(d, c, $event)">
              </mat-form-field>
            </span>
            <ng-container *ngSwitchCase="'input-gold'">
              <mat-form-field class="row col-md-12"
                              color="accent"
              >
                <input
                        matInput
                        [ngModel]="d[c.key] | gold"
                        (ngModelChange)="setNewInputGoldValue(d, c, $event)"
                />
              </mat-form-field>
            </ng-container>
            <span *ngSwitchCase="'input-text'">
              <mat-form-field class="row col-md-12"
                              color="accent"
              >
                <input
                        matInput type="text"
                        [ngModel]="d[c.key]"
                        (ngModelChange)="onInputChange(d, c, $event)"
                />
              </mat-form-field>
            </span>

            <ng-container *ngSwitchCase="'row-actions'">
              <ng-container *ngFor="let action of c.actions">
                <button mat-icon-button
                        [color]="action.color || 'primary'"
                        [matTooltip]="action.tooltip"
                        (click)="action.callback(d, getPageIndex(i))">
                    <i [class]="action.icon"></i>
                  {{ action.text }}
                  </button>
              </ng-container>
            </ng-container>

            <span *ngSwitchCase="'action'">
              <button *ngIf="getItemID(d)"
                      mat-icon-button
                      color="accent"
                      (click)="setSelectedItem(d)"
                      matTooltip="View item details">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>

              <ng-container *ngFor="let action of c.actions">
                <span [ngSwitch]="action">

                  <button *ngSwitchCase="'remove-from-list'"
                          mat-icon-button
                          color="warn"
                          matTooltip="Removes this item from the list" (click)="removeFromList(i)">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>

                  <button *ngSwitchCase="'custom-price-delete'"
                          color="warn"
                          mat-icon-button
                          (click)="customPrices().remove(d, i)"
                          matTooltip="Remove from custom price list">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>

                  <button *ngSwitchCase="'custom-procs-delete'"
                          mat-icon-button (click)="customProcs().remove(d, i)"
                          color="warn"
                          matTooltip="Remove from custom procs list">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </span>
              </ng-container>
              <button mat-icon-button
                      (click)="addEntryToCart(d)"
                      color="accent"
                      matTooltip="Add to shopping cart"
                      *ngIf="isCrafting && c.actions[0] !== 'custom-price-delete' &&
                      c.actions[0] !== 'custom-procs-delete' && c.actions[0] !== 'watchlist-group-delete'">
                <fa-icon [icon]="faCartPlus"></fa-icon>
              </button>
            </span>

            <ng-container *ngSwitchCase="'cart-recipe-count'">
              <mat-form-field
                      class="input-column"
                      color="accent"
                      *ngIf="isKnownRecipe(d)">
                <input matInput
                       type="number"
                       [value]="getCartCount(d, c)"
                       (change)="setCartCount(d, c, $event)"/>
              </mat-form-field>
            </ng-container>

            <span *ngSwitchCase="'cart-delete'">
              <button *ngIf="getItemID(d)"
                      color="warn"
                      mat-icon-button
                      (click)="removeRecipe(d, i)"
                      matTooltip="Remove item from the shopping cart">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </span>
            <span *ngSwitchDefault>{{ (d[c.key] ? d[c.key] : getAuctionItem(d)[c.key]) }}</span>
          </span>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>

<mat-paginator *ngIf="filteredData.length > pageRows[0] && !maxVisibleRows"
               [length]="filteredData.length"
               [pageSize]="pageEvent.pageSize"
               [pageSizeOptions]="pageRows"
               [pageIndex]="pageEvent.pageIndex"
               [showFirstLastButtons]="true"
               (page)="pageChange($event)"
               color="accent"
>
</mat-paginator>
