<mat-form-field *ngIf="filterParameter !== undefined"
                class="float-left"
                color="accent"
>
  <input matInput placeholder="Search by name" [formControl]="searchField">
</mat-form-field>

<ng-content></ng-content>

<mat-paginator class="float-right"
               color="accent"
               [length]="filteredData.length"
               [pageSize]="pageEvent.pageSize"
               [pageSizeOptions]="pageRows"
               [pageIndex]="pageEvent.pageIndex"
               [showFirstLastButtons]="true"
               (page)="pageChange($event)">
</mat-paginator>
<table class="table table-hover table-bordered table-striped table-sm {{theme.tableColorClass}}">
  <thead>
  <tr>
    <ng-container *ngFor="let c of columns">
      <td (click)="sort(c)" *ngIf="displayColumn(c)" [matTooltip]="c.options && c.options.tooltip || undefined">
        <wah-sort-icon
                *ngIf="!c.canNotSort"
                [key]="sorter.getKey(c.key)">
        </wah-sort-icon>
        {{ c.title }}
      </td>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of filteredData | slice: getFromValue():getToValue(); let i = index">
    <ng-container *ngFor="let c of columns;">
      <td [class]="c.cssClass" *ngIf="displayColumn(c)" (click)="this.rowClickEvent(c, d)">
        <ng-container [ngSwitch]="c.dataType">
          <wah-name *ngSwitchCase="'name'"
                    [column]="c"
                    [row]="d"
                    [idName]="id"
                    [isCrafting]="isCrafting"
                    [hideCraftingDetails]="hideCraftingDetails"
                    [professionIds]="professionIdMap"
                    [linkType]="linkType"
                    [iconSize]="iconSize"
                    [useAuctionItemForName]="useAuctionItemForName"
          ></wah-name>
          <ng-container *ngSwitchCase="'profession'">
            {{professionIdMap.get(d[c.key])?.name }}
          </ng-container>
          <ng-container *ngSwitchCase="'date'">
            <ng-container *ngIf="d[c.key]">
              {{ d[c.key] | date:'dd.MMM yyyy HH:mm:ss' }}
            </ng-container>
          </ng-container>
          <wah-materials *ngSwitchCase="'materials'"
                         [recipe]="d"
                         [recipeId]="d?.recipeId">
          </wah-materials>

          <wah-gold *ngSwitchCase="'gold'"
                    [column]="c"
                    [row]="d"
                    [idName]="id">
          </wah-gold>
          <ng-container *ngSwitchCase="'gold-per-item'">
            {{ d[c.key] / d.quantity | gold }}
          </ng-container>

          <wah-item-currency
                  *ngSwitchCase="'vendor-currency'"
                  [column]="c"
                  [row]="d"
                  [idName]="id"
                  [locale]="locale"
          ></wah-item-currency>

          <mat-checkbox *ngSwitchCase="'boolean'"
                        [checked]="d[c.key] === true || d[c.key] > 0"
                        disabled></mat-checkbox>

          <ng-container *ngSwitchCase="'wdb-link'">
            <a href="https://www.wowdb.com/{{ linkType ? linkType + 's' : 'npcs' }}/{{ d[c.key] }}" target="_blank">
              Open
              <fa-icon [icon]="faExternalLink"></fa-icon>
            </a>
          </ng-container>
          <ng-container *ngSwitchCase="'whead-link'">
            <a href="http://www.wowhead.com/{{linkType ? linkType : 'npc' }}={{ d[c.key] }}" target="_blank">
              Open
              <fa-icon [icon]="faExternalLink"></fa-icon>
            </a>
          </ng-container>
          <ng-container *ngSwitchCase="'percent'">
            {{ d[c.key] | percent }}
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            {{ d[c.key] | number }}
          </ng-container>
          <ng-container *ngSwitchCase="'quality'">
            {{ itemQualities.get(d[c.key])?.name }}
          </ng-container>
          <a *ngSwitchCase="'zone'"
             href="http://www.wowhead.com/zone={{ d[c.options?.idName || id] }}"
             target="_blank">
            {{ d[c.key] }}
            <fa-icon [icon]="faExternalLink"></fa-icon>
          </a>
          <ng-container *ngSwitchCase="'array'">
            {{ d[c.key] ? d[c.key].join(', ') : '' }}
          </ng-container>
          <span *ngSwitchCase="'time-left'">{{ auctionDuration[d[c.key]] }}</span>

          <wah-input *ngSwitchCase="'input-number'"
                     [column]="c"
                     [row]="d"
                     type="number"
          ></wah-input>

          <wah-input *ngSwitchCase="'input-text'"
                     [column]="c"
                     [row]="d"
                     type="text"
          ></wah-input>

          <wah-input-gold *ngSwitchCase="'input-gold'"
                          [column]="c"
                          [row]="d"
          ></wah-input-gold>

          <wah-row-actions *ngSwitchCase="'row-actions'"
                           [column]="c"
                           [row]="d"
                           [pageEvent]="pageEvent"
                           [index]="i"
          >
          </wah-row-actions>

          <wah-base-actions *ngSwitchCase="'action'"
                            [column]="c"
                            [row]="d"
                            [rows]="filteredData"
                            [pageEvent]="pageEvent"
                            [index]="i"
          >
          </wah-base-actions>

          <wah-cart-count *ngSwitchCase="'cart-recipe-count'"
                          [column]="c"
                          [row]="d"
                          [isRecipeCart]="true"
                          [alwaysDisplayCart]="alwaysDisplayCart"
          >
          </wah-cart-count>

          <wah-cart-count *ngSwitchCase="'cart-item-count'"
                          [column]="c"
                          [row]="d"
                          [isRecipeCart]="false"
                          [alwaysDisplayCart]="alwaysDisplayCart"
          >
          </wah-cart-count>

          <ng-container *ngSwitchDefault>{{ d[c.key] }}</ng-container>
        </ng-container>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>

<mat-paginator [length]="filteredData.length"
               [pageSize]="pageEvent.pageSize"
               [pageSizeOptions]="pageRows"
               [pageIndex]="pageEvent.pageIndex"
               [showFirstLastButtons]="true"
               (page)="pageChange($event)"
               color="accent"
>
</mat-paginator>
