<div class="fixed-menu">
  <header>
    <nav>
      <mat-toolbar color="primary" role="heading">
        <mat-toolbar-row class="mat-elevation-z2">
          <ng-container
                  *ngTemplateOutlet="brandingTemplate">
          </ng-container>

          <ng-container *ngIf="!isSmallScreen()" >
            <ng-container
                    *ngTemplateOutlet="navElementsTemplate">
            </ng-container>
          </ng-container>


          <ng-container *ngTemplateOutlet="mobileMenuTemplate"></ng-container>
        </mat-toolbar-row>
      </mat-toolbar>
    </nav>
  </header>
</div>

<ng-template #brandingTemplate>
  <div id="app-branding" class="mr-3" routerLink="about/changelog">
    <h1>WAH</h1>
    <small>v.{{ appVersion }}</small>
  </div>
</ng-template>

<ng-template #mobileMenuTemplate>
  <ng-container *ngIf="isSmallScreen()">
    <wah-download *ngIf="isUserSet"></wah-download>

    <div class="flex-spacer"></div>

    <button type="button"
            mat-button
            [matMenuTriggerFor]="mobileMenuDropdown">
      <fa-icon [icon]="faBars" aria-label="Menu"></fa-icon>
    </button>

    <ng-container *ngTemplateOutlet="extraMenuTemplate"></ng-container>
  </ng-container>
</ng-template>

<ng-template #navElementsTemplate>
  <wah-menu-item *ngFor="let menuItem of menuItems"
          [item]="menuItem"></wah-menu-item>

  <div class="flex-spacer"></div>

  <wah-shopping-cart
          *ngIf="!displayExtraMenu() && isUserSet"
          (click)="doNotClose($event)">
  </wah-shopping-cart>

  <wah-download
          *ngIf="isUserSet"
          (click)="doNotClose($event)">
  </wah-download>

  <wah-realm-quick-select
          *ngIf="!displayExtraMenu() && isUserSet"
          (click)="doNotClose($event)">
  </wah-realm-quick-select>

  <wah-theme-select></wah-theme-select>
  <wah-show-profile></wah-show-profile>

  <ng-container *ngIf="displayExtraMenu()">
    <ng-container *ngTemplateOutlet="extraMenuTemplate"></ng-container>
  </ng-container>
</ng-template>

<ng-template #extraMenuTemplate>
  <ng-container *ngIf="isUserSet">
    <button mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Display the extra menu"
            matTooltip="Display the extra menu">
      <fa-icon [icon]="faEllipsisV"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container></ng-container>
      <div class="p-3">
        <wah-shopping-cart
                (click)="doNotClose($event)"></wah-shopping-cart>
        <wah-realm-quick-select
                (click)="doNotClose($event)"></wah-realm-quick-select>
        <wah-show-profile></wah-show-profile>
      </div>
    </mat-menu>
  </ng-container>
</ng-template>


<!-- Material Menu item templates -->
<mat-menu #mobileMenuDropdown="matMenu">
  <wah-menu-item *ngFor="let menuItem of menuItems"
          (click)="doNotClose($event)"
          [item]="menuItem"></wah-menu-item>
</mat-menu>
