<div class="fixed-menu">
  <header>
    <nav>
      <mat-toolbar color="primary" role="heading">
        <mat-toolbar-row class="mat-elevation-z2">
          <ng-container
                  *ngTemplateOutlet="brandingTemplate">
          </ng-container>

          <ng-container *ngIf="!isSmallScreen() && isUserSet" >
            <ng-container
                    *ngTemplateOutlet="navElementsTemplate">
            </ng-container>
          </ng-container>


          <ng-container *ngTemplateOutlet="mobileMenuTemplate"></ng-container>
        </mat-toolbar-row>
      </mat-toolbar>
    </nav>
  </header>
</div>

<ng-template #brandingTemplate>
  <div id="app-branding" class="mr-3" routerLink="about/changelog">
    <h1>WAH</h1>
    <small>v.{{ appVersion }}</small>
  </div>
</ng-template>

<ng-template #mobileMenuTemplate>
  <ng-container *ngIf="isSmallScreen() && isUserSet">
    <wah-download></wah-download>

    <div class="flex-spacer"></div>

    <button type="button"
            mat-button
            [matMenuTriggerFor]="mobileMenuDropdown">
      <fa-icon [icon]="['fas', 'bars']" aria-label="Menu"></fa-icon>
    </button>

    <ng-container *ngTemplateOutlet="extraMenuTemplate"></ng-container>
  </ng-container>
</ng-template>

<ng-template #navElementsTemplate>
  <wah-menu-item *ngFor="let menuItem of menuItems"
          [item]="menuItem"></wah-menu-item>

  <div class="flex-spacer"></div>


  <wah-shopping-cart *ngIf="!displayExtraMenu()"></wah-shopping-cart>

  <wah-download></wah-download>

  <wah-character-select *ngIf="!displayExtraMenu()"></wah-character-select>

  <wah-theme-select></wah-theme-select>

  <ng-container *ngIf="displayExtraMenu()">
    <ng-container *ngTemplateOutlet="extraMenuTemplate"></ng-container>
  </ng-container>
</ng-template>

<ng-template #extraMenuTemplate>
  <button mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Display the extra menu"
          matTooltip="Display the extra menu">
    <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container></ng-container>
    <div class="p-3">
      <wah-shopping-cart></wah-shopping-cart>
      <wah-character-select></wah-character-select>
    </div>
  </mat-menu>
</ng-template>


<!-- Material Menu item templates -->
<mat-menu #mobileMenuDropdown="matMenu">

  <wah-menu-item *ngFor="let menuItem of menuItems"
          [item]="menuItem"></wah-menu-item>
</mat-menu>
