<p>
  Your groups will be displayed in the dashboard section, if there are any matches for your rules. You have multiple rules
  per item (just add the item again). And you can compare to crafting cost(if you have character with a recipe for it), buyout,
  market value etc.
</p>
<mat-tab-group *ngIf="watchlist" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="tabChange($event)" dynamicHeight>
  <mat-tab label="Manage custom boards">
    <wah-watchlist-manager *ngIf="selectedTabIndex === 0"></wah-watchlist-manager>
  </mat-tab>

  <mat-tab label="Manage built-in boards">
    <wah-manage-items-built-in></wah-manage-items-built-in>
  </mat-tab>

  <ng-container *ngFor="let group of watchlist.groups; let tabIndex = index">
    <mat-tab [label]="group.name">
      <ng-container *ngIf="selectedTabIndex === tabIndex + 2">
        <div class="row mb-3 ml-2">
          <div class="col-md-12">
            <button class="float-left" type="button" (click)="openBachMenu(group)" mat-raised-button>
              <div class="float-left mr-1">
                <i class="far fa-plus-square"></i>
              </div>
              Add one or more item from query
            </button>

            <div class="float-left mt-2">
              <button class="ml-2"
                (click)="openBatchEdit(group)" mat-raised-button
                [disabled]="batchCount === 0">
                <i class="mr-2 far fa-edit"></i>
                Edit batch ({{ batchCount | number }})
              </button>

              <button class="ml-2"
                (click)="batchDelete(group)" mat-raised-button
                [disabled]="batchCount === 0">
                <i class="mr-2 fas fa-trash-alt"></i>
                Delete batch ({{ batchCount | number }})
              </button>

              <button class="ml-2"
                (click)="setSelections(true, itemSelection[group.name])" mat-raised-button>
                <i class="mr-2 fas fa-check"></i>
                Select all
              </button>

              <button class="ml-2"
                (click)="setSelections(false, itemSelection[group.name])" mat-raised-button>
                <i class="mr-2 fas fa-eraser"></i>
                Clear selections
              </button>

              <mat-checkbox class="ml-2" [(ngModel)]="group.hide" (change)="save(group)">
                Hide from dashboard
              </mat-checkbox>
            </div>

            <div class="float-left" matTooltip='You can change this in "Manage groups"'>
              <mat-form-field class="ml-2">
                <input matInput placeholder="Minimum regional sale rate %" [(ngModel)]="group.matchSaleRate" disabled>
              </mat-form-field>
              <mat-form-field class="ml-2">
                <input matInput placeholder="Minimum daily sold" [(ngModel)]="group.matchDailySold" disabled>
              </mat-form-field>
            </div>

            <div class="float-right mr-2">

              <mat-form-field class="ml-2" *ngIf="shareString">
                <input matInput placeholder="Copy this string to share th group" [value]="shareString">
              </mat-form-field>
              <button matTooltip="Share this group" (click)="shareGroup(group)" mat-raised-button>
                <i class=" mr-2 far fa-share-square"></i>
                Share
              </button>
            </div>
          </div>
        </div>

        <wah-watchlist-item-manager *ngIf="selectedItem || batchEditMode"
          [group]="selectedGroup"
          [item]="selectedItem"
          [selectionList]="itemSelection[group.name]"
          [batchMode]="batchEditMode"
          [index]="selectedIndex"
          (close)="close()">
        </wah-watchlist-item-manager>

        <wah-watchlist-item-batch *ngIf="selectedBatchAdd === group.name"
          [group]="selectedGroup"
          (close)="close()">
        </wah-watchlist-item-batch>

        <mat-form-field *ngIf="tsmGroupStrings[group.name]" class="col-md-12">
          <textarea placeholder="TSM group string" [value]="tsmGroupStrings[group.name]" matInput></textarea>
        </mat-form-field>

        <div class="slim-sm row col-md-12">
          <div *ngFor="let item of group.items; let i = index" class="col-md-6 col-lg-4 mb-3">
            <wah-watchlist-item
              [selectionItem]="itemSelection[group.name][i]"
              [item]="item"
              (isSelected)="setCountSelectedItems($event, itemSelection[group.name])"
              (edit)="edit(group, item, i)"
              (delete)="delete(group, item, i)">
            </wah-watchlist-item>
          </div>
        </div>
      </ng-container>
    </mat-tab>
  </ng-container>
</mat-tab-group>