<div
        class="mr-3"
        matBadge="{{items?.length | number}}"
        [matBadgeHidden]="!items?.length"
        matBadgeColor="accent"
        matBadgePosition="after"
        matBadgeDescription="The number of items in your shopping cart"
>
  <button mat-stroked-button
          (click)="toggleDialog()"
          matTooltip="Shopping cart"
          matBadge="{{recipes?.length | number}}"
          [matBadgeHidden]="!recipes?.length"
          matBadgeColor="primary"
          matBadgePosition="before"
          matBadgeDescription="The number of recipes in your shopping cart"
  >
  <span>
    <span class="float-left mr-1">
      <i class="fas fa-shopping-cart"></i>
    </span>
    Shopping cart
  </span>
    <small class="sub-text-small">
      {{ cart?.profit | gold }}
    </small>
  </button>
</div>