<form (ngSubmit)="addGroup()">
  <mat-form-field>
    <input matInput placeholder="The group name to add" [formControl]="groupNameForm">
  </mat-form-field>
  <button type="submit" mat-raised-button>Create group</button>
</form>
<p>
  Min sale rate requires a TSM or Wowuction API key. And are set as a percent value from 0 and up. The percent value is 10
  for 10% and not 0.1.
</p>
<p>
  Min daily sold requires a TSM or Wowuction API key.
</p>
<wah-data-table [columns]="columns" [data]="getWatchlist().groups"></wah-data-table>

<p>
  If you wish to share your setup, feel free to do so by exporting your watchlist groups.
</p>
<mat-tab-group>
  <mat-tab label="Export">
    <mat-form-field class="col-md-10">
      <textarea matInput [formControl]="exportString" placeholder="The export string will appear here."></textarea>
    </mat-form-field>
    <button class="col-md-2" mat-button (click)="export()">
      <i class="fas fa-upload"></i>
      Export
    </button>
  </mat-tab>
  <mat-tab label="Import">
    <p>
      Groups that have the same name as one of the new ones, will be overwritten unless you rename them.
    </p>
    <mat-form-field class="col-md-10">
      <textarea matInput [formControl]="importString" placeholder="Paste the string here"></textarea>
    </mat-form-field>

    <p *ngIf="importList.length > 0">
      You can change the group name if you want. If a group is unchecked by default, it indicates that there already exist a group
      with that name. If you import that group (check it in the list), you wil overwrite the existing one. Changing either
      of the groups name avoids this (above or below).
    </p>
    <div class="row">
      <div class="col-md-12" *ngFor="let import of importList">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-checkbox class="pl-2" matLine [(ngModel)]="import.import">
                  <mat-form-field>
                      <input class="ml-2" matInput [(ngModel)]="import.group.name">
                  </mat-form-field>
                </mat-checkbox>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-card>
              <mat-card-content>
                <div class="row">
                  <div class="col-md-3" *ngFor="let rule of import.group.items">
                    <a href="#" rel="domain={{ locale }},item={{ rule.itemID }}">
                      <wah-icon class="float-left" [size]="16" [id]="rule.itemID"></wah-icon>
                      <span class="float-left">{{ rule.name }}</span>
                    </a>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <button class="col-md-2" mat-button (click)="import()" [disabled]="importString.value === null || importString.value.length === 0">
      <i class="fas fa-upload"></i>
      Import
    </button>
  </mat-tab>
</mat-tab-group>