<mat-list dense class="horizontal-item-list">
  <mat-list-item>
    <div mat-line [style]="{color: theme.accentColorCode}">
      Sum total value
    </div>
    <div mat-line>
      {{ cart.totalValue | gold }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line [style]="{color: theme.accentColorCode}">
      Sum cost of materials
    </div>
    <div mat-line>
      {{ cart.sumCost | gold }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line [style]="{color: theme.accentColorCode}">
      Estimated profit
    </div>
    <div mat-line>
      {{ cart.profit | gold }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line [style]="{color: theme.accentColorCode}">
      Sum estimated cost, without inventory
    </div>
    <div mat-line>
      {{ cart.sumEstimatedInventoryCost | gold }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line [style]="{color: theme.accentColorCode}">
      Estimated profit with inventory
    </div>
    <div mat-line>
      {{ cart.profit - cart.sumEstimatedInventoryCost | gold }}
    </div>
  </mat-list-item>
</mat-list>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Import/Update inventory status and TSM shopping string
      </mat-panel-title>
      <mat-panel-description>
        Click here to open
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <wah-addon class="col-md-6" [importMode]="true"></wah-addon>
      <mat-form-field *ngIf="cart.tsmShoppingString && cart.tsmShoppingString.length > 0"
                      class="col-md-6">
        <textarea matInput
                  placeholder="TSM shopping string"
                  disabled
                  [value]="cart.tsmShoppingString">
        </textarea>
      </mat-form-field>
    </div>

  </mat-expansion-panel>
</mat-accordion>