<mat-card class="mb-2">
  <mat-card-header>
    <mat-card-title>
      {{ summary.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <wah-data-table *ngIf="!useChart; else chartTemplate"
                    itemsPerPage="30"
                    [data]="tableData"
                    [columns]="columns">
    </wah-data-table>
  </mat-card-content>
</mat-card>


<ng-template #chartTemplate>
  <wah-charts-data-sets
          storageName="{{summary.title}}-ah-summary-chart"
          [datasets]="dateData">
  </wah-charts-data-sets>
</ng-template>
