<h4>
  Time: {{ time | date:'full' }}
</h4>

<mat-list dense class="horizontal-item-list">
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Connected threads
    </div>
    <div matListItemLine>
      {{ globalStatuses[globalStatuses?.length - 1]?.Threads_connected | number }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Max connections
    </div>
    <div matListItemLine>
      {{ globalStatuses[globalStatuses?.length - 1]?.Max_used_connections | number }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Uptime
    </div>
    <div matListItemLine>
      {{ globalStatuses[globalStatuses?.length - 1]?.Uptime / 60 / 60 | number }} hours
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Fastest query time
    </div>
    <div matListItemLine>
      {{ this.queryTime.min | number }} ms
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Avg query time
    </div>
    <div matListItemLine>
      {{ this.queryTime.avg | number }} ms
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Max query time
    </div>
    <div matListItemLine>
      {{ this.queryTime.max | number }} ms
    </div>
  </mat-list-item>
</mat-list>
<wah-highcharts
        title="Hourly prices and quantity for the past 14 days"
        [series]="series"
        [yAxis]="yAxis"
        [xAxis]="xAxis"
        [(update)]="updatedChart"
>
</wah-highcharts>

<wah-data-table
        filterParameter="info"
        [columns]="columns"
        [data]="processes"
></wah-data-table>

<wah-data-table
        filterParameter="info"
        [columns]="processHistoryColumns"
        [data]="processHistory"
></wah-data-table>

<mat-list dense class="horizontal-item-list">
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Table size (MB)
    </div>
    <div matListItemLine>
      {{ tableStatSummary.totalTableSize | number }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Index size (MB)
    </div>
    <div matListItemLine>
      {{ tableStatSummary.totalIndexSizeInMb | number }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Total size (MB)
    </div>
    <div matListItemLine>
      {{ tableStatSummary.totalSizeInMb | number }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Available storage (MB)
    </div>
    <div matListItemLine>
      {{ tableStatSummary.totalFreeTableSizeInMb | number }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Total allocated storage (MB)
    </div>
    <div matListItemLine>
      {{ tableStatSummary.totalAllocatedTableSize | number }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matListItemLine [style]="{color: theme.accentColorCode}">
      Total number of rows
    </div>
    <div matListItemLine>
      {{ tableStatSummary.totalNumberOfRows | number }}
    </div>
  </mat-list-item>
</mat-list>
<wah-data-table
        filterParameter="name"
        [columns]="sizeColumns"
        [data]="size"
></wah-data-table>