<wah-news [ngClass]="{'unicorn-dark-theme': isDarkmode()}"></wah-news>
<wah-item *ngIf="isItemSelected()" [ngClass]="{'unicorn-dark-theme': isDarkmode()}"></wah-item>
<wah-seller *ngIf="isSellerSelected()" [ngClass]="{'unicorn-dark-theme': isDarkmode()}"></wah-seller>

<wah-navbar [ngClass]="{'unicorn-dark-theme': isDarkmode()}"></wah-navbar>
<div
  id="main"
  class="mt-6 container-fluid"
  [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
  <!-- TODO:  , 'd-none': isItemSelected() || isSellerSelected() -->
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
  <wah-footer></wah-footer>
</div>