
<div *ngIf="isHttps(); else notHttps">
  Only send notifications:
  <form [formGroup]="form"><!--
    <mat-checkbox formControlName="isUpdateAvailable">Whenever the AH updates</mat-checkbox>-->
    <mat-checkbox formControlName="isUndercut">If I'm undercut</mat-checkbox><!--
    <mat-checkbox formControlName="isWatchlist">If there are one or more matches to my watchlist</mat-checkbox>
    <mat-checkbox formControlName="isBelowVendorSell">Items are below vendor sell price</mat-checkbox>-->
  </form>
  
  Test notification: <button (click)="sendTest()" mat-raised-button>Send</button>
</div>

<ng-template #notHttps>
  <em>
    Notifications will not work if you are using http instead of https for the webapp. If you are using http to connect to the webapp, consider switching.
    Export your settings in the general tab and import them into the import 
    section on the <a href="https://wah.jonaskf.net" target="_blank">https://wah.jonaskf.net</a> (the link opens in a new tab).
  </em>
</ng-template>

<em>Notifications are also not currently supported in iOS</em>