<mat-card>
  <mat-card-header>
    <mat-card-title>
      Add new items
    </mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <form (ngSubmit)="addItems()" [formGroup]="form">
      <mat-form-field class="col">
        <mat-select formControlName="action">
          <mat-option *ngFor="let action of dbActions" [value]="action">
            {{ action }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col">
        <input
                matInput
                placeholder="Comma seperated spell ID's"
                formControlName="input"
        />
      </mat-form-field>
      <button class="col" mat-stroked-button type="submit">
        Add
      </button>
      <button class="col" mat-stroked-button type="button" (click)="setMissingReagentItems()">
        Get from missing reagents
      </button>
      <button class="col"
              type="button"
              mat-stroked-button (click)="addMissingNPCItems()">
        Get from Vendors and mobs
      </button>
    </form>
  </mat-card-actions>

  <mat-card-content>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">
        <strong>Progress:</strong> {{ getProgressCount() }}/{{ progress.ids.length }} ({{ getProgress() | percent }})
        <br>
        <mat-progress-bar mode="determinate" [value]="getProgress() * 100"></mat-progress-bar>
      </li>

      <li class="list-group-item list-group-item-secondary">
        Failed ids: {{ progress.failed | json }}
      </li>
    </ul>

    <mat-tab-group>
      <mat-tab label="New ({{progress.new.length}})">
        <wah-data-table
                [id]="'id'"
                [iconSize]="22"
                [columns]="columns"
                [data]="progress.new"
        ></wah-data-table>
      </mat-tab>
      <mat-tab label="Existing ({{progress.existing.length}})">
        <wah-data-table
                [id]="'id'"
                [iconSize]="22"
                [columns]="columns"
                [data]="progress.existing"
        ></wah-data-table>
      </mat-tab>
      <mat-tab label="Failed ({{progress.failed.length}})">
        <wah-data-table
                [id]="'id'"
                [iconSize]="22"
                [columns]="columnsFailedItem"
                [data]="progress.failed"
        ></wah-data-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
