<div *ngIf="!inProd">
  <p>
    This allows for easy item updating for patch days, where recipes or items have seen changes.
  </p>
  
  <div class="row col-md-12">
    <div class="col-md-4">
      <mat-card>
        <mat-card-title>
          Recipes
          <button mat-raised-button (click)="updateRecipes()" [disabled]="updated.recipes.completed.length  !== 0 || updated.recipes.completed.length > this.updated.recipes.list.length">
            Update
          </button>
        </mat-card-title>
        <mat-card-content>
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
              <strong>Progress:</strong> {{ updated.recipes.completed.length }}/{{ getRecipeCount() }} ({{ getRecipeProgress() / 100
              | percent }})
              <br>
              <mat-progress-bar mode="determinate" [value]="getRecipeProgress()"></mat-progress-bar>
            </li>
            <li class="list-group-item list-group-item-primary">
              <strong>Skipped:</strong> {{ updated.recipes.skipped }} ({{ updated.recipes.skipped / getRecipeCount() | percent}})
            </li>
            <li class="list-group-item list-group-item-primary">
              <strong>Errors:</strong> {{ updated.recipes.failed.length }} ({{ updated.recipes.failed.length / getRecipeCount() | percent}})
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card>
        <mat-card-title>
          Items
          <button mat-raised-button (click)="updateItems()" [disabled]="updated.items.completed.length  !== 0 || updated.items.completed.length > this.updated.items.list.length">
            Update
          </button>
        </mat-card-title>
        <mat-card-content>
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
              <strong>Progress:</strong> {{ updated.items.completed.length }}/{{ getItemCount() }} ({{ getItemProgress() / 100
              | percent }})
              <br>
              <mat-progress-bar mode="determinate" [value]="getItemProgress()"></mat-progress-bar>
            </li>
            <li class="list-group-item list-group-item-primary">
              <strong>Skipped:</strong> {{ updated.items.skipped }} ({{ updated.items.skipped / getItemCount() | percent}})
            </li>
            <li class="list-group-item list-group-item-primary">
              <strong>Errors:</strong> {{ updated.items.failed.length }} ({{ updated.items.failed.length / getItemCount() | percent}})
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card>
        <mat-card-title>
          Pets
          <button mat-raised-button (click)="updateRecipes()" [disabled]="updated.recipes.completed.length  !== 0 || updated.recipes.completed.length > this.updated.recipes.list.length">
            Update
          </button>
        </mat-card-title>
        <mat-card-content>
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
              <strong>Progress:</strong> {{ updated.recipes.completed.length }}/{{ getRecipeCount() }} ({{ getRecipeProgress() / 100
              | percent }})
              <br>
              <mat-progress-bar mode="determinate" [value]="getRecipeProgress()"></mat-progress-bar>
            </li>
            <li class="list-group-item list-group-item-primary">
              <strong>Skipped:</strong> {{ updated.recipes.skipped }} ({{ updated.recipes.skipped / getRecipeCount() | percent}})
            </li>
            <li class="list-group-item list-group-item-primary">
              <strong>Errors:</strong> {{ updated.recipes.failed.length }} ({{ updated.recipes.failed.length / getRecipeCount() | percent}})
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>  

  <div class="row col-md-12 mt-3">
    <div class="col-md-6">
      <wah-add-items></wah-add-items>
    </div>
    <div class="col-md-6">
      <wah-add-recipes></wah-add-recipes>
    </div>
  </div>
</div>