<div class="full-screen">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Add items to group from query
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form class="form-inline row" [formGroup]="itemForm">
        <mat-form-field class="col">
          <input matInput placeholder="Item name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="col">
            <mat-select  [disableOptionCentering]="true" placeholder="Profession" formControlName="profession">
              <mat-option value="All" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">All</mat-option>
              <mat-option *ngFor="let i of professions" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
                {{ i }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="ml-2 mr-2 col">
          <mat-select  [disableOptionCentering]="true" placeholder="Item class" formControlName="itemClass">
            <mat-option value="-1" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              All
            </mat-option>
            <mat-option *ngFor="let c of itemClasses.classes; let i = index;" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ c.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="itemClasses.classes[itemForm.value.itemClass]" class="ml-2 mr-2 col">
          <mat-select  [disableOptionCentering]="true" placeholder="Item sub class" formControlName="itemSubClass">
            <mat-option value="-1" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              All
            </mat-option>
            <mat-option *ngFor="let c of itemClasses.classes[itemForm.value['itemClass']].subclasses; let i = index;" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ c.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-select  [disableOptionCentering]="true" placeholder="Expansion" formControlName="expansion">
            <mat-option [value]="null" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">All</mat-option>
            <mat-option *ngFor="let expansion of expansions; let i = index" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ expansion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button class="btn btn-default mat-elevation-z5 ml-2 mr-2" type="button" (click)="itemForm.reset()">Reset</button>
      </form>

      <wah-data-table iconSize="22" itemsPerPage="10" [id]="'id'" [data]="items" [columns]="columns"></wah-data-table>
    </mat-card-content>

    <mat-card-header>
      <mat-card-title>
        Rules to apply to the items
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" class="row">
            <mat-form-field class="col-md-2">
              <mat-select  [disableOptionCentering]="true" placeholder="Compare to" formControlName="compareTo">
                <mat-option *ngFor="let cv of comparableVariables" [value]="cv.id" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
                  {{ cv.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field class="col-md-2">
              <mat-select  [disableOptionCentering]="true" placeholder="Criteria" formControlName="criteria">
                <mat-option *ngFor="let i of criteria" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
                  {{ i }}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field class="col-md-2">
              <mat-select  [disableOptionCentering]="true" placeholder="Target type" formControlName="targetType">
                <mat-option *ngFor="let i of targetTypes" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
                  {{ i }}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field class="col-md-2">
              <input matInput placeholder="Value {{ form.value.value | gold }} (compared to buyout)" formControlName="value" type="number">
            </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button (click)="add()">
        <div class="float-left mr-1">
          <i class="far fa-edit"></i>
        </div>
        Batch add items
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="backdrop" (click)="close.emit('')">
</div>