<mat-card>
  <mat-card-header>
    <mat-card-title>Profit summary</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-select placeholder="Realm" formControlName="realm">
          <mat-option *ngFor="let realm of realms" [value]="realm">
            {{ realm }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Profit and gold log chart
        </mat-expansion-panel-header>

        <wah-profit-summary-chart [realm]="form.value.realm"></wah-profit-summary-chart>
        <wah-gold-summary-chart [realm]="form.value.realm"></wah-gold-summary-chart>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="row col-md-12" *ngIf="profitSummary[form.value.realm]">
      <wah-profit-summary-card class="col-md-6 mb-2"
                               [userProfit]="profitSummary[form.value.realm].past24Hours">
      </wah-profit-summary-card>

      <wah-profit-summary-card class="col-md-6 mb-2"
                               [userProfit]="profitSummary[form.value.realm].past7Days">
      </wah-profit-summary-card>

      <wah-profit-summary-card class="col-md-6 mb-2"
                               [userProfit]="profitSummary[form.value.realm].past30Days">
      </wah-profit-summary-card>

      <wah-profit-summary-card class="col-md-6 mb-2"
                               [userProfit]="profitSummary[form.value.realm].past90Days">
      </wah-profit-summary-card>

      <wah-profit-summary-card class="col-md-6 mb-2"
                               [userProfit]="profitSummary[form.value.realm].total">
      </wah-profit-summary-card>
    </div>

  </mat-card-content>
</mat-card>
