<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Crafting</h2>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <!-- Action type selectors -->
      <div class="btn-group btn-group-sm col-md-12" role="group">
        <button type="button" class="btn btn-sm btn-info" (click)="toggleDisenchanting(false)" [ngClass]="{'active': !isDisenchating}">
          Crafting
        </button>
        <button type="button" class="btn btn-sm btn-info" (click)="toggleDisenchanting(true)" [ngClass]="{'active': isDisenchating}">
          Disenchanting
        </button>
      </div>

      <form class="form-inline" (ngSubmit)="filterRecipes()" [formGroup]="filterForm">
        <!-- Regular crafting -->
        <div *ngIf="!isDisenchating; else disenchant" class="row col-md-10">
          <mat-form-field class="ml-2 mr-2">
            <input matInput placeholder="Item name" formControlName="searchQuery">
          </mat-form-field>

          <mat-checkbox class="ml-2 mr-2 mt-3" *ngIf="myRecipes.length > 0" formControlName="onlyMyRecipes">
            Only known recipes
          </mat-checkbox>

          <mat-form-field *ngIf="myRecipes.length > 0" class="ml-2 mr-2">
            <input matInput type="number" placeholder="Min profit (%)" formControlName="profit">
          </mat-form-field>

          <div *ngIf="apiToUse !== 'none'" class="ml-2 mr-2">
            <mat-form-field>
              <input matInput type="number" placeholder="Min demand (%)" matTooltip="Minimum demand (default 0)" formControlName="demand">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Min sold pcs" matTooltip="Minimum sold (default 0)" formControlName="minSold">
            </mat-form-field>
          </div>

          <mat-form-field class="ml-2 mr-2">
            <mat-select placeholder="Profession" formControlName="profession">
              <mat-option value="All">All</mat-option>
              <mat-option *ngFor="let i of professions" [value]="i">
                {{ i }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="ml-2 mr-2">
            <mat-select placeholder="Craft materials" matTooltip="
                Calculates profit/ROI with the assumption, that you will craft 
                any sub-material you can. Given that it matches your criteria" formControlName="craftManually">
              <mat-option value="All">All</mat-option>
              <mat-option *ngFor="let i of craftManually" [value]="i">
                {{ i }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Disenchatning crafting options -->
        <ng-template #disenchant>
          <mat-form-field class="ml-2 mr-2">
            <mat-select placeholder="Target item" formControlName="selectedDEMaterial">
              <mat-option *ngFor="let item of Disenchanting.materials; let i = index" [value]="i">
                {{ Disenchanting.getItemName(item.id) }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox class="ml-2 mr-2" formControlName="DEOnlyProfitable">
            Only profitable
          </mat-checkbox>

          <mat-form-field class="ml-2 mr-2">
            <mat-select placeholder="Profession" formControlName="profession">
              <mat-option value="All">
                All
              </mat-option>
              <mat-option *ngFor="let i of professions" [value]="i">
                {{ i }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox class="ml-2 mr-2" *ngIf="myRecipes.length > 0" formControlName="onlyMyRecipes">
            Only known recipes
          </mat-checkbox>
        </ng-template>

        <button class="btn btn-primary mat-elevation-z5 mr-2" type="submit">Apply filter</button>
        <button class="btn btn-default mat-elevation-z5 mr-2" type="button" (click)="resetFilters()">Reset</button>
        <app-export [list]="crafts"></app-export>
      </form>
    </div>
    <div class="row col-md-12">
      <mat-paginator class="col-md-9" [length]="isDisenchating ? Disenchanting?.disenchantables?.length : crafts?.length" [pageSize]="page.pageSize"
        [pageSizeOptions]="page.pageSizeOptions" [pageIndex]="pageEvent.pageIndex" (page)="changePage($event)">
      </mat-paginator>
      <div class="col-md-9">
        <app-craft-table *ngIf="!isDisenchating; else disenchantTable" [pageEvent]="pageEvent" [user]="user" [crafts]="crafts" [atAH]="isAtAh"
          [getIcon]="getIcon" [getName]="getName" [getProfitPercent]="getProfitPercent" [getMinPrice]="getMinPrice" [percentOf]="percentOf"
          [getAuctionItem]="getAuctionItem" [sortProfitBy]="sortProfitBy" [openMenu]="openMenu" (addToCart)="addToCart($event)"
          [getApiItem]="getApiItem">
        </app-craft-table>
        <ng-template #disenchantTable>
          <table class="table table-striped">
            <tr>
              <th>Item</th>
              <th>Materials</th>
              <th>Cost</th>
              <th>Profit</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="
							let craft of Disenchanting?.disenchantables |
								slice: 
									(pageEvent.pageSize * (pageEvent.pageIndex + 1)) - pageEvent.pageSize:
									pageEvent.pageSize * (pageEvent.pageIndex + 1) ;
							let i = index;">
              <td>
                <div>
                  <span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(craft) +')'"></span>
                  <div class="align-left col-md-9">
                    <a rel="item={{ craft.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{ craft.itemID }}"
                      target="_blank">
                      {{ craft.name }}</a>
                    <br> {{ craft.profession }} ({{ getAuctionItem(craft.itemID).quantity_total }} @ AH)
                  </div>
                </div>
              </td>
              <td>
                <div class="clearfix" *ngFor="let m of craft.reagents" [ngClass]="{'not-found': !isAtAH(m.itemID)}">
                  <span *ngIf="m.useCraftedBy === undefined || !m.useCraftedBy">
                    {{ m.count }} x
                    <a rel="item={{ m.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{m.itemID}}"
                      target="_blank">{{m.name}}</a>

                    {{ getMinPrice(m.itemID) | gold }} ({{ getAuctionItem(m.itemID).quantity_total }} @ AH)
                    <i *ngIf="m.useCraftedBy !== undefined" class="glyphicon glyphicon-piggy-bank" [ngClass]="{'using-manual-craft': m.useCraftedBy, 'not-using-manual-craft': !m.useCraftedBy}"
                      (click)="setManualCraft(m, craft)" aria-hidden="true"></i>
                  </span>

                  <!-- For "child" recipes -->
                  <div *ngIf="m.useCraftedBy !== undefined && m.useCraftedBy">
                    <div class="clearfix" *ngFor="let subMats of getSubMaterials(m)" [ngClass]="{'not-found': !isAtAH(subMats.itemID)}">
                      {{ subMats.count * m.count }} x
                      <a rel="item={{ subMats.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{subMats.itemID}}"
                        target="_blank">{{subMats.name}}</a>
                      {{ getMinPrice(subMats.itemID) | gold }} ({{ getAuctionItem(subMats.itemID).quantity_total }} @ AH)
                      <i *ngIf="m.useCraftedBy !== undefined" class="glyphicon glyphicon-piggy-bank" [ngClass]="{'using-manual-craft': m.useCraftedBy, 'not-using-manual-craft': !m.useCraftedBy}"
                        (click)="setManualCraft(m, craft)" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                {{ craft.cost | gold }}
              </td>
              <td>
                {{ getMinPrice(Disenchanting.materials[Disenchanting.selected].id) - craft.cost | gold }}
              </td>
              <td>
                <a class="fa fa-shopping-cart push-left" aria-hidden="true" (click)="openMenu(i)">Add</a>
                <br>
                <div class="recipe-menu recipe-menu-dark" [ngClass]="{'recipe-menu-open': i === selectedItemIndex}">
                  <div class="panel-body">
                    Add quantity:
                    <br>
                    <input type="number" value="1" min="1" #quantityToAdd/>
                    <br>
                    <a class="push-left" aria-hidden="true" (click)="addToCart(craft, quantityToAdd.value)">
                      <i class="fa fa-shopping-cart"></i>
                      Add amount
                    </a>
                  </div>
                </div>
                <a class="fa fa-link" aria-hidden="true" href="http://www.wowhead.com/item={{craft.itemID}}" target="_blank">Wowhead</a>
                <br>
              </td>
            </tr>
          </table>
        </ng-template>
      </div>
      <div class="col-md-3">
        <mat-card *ngIf="isDisenchating" class="mb-2">
          <mat-card-header>
            <mat-card-title>
              <span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-24" [style.background-image]="'url('+ getIcon(Disenchanting.materials[Disenchanting.selected]) +')'"></span>
              <a rel="item={{ Disenchanting.materials[Disenchanting.selected].id }}" href="http://www.wowhead.com/item={{ Disenchanting.materials[Disenchanting.selected].id }}"
                target="_blank">
                {{ Disenchanting.getItemName(Disenchanting.materials[Disenchanting.selected].id) }}
              </a>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Buyout: {{ getMinPrice(Disenchanting.materials[Disenchanting.selected].id) | gold }}
            <br>
            <div *ngIf="user.apiTouse !== 'none'">
              Market value: {{ getAuctionItem(Disenchanting.materials[Disenchanting.selected].id).mktPrice | gold }}
              <br> Region sale avg: {{ getApiItem( Disenchanting .materials[Disenchanting.selected].id) .regionSaleAvg | gold
              }}
              <br> Est demand: {{ getApiItem( Disenchanting.materials[Disenchanting.selected].id) .estDemand | percent}}
              <br>
            </div>
          </mat-card-content>
        </mat-card>

        <app-shopping-cart [shoppingCart]="shoppingCart" [user]="user" [getMinPrice]="getMinPrice" (removeFromCart)="removeFromCart($event)"
          (clearCart)="clearCart()">
        </app-shopping-cart>
      </div>
    </div>
    <mat-paginator class="col-md-9 row" [length]="isDisenchating ? Disenchanting?.disenchantables?.length : crafts?.length" [pageSize]="page.pageSize"
      [pageSizeOptions]="page.pageSizeOptions" [pageIndex]="pageEvent.pageIndex" (page)="changePage($event)">
    </mat-paginator>
    <em class="col-md-9">
      If there are any recipes missing, please notify me @
      <a href="https://www.reddit.com/r/woweconomy/comments/61m0jj/professioncrafting_auctioning_toolwebapp/">reddit</a>
      by giving me the itemID (item=12345 after wowhead link) of the target item and the spellID (spell=12345 in the wowhead link)for
      the recipe. If you do this, Il'l add them asap.
    </em>
  </div>
</div>