.recipe-menu {
    display: none;
    position: fixed;
    z-index: 100;
    padding: 0.5em;

    margin-bottom: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.recipe-menu-open {
    display: block;
}

.recipe-menu-light {
	background-color: white;
}

.recipe-menu-dark {
	background-color: #d8f6fb;
}

.glyphicon.glyphicon-remove {
    position: absolute !important;
    right: 0 !important;
    padding: 0.5em !important;
}
