@import '../../../../node_modules/@angular/material/theming';

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-light-blue, A200, A100, A400);
$dark-warn:    mat-palette($mat-red);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-blue-theme {
  @include angular-material-theme($dark-theme);
  background: #424242;
  color: white;

  wah-character {
    .mat-raised-button{
      color: white !important;
    }
  }
  .list-group-item {
    background-color: transparent;
  }

  wah-dashboard-item > mat-card:not(.full-screen),
  wah-watchlist-item > mat-card:not(.full-screen),
  wah-general-settings mat-card:not(.full-screen) {
    background-color: #5d5d5d1a !important;
  }
}
