@use '~@angular/material' as mat;
@import '../../../node_modules/@angular/material/theming';

$light-primary: mat.define-palette(mat.$orange-palette);
$light-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$deep-orange-palette);
$light-background: mat.define-palette(mat.$amber-palette);
$light-foreground: mat.define-palette(mat.$amber-palette);
$light-theme: mat.define-light-theme((
        color: (
                primary: $light-primary,
                accent: $light-accent,
                warn: $light-warn,
                background: $light-background,
                foreground: $light-foreground
        )
));

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.solarized-light-theme {

  @include mat.all-component-themes($light-theme);
  background-color: #ffefde !important;
  color: black;

  /*background-color: mat-color($light-accent, 300);*/
  outline-color: mat.get-color-from-palette($light-accent, lighter);
  border-color: mat.get-color-from-palette($light-primary, '100-contrast');

  wah-character {
    /*
        .mat-raised-button{
          color: #000000 !important;
        }*/
  }

  .list-group-item {
    background-color: transparent;
  }

  wah-dashboard-item > mat-card:not(.full-screen),
  wah-watchlist-item > mat-card:not(.full-screen),
  wah-general-settings mat-card:not(.full-screen) {
    background-color: #ffefde !important;
  }
}
