<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Google Analytics
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      This application uses Google Analytics. It is used so that I can get an idea about what parts of the application is being
      used, and how much. It also helps give me external motivation for developing the application further.
    </p>

    <p>
      There is not shared any information with them, that can identify you as a person. Location wise, it's only accurate down
      to municipality.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Where is my user data stored?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      All of your user data, is locally stored on your computer.
      Whenever you download new auction house data or TSM api data, that too is stored on your computer in a database called indexedDB.
    </p>

    <p>
      If you wish to move your settings from one device or browser to another, you can copy a export string from the settings section.
    </p>

    <p>
      Using tools like CCleaner to clean your browser cache etc, will remove all your settings. So be aware of that.
    </p>
  </mat-expansion-panel>
</mat-accordion>