<mat-card class="mb-2">
    <mat-card-header>
        <mat-card-title>
            {{ summary.title }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <wah-data-table *ngIf="!useChart; else chartTemplate"
                itemsPerPage="5"
                [data]="tableData"
                [columns]="columns">
        </wah-data-table>
    </mat-card-content>
</mat-card>


<ng-template #chartTemplate>
    <wah-charts *ngIf="summary.data.length > 0"
                [defaultType]="summary.type"
                storageName="{{ summary.title }}-chart"
                [labels]="summary.labels"
                [dataMap]="summary.dataMap"
                (selection)="selection($event)">
    </wah-charts>
</ng-template>