<mat-card class="row mb-3">
  <mat-card-header>
    <mat-card-title>Import your TSM4 addon history</mat-card-title>
    <mat-card-subtitle>
      <strong>Locate: </strong>
      <em>
        World of Warcraft/_retail_/WTF/Account/"account name"/SavedVariables/TradeSkillMaster.lua
      </em>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <strong>Last updated:</strong> {{ lastModified | date: 'dd.MMM yyyy HH:mm:ss' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    To update the data, do /reload in-game and import the file again.
    The data is stored in your browser, but you will need to manually update it.
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="fileInput.click()">
      <i class="fas fa-upload"></i>
      Import "TradeSkillMaster.lua"
      <input class="d-none"
             type="file"
             accept="lua"
             (change)="importFromFile($event)"
             #fileInput/>
    </button>
  </mat-card-actions>
</mat-card>

<div *ngIf="!importMode">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="summary"
       activatedRoute="active">
      Summary
    </a>
    <a mat-tab-link
       routerLink="dataset"
       activatedRoute="active">
      Datasets
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>
