<div class="row col-md-12">
  <mat-form-field class="col-md-12">
    <input matInput placeholder="Reset to value" type="number" [formControl]="form" matTooltip="The price you wish to reset to, in gold.">
  </mat-form-field>
  <div class="col-md-12">
    <strong>Cost: </strong> {{ resetPrice.cost | gold }}
  </div>
  <div class="col-md-12" matTooltip="This basically is, the minimum avg price you can handle to sell for.">
    <strong>Avg cost per item: </strong> {{ resetPrice.cost / resetPrice.numOfItems | gold }}
  </div>
  <div class="col-md-12">
    <strong>Potential ROI: </strong> {{ resetPrice.roi | gold }} ({{ 1 + (resetPrice.roi / resetPrice.cost) | percent }})
  </div>
  <div class="col-md-12">
    You need to buy {{ resetPrice.numOfAuctions | number }} auctions ({{ resetPrice.numOfItems | number }} items).
  </div>
</div>