<mat-card class="character-bg" [style.background-image]="getBackgroundImage()">
  <mat-card-header>
    <div mat-card-avatar *ngIf="character.thumbnail" [style.background-image]="getAvatar()"
      [style.background-size]="'cover'"></div>
    <mat-card-title *ngIf="character.name">
        {{ character.level }} {{ character.name }} @ {{ character.realm }}
      <span *ngIf="character.downloading"> - downloading</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="character.lastModified; else errorMsg">
        <strong>Last modified:</strong>
        {{ character.lastModified | date:'d MMM HH:mm' }}
      </span>
      <ng-template #errorMsg>
        <span *ngIf="character.error; else noData">
          Status: {{ character.error.statusText }} ({{ character.error.status }})
        </span>
        <ng-template #noData>
          There is no data available for this character yet.
        </ng-template>
      </ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="character.professions" class="row">
      <div class="col-md-6">
        <strong>Primary professions</strong>

        <mat-list role="list" dense>
          <mat-list-item role="listitem" *ngFor="let primary of character.professions.primary">
            <h4 mat-line>{{ primary.name }} ({{ primary.rank }}/{{ primary.max }})</h4>
            <p mat-line>You know {{ primary.recipes.length }} recipes </p>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-md-6">
        <strong>Secondary professions</strong>
        <mat-list role="list" dense>
          <mat-list-item role="listitem" *ngFor="let secondary of character.professions.secondary">
            <h4 mat-line>{{ secondary.name }} ({{ secondary.rank }}/{{ secondary.max }})</h4>
            <p mat-line>You know {{ secondary.recipes.length }} recipes </p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!isSeller">
    <button mat-raised-button type="button" (click)="remove.emit('')">
      <i class="fa fa-trash" aria-hidden="true"></i>
      Remove
    </button>
    <button mat-raised-button type="button" (click)="update.emit('')">
      <div class="float-left mr-1" [ngClass]="{'loading': character.downloading}">
        <i class="fas fa-sync" aria-hidden="true"></i>
      </div>
      Update
    </button>
  </mat-card-actions>
</mat-card>