<div class="thumbnail">
  <img *ngIf="character.thumbnail"
    src="https://render-eu.worldofwarcraft.com/character/{{ character.thumbnail}}"
    alt="Character portrait of {{ character.name }}">
  <div class="caption">
    <h3 *ngIf="character.name">
      {{ character.name }} @ {{ character.realm }}
      <span *ngIf="character.downloading"> - downloading</span>
    </h3>
    <span *ngIf="character.lastModified; else errorMsg">
      <strong>Last modified:</strong>
      {{ character.lastModified | date:'d MMM HH:mm' }}
    </span>
    <ng-template #errorMsg>
      <span *ngIf="character.error; else noData">
        Status: {{ character.error.statusText }} ({{ character.error.status }})
      </span>
      <ng-template #noData>
        No data available for this character yet
      </ng-template>
    </ng-template>
    <div *ngIf="character.professions">
      <strong>Primary professions</strong>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let primary of character.professions.primary">
          <span class="badge">{{ primary.rank }}/{{ primary.max }}</span>
          {{ primary.name }} x {{ primary.recipes.length }}
        </li>
      </ul>
      <strong>Secondary professions</strong>
      <ul class="list-group">
        <li class="list-group-item"  *ngFor="let secondary of character.professions.secondary">
          <span class="badge">{{ secondary.rank }}/{{ secondary.max }}</span>
          {{ secondary.name }} x {{ secondary.recipes.length }}
        </li>
      </ul>
    </div>
    <p>
      <a class="btn btn-primary" role="button"
        (click)="getCharacter(character.name, character.realm, index)">
        <i class="glyphicon glyphicon-refresh"
          [ngClass]="{loading: character.downloading}"></i>
        Update
      </a>
      <a class="btn btn-default" role="button" (click)="removeCharacter(index)">
        <i class="glyphicon glyphicon-trash"> </i>
        Delete
      </a>
    </p>
  </div>
</div>