.mt-1 {
	margin-top: 1em;
}

.mt-5 {
	margin-top: 5em;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.loading {
	background-size: cover;
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
