<div class="full-screen" *ngIf="item && item.itemID && group">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <wah-icon size="22" [id]="item.itemID"></wah-icon>
        <a rel="item={{ item.itemID }}">
          {{ item.name }}
        </a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-3">
        <strong class="mr-1">Available:</strong> {{ getAuctionItem(item.itemID).quantityTotal | number }}
        </div>
        <div class="col-md-3">
          <strong class="mr-1">Buyout:</strong> {{ getAuctionItem(item.itemID).buyout | gold }}
        </div>
        <div class="col-md-3" *ngIf="getAuctionItem(item.itemID).mktPrice > 0">
          <strong class="mr-1">Market value:</strong> {{ getAuctionItem(item.itemID).mktPrice | gold }}
        </div>
        <div class="col-md-3" *ngIf="getAuctionItem(item.itemID).regionSaleRate > 0">
          <strong class="mr-1">Regional sale rate:</strong> {{ getAuctionItem(item.itemID).regionSaleRate | percent }}
        </div>
      </div>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-select placeholder="Compare buyout to" formControlName="compareTo">
            <mat-option *ngFor="let i of comparableVariables" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ i }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Criteria" formControlName="criteria">
            <mat-option *ngFor="let i of criterias" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ i }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Target type" formControlName="targetType">
            <mat-option *ngFor="let i of targetTypes" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ i }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Value {{ form.value.value | gold }}" formControlName="value" type="number">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Group" formControlName="group">
            <mat-option *ngFor="let group of groups" [value]="group" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ group.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <mat-form-field class="row col-md-12" *ngIf="getAuctionItem()">
        <textarea matInput placeholder="TSM shopping string"
          value="{{ item.name }}/exact/{{ getTSMString().left | gold }}/{{ getTSMString().right | gold }}"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button (click)="save()">
        <div class="float-left mr-1">
          <i class="far fa-edit"></i>
        </div>
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="backdrop" (click)="close.emit('')" *ngIf="item && group">
</div>