<div class="full-screen" *ngIf="(item && item.itemID || batchMode) && group">
  <mat-card>
    <mat-card-header *ngIf="item; else batch">
      <mat-card-title>
        <wah-icon size="22" [id]="item.itemID"></wah-icon>
        <a rel="item={{ item.itemID }}">
          {{ item.name }}
        </a>
      </mat-card-title>
    </mat-card-header>

    <ng-template #batch>
      <mat-card-header>
        <mat-card-title>
          Batch editing items
        </mat-card-title>
      </mat-card-header>
    </ng-template>

    <mat-card-content>
      <div class="row col-md-12 mb-2" *ngIf="item && getAuctionItem(item.itemID) && !batchMode">
        <div class="mr-2">
        <strong class="mr-1">Available:</strong> {{ getAuctionItem(item.itemID).quantityTotal | number }}
        </div>
        <div class="mr-2">
          <strong class="mr-1">Buyout:</strong> {{ getAuctionItem(item.itemID).buyout | gold }}
        </div>
        <div class="mr-2" *ngIf="getAuctionItem(item.itemID).mktPrice > 0">
          <strong class="mr-1">Market value:</strong> {{ getAuctionItem(item.itemID).mktPrice | gold }}
        </div>
        <div class="mr-2" *ngIf="getAuctionItem(item.itemID).regionSaleAvg > 0">
          <strong class="mr-1">Regional avg sale price:</strong> {{ getAuctionItem(item.itemID).regionSaleAvg | gold }}
        </div>
        <div class="mr-2" *ngIf="getAuctionItem(item.itemID).regionSaleRate > 0">
          <strong class="mr-1">Regional sale rate:</strong> {{ getAuctionItem(item.itemID).regionSaleRate | percent }}
        </div>
      </div>
      <form [formGroup]="form" class="row">
        <mat-form-field class="col-md-2">
          <mat-select  [disableOptionCentering]="true" placeholder="Compare to" formControlName="compareTo">
            <mat-option *ngFor="let cv of comparableVariables" [value]="cv.id" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ cv.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-select  [disableOptionCentering]="true" placeholder="Criteria" formControlName="criteria">
            <mat-option *ngFor="let i of criteria" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ i }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-select  [disableOptionCentering]="true" placeholder="Target type" formControlName="targetType">
            <mat-option *ngFor="let i of targetTypes" [value]="i" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ i }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <input matInput placeholder="Value {{ form.value.value | gold }} (compared to buyout)" formControlName="value" type="number">
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-select  [disableOptionCentering]="true" placeholder="Group" formControlName="group">
            <mat-option *ngFor="let group of groups" [value]="group" [ngClass]="{'unicorn-dark-theme': isDarkmode()}">
              {{ group.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <mat-form-field class="row col-md-12" *ngIf="!batchEdit && getAuctionItem()">
        <textarea matInput placeholder="TSM shopping string"
          value="{{ item.name }}/exact/{{ getTSMString().left | gold }}/{{ getTSMString().right | gold }}"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button (click)="save()">
        <div class="float-left mr-1">
          <i class="far fa-edit"></i>
        </div>
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="backdrop" (click)="close.emit('')" *ngIf="(item && item.itemID || batchMode) && group">
</div>