.wowhead-tooltip {
  z-index: 502 !important;
}
.full-screen {
  z-index: 501 !important;
  width: 80% !important;
  right: 10% !important;
  left: 10% !important;
  top: 5vh !important;
  max-height: 80vh !important;
  position: fixed;
  & .dropped-by .mat-list {
    overflow-y: auto;
    max-height: 25em;

    .mat-list-item {
      height: 45px !important;
    }
  }
}
mat-spinner {
  width: 20px !important;;
  height: 20px !important;;
  
  svg {
    width: 20px !important;;
    height: 20px !important;;
  }
}

.fixed-top {
  z-index: 499 !important;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.70);
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}