<a class="nav-link dropdown-toggle" href="#" id="shoppingCart"
   data-toggle="dropdown" aria-haspopup="true" [attr.aria-expanded]="show"
   (click)="toggleDisplay()"
   matTooptip="Shopping cart">
  <div class="float-left mr-1">
    <i class="fas fa-shopping-cart"></i>
  </div>
  {{ cart.recipes.length | number }}
</a>

<mat-card *ngIf="show" class="full-screen">
  <mat-card-header>
    <div class="action-icon mat-elevation-z5" (click)="toggleDisplay()" matTooltip="Close the shopping cart">
      <button mat-raised-button class="btn btn-sm">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <mat-card-title>
      <strong class="shopping-cart-header">
        Shopping cart
      </strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-4">
        <strong class="row col-md-12">Recipes:</strong>
        <wah-data-table [id]="'itemID'"
                        [iconSize]="22"
                        [columns]="columnsRecipes"
                        [data]="cart.recipes">
        </wah-data-table>
      </div>
      <div class="col-md-4">
        <strong class="row col-md-12">Reagents needed:</strong>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="columns"
                        [data]="cart.reagents"></wah-data-table>
      </div>

      <div class="col-md-4">

        <strong>Total value: </strong> {{ cart.totalValue | gold }} <br>
        <strong>Cost for needed materials: </strong> {{ cart.sumCost | gold }} <br>
        <strong>Sum total cost from AH:</strong> {{ cart.sumTotalCost | gold }} <br>
        <strong>Profit: </strong> {{ cart.profit | gold }} <br>
        <br>
        <mat-form-field *ngIf="cart.tsmShoppingString && cart.tsmShoppingString.length > 0"
                        class="row col-md-12">
        <textarea matInput placeholder="TSM shopping string"
                  [value]="cart.tsmShoppingString"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <strong class="row col-md-12">From your inventory:</strong>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="columnsInventory"
                        [data]="cart.sources.inventory"></wah-data-table>
      </div>

      <div class="col-md-4">
        <strong class="row col-md-12">From AH:</strong>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="columns"
                        [data]="cart.sources.ah"></wah-data-table>
      </div>

      <div class="col-md-4">
        <strong class="row col-md-12">To farm:</strong>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="columns"
                        [data]="cart.sources.farm"></wah-data-table>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn btn-default mat-elevation-z5" (click)="clearShoppingCart()">Empty shopping cart</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="show" class="backdrop" (click)="toggleDisplay()"></div>