<form [formGroup]="form">
  <mat-form-field *ngIf="realmList.length">
    <mat-select placeholder="Faction"
                formControlName="faction"
                matTooltip="Only relevant for the shopping cart">
      <mat-option [value]="0">
        Alliance ({{ realmListMap[form.getRawValue().realm]?.factions[0] || 0 | number }})
      </mat-option>
      <mat-option [value]="1">
        Horde ({{ realmListMap[form.getRawValue().realm]?.factions[1] || 0 | number }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
          matTooltip="Quick realm change, for those with characters on multiple realms. If a realm is missing, add a character in the settings.">
    <mat-select placeholder="Realm" formControlName="realm">
      <mat-optgroup label="With characters">
        <mat-option *ngFor="let realm of realmList"
                    [value]="realm.slug">
          {{ realm.name }} ({{ realm.characterCount || 0 }}) - {{realm.gameBuild === 1 ? 'Classic' : 'Retail'}}
        </mat-option>
      </mat-optgroup>

      <mat-optgroup label="All realms">
        <mat-option *ngFor="let realm of realmListAll"
                    [value]="realm.slug">
          {{ realm.name }} - {{realm.gameBuild === 1 ? 'Classic' : 'Retail'}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <a routerLink="/settings/characters"
    mat-icon-button
     color="accent"
    matTooltip="Add more characters">
    <fa-icon [icon]="faUserPlus"></fa-icon>
  </a>
</form>
