<form [formGroup]="form">
    <mat-checkbox formControlName="isClassic">Is classic</mat-checkbox>
</form>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Diff changes
        </mat-expansion-panel-header>
        <mat-card>
            <mat-card-actions>
                <form [formGroup]="form">
                    <mat-form-field>
                        <input
                                matInput
                                formControlName="recipeId"
                                placeholder="Recipe id"
                        />
                    </mat-form-field>
                </form>
                <button
                        mat-raised-button
                        type="button"
                        (click)="getComparison()"
                        color="primary"
                >
                    Get
                </button>
            </mat-card-actions>
            <mat-grid-list cols="2" rowHeight="2:1" *ngIf="comparison.value">
                <mat-grid-tile>
                    {{ comparison.value.api | json }}
                </mat-grid-tile>
                <mat-grid-tile>
                    {{ comparison.value.db | json }}
                </mat-grid-tile>
                <mat-grid-tile>
                    asd
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Recipes
        </mat-expansion-panel-header>
        <form [formGroup]="recipeFilter" class="row">
            <mat-form-field class="col">
                <input matInput
                       placeholder="Name"
                       formControlName="name"
                />
            </mat-form-field>
            <mat-form-field class="col">
                <mat-select
                        formControlName="professionId"
                        placeholder="Profession"
                >
                    <mat-option
                            *ngFor="let profession of professionColumn.options.data"
                            [value]="profession.id"
                    >
                        {{profession.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox class="col"
                          formControlName="isMissingCraftedId"
            >
                Is missing item reference
            </mat-checkbox>
            <mat-checkbox class="col"
                          formControlName="hasAutoAddedItemId"
            >
                Has auto added item reference
            </mat-checkbox>
            <button mat-stroked-button
                    (click)="updateRecipeJSONFilesRetail()"
                    [disabled]="isUpdatingJSONFiles"
            >
                Update JSON
                <mat-progress-spinner *ngIf="isUpdatingJSONFiles" size="1rem" color="accent">
                </mat-progress-spinner>
            </button>
            <button mat-stroked-button
                    (click)="getRecipes()"
                    [disabled]="isLoadingRecipes"
            >
                Refresh recipes
                <mat-progress-spinner *ngIf="isLoadingRecipes" size="1rem" color="accent">
                </mat-progress-spinner>
            </button>
        </form>
        <wah-data-table
                [id]="'craftedItemId'"
                [columns]="recipeColumns"
                [data]="filteredRecipes"
                [isScrollableAlongXAxis]="true"
        ></wah-data-table>
    </mat-expansion-panel>
</mat-accordion>