<div class="input-group input-group-sm">
	<span class="input-group-addon" id="basic-addon1">Target item</span>
	<select class="form-control" aria-describedby="basic-addon1" [(ngModel)]="selected">
		<option *ngFor="let item of materials; let i = index"  [value]="i">
			{{ getItemName(item.id) }}
		</option>
	</select>
	<span class="input-group-addon" id="sizing-addon3">Only profitable</span>
	<span class="input-group-addon">
        <input type="checkbox" aria-label="" [(ngModel)]="onlyProfitable">
      </span>
	<span class="input-group-addon">
        <button  type="button" class="btn btn-default" id="basic-addon1" name="button" (click)="applyFilter()">
		Apply
	</button>
      </span>
</div>
<div class="panel panel-default  mt-1">
	<div class="panel-heading">
		<span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-24" [style.background-image]="'url('+ getIcon({'itemID':materials[selected].id}) +')'"></span>
		<a rel="item={{ materials[selected].id }}" href="http://www.wowhead.com/item={{ materials[selected].id }}" target="_blank">
			{{ getItemName(materials[selected].id) }}
		</a>
	</div>
	<div class="panel-body">
		Buyout: {{ copperToString(getMinPrice(materials[selected].id)) }} <br>
		<div *ngIf="user.apiTouse !== 'none'">
			Market value: {{ copperToString(getAuctionItem(materials[selected].id).mktPrice) }} <br> Region sale avg: {{ copperToString(getAuctionItem(materials[selected].id).regionSaleAvg)
			}} <br> Est demand: {{ getAuctionItem(materials[selected].id).estDemand }}% <br>
		</div>
	</div>
</div>

<table class="table table-striped" *ngIf="isCrafting; else buying">
	<tr>
		<th>Item</th>
		<th>Materials</th>
		<th>Cost</th>
		<th>Profit</th>
	</tr>
	<tr *ngFor="let recipe of recipes">
		<td>
			<span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(recipe) +')'"></span>
			<div class="align-left col-md-9">
				<a rel="item={{recipe.itemID}}" href="http://www.wowhead.com/item={{recipe.itemID}}" target="_blank">
				{{ recipe.name }}
			</a>
			</div>
		</td>
		<td>
			<div class="clearfix" *ngFor="let m of recipe.reagents" [ngClass]="{'not-found': !isAtAH(m.itemID)}">
				{{ m.count }} x
				<a rel="item={{ m.itemID }}" href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{m.itemID}}"
				    target="_blank">{{m.name}}</a> {{ copperToString(getMinPrice(m.itemID)) }} ({{ getAuctionItem(m.itemID).quantity_total
				}} @ AH)
			</div>
		</td>
		<td>
			{{ copperToString(recipe.cost) }}
		</td>
		<td>
			{{ copperToString( getMinPrice(materials[selected].id) - recipe.cost ) }}
		</td>
	</tr>
</table>
<ng-template #buying>
	<table class="table table-striped">
		<tr class="row">
			<th>Name</th>
			<th>@AH</th>
			<th>
				<i class="glyphicon glyphicon-sort" aria-hidden="true"></i> Price
			</th>
			<th class="hidden-xs">Profit</th>
		</tr>
		<tr *ngFor="let item of items" class="row">
			<td>
				<span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(item) +')'"></span>
				<div class="align-left col-md-9">
					<a rel="item={{item.item}}" href="http://www.wowhead.com/item={{item.item}}" target="_blank">
						{{ item.name }}
					</a>
				</div>
			</td>
			<td>{{ item.quantity_total }}</td>
			<td>{{ copperToString(item.buyout) }}</td>
			<td>{{ copperToString(getMinPrice(materials[selected].id) - item.buyout) }}</td>
		</tr>
	</table>
</ng-template>

<!--
<ul>
	<li *ngFor="let item of items">
		<a rel="item={{item.id}}" href="http://www.wowhead.com/item={{item.id}}" target="_blank">
			{{ item.id }} - {{ item.itemLevel }} - {{ item.name }} - {{ itemQuality[item.quality] }}
			{{ item.disenchantsTo }}
		</a>
	</li>
</ul>-->