<div class="row mb-3 ml-2">
  <div class="col-md-12">
    <button class="float-left" type="button" (click)="openBachMenu()" mat-raised-button>
              <span class="float-left mr-1">
                <i class="far fa-plus-square"></i>
              </span>
      Add one or more item from query
    </button>

    <div class="float-left mt-2">
      <button class="ml-2"
              (click)="openBatchEdit()" mat-raised-button
              [disabled]="batchCount === 0">
        <i class="mr-2 far fa-edit"></i>
        Edit batch ({{ batchCount | number }})
      </button>

      <button class="ml-2"
              (click)="batchDelete()" mat-raised-button
              [disabled]="batchCount === 0">
        <i class="mr-2 fas fa-trash-alt"></i>
        Delete batch ({{ batchCount | number }})
      </button>

      <button class="ml-2"
              (click)="setSelections(true, itemSelection)" mat-raised-button>
        <i class="mr-2 fas fa-check"></i>
        Select all
      </button>

      <button class="ml-2"
              (click)="setSelections(false, itemSelection)" mat-raised-button>
        <i class="mr-2 fas fa-eraser"></i>
        Clear selections
      </button>

      <mat-checkbox class="ml-2" [(ngModel)]="group.hide" (change)="save()">
        Hide from dashboard
      </mat-checkbox>
    </div>

    <div class="float-left" matTooltip='You can change this in "Manage groups"'>
      <mat-form-field class="ml-2">
        <input matInput type="number"
               placeholder="Minimum regional sale rate %"
               [(ngModel)]="group.matchSaleRate">
      </mat-form-field>
      <mat-form-field class="ml-2">
        <input matInput type="number"
               placeholder="Minimum daily sold"
               [(ngModel)]="group.matchDailySold">
      </mat-form-field>
    </div>

    <div class="float-right mr-2">

      <mat-form-field class="ml-2" *ngIf="shareString">
        <input matInput placeholder="Copy this string to share th group" [value]="shareString">
      </mat-form-field>
      <button matTooltip="Share this group" (click)="shareGroup(group)" mat-raised-button>
        <i class=" mr-2 far fa-share-square"></i>
        Share
      </button>
    </div>
  </div>
</div>

<wah-watchlist-item-manager *ngIf="selectedItem || batchEditMode"
                            [group]="group"
                            [item]="selectedItem"
                            [selectionList]="itemSelection[group.name]"
                            [batchMode]="batchEditMode"
                            (close)="close()">
</wah-watchlist-item-manager>

<wah-watchlist-item-batch *ngIf="selectedBatchAdd === group.name"
                          [group]="group"
                          (close)="close()">
</wah-watchlist-item-batch>

<mat-form-field *ngIf="tsmGroupStrings[group.name]" class="col-md-12">
  <textarea placeholder="TSM group string" [value]="tsmGroupStrings[group.name]" matInput></textarea>
</mat-form-field>

<mat-paginator *ngIf="group.items.length > pageRows[0]" class="float-right" [length]="group.items.length"
               [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageRows"
               [pageIndex]="pageEvent.pageIndex" [showFirstLastButtons]="true" (page)="pageChange($event)">
</mat-paginator>
<div class="slim-sm row col-md-12">

  <div *ngFor="let item of group.items | slice:getFromValue():getToValue(); let i = index"
       class="col-md-6 col-lg-4 mb-3">
    <wah-watchlist-item *ngIf="itemSelection[getSelectedIndex(i)]"
                        [selectionItem]="itemSelection[getSelectedIndex(i)]"
                        [item]="item"
                        (isSelected)="setCountSelectedItems($event, itemSelection)"
                        (edit)="edit(group, item, getSelectedIndex(i))"
                        (delete)="delete(getSelectedIndex(i))">
    </wah-watchlist-item>
  </div>
</div>

<mat-paginator *ngIf="group.items.length > pageRows[0]" class="float-right" [length]="group.items.length"
               [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageRows"
               [pageIndex]="pageEvent.pageIndex" [showFirstLastButtons]="true" (page)="pageChange($event)">
</mat-paginator>
