<wah-close-btn></wah-close-btn>

<h1 mat-dialog-title>Shopping cart</h1>
<mat-dialog-content>

  <div class="row">
    <div class="col-md-12">
      <strong>Cost: </strong> {{ cart?.sumCost | gold }} |
      <strong>ROI: </strong> {{ cart?.profit | gold }}
    </div>
    <mat-card class="col-md-4">
      <mat-card-header>
        <mat-card-title>
          Recipes
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table
                [id]="'itemId'"
                [iconSize]="22"
                [columns]="recipeColumns"
                [data]="recipes"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-4">
      <mat-card-header>
        <mat-card-title>
          Items
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="itemColumns"
                        [data]="items"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-4">
      <mat-card-header>
        <mat-card-title>
          Needed items
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="neededColumns"
                        [data]="needed"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <mat-card class="col" *ngIf="cart?.sources?.ah?.length">
      <mat-card-header>
        <mat-card-title>
          Auction house
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="sourceColumns"
                        [data]="cart.sources.ah"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>
    <mat-card class="col" *ngIf="cart?.sources?.inventory?.length">
      <mat-card-header>
        <mat-card-title>
          Inventory
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="sourceColumns"
                        [data]="cart.sources.inventory"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>
    <mat-card class="col" *ngIf="cart?.sources?.vendor?.length">
      <mat-card-header>
        <mat-card-title>
          Vendor
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="sourceColumns"
                        [data]="cart.sources.vendor"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>
    <mat-card class="col" *ngIf="cart?.sources?.tradeVendor?.length">
      <mat-card-header>
        <mat-card-title>
          Trade vendor
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="sourceColumns"
                        [data]="cart.sources.tradeVendor"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>
    <mat-card class="col" *ngIf="cart?.sources?.farm?.length">
      <mat-card-header>
        <mat-card-title>
          Farm
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                        [columns]="sourceColumns"
                        [data]="cart.sources.farm"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>