<wah-close-btn></wah-close-btn>

<h1 mat-dialog-title>Shopping cart</h1>
<mat-dialog-content>

  <div class="row">
    <div class="col-md-12">
      <strong>Cost: </strong> {{ cart?.sumCost | gold }} |
      <strong>ROI: </strong> {{ cart?.profit | gold }}
    </div>
    <mat-card class="col-md-4">
      <mat-card-header>
        <mat-card-title>
          Recipes
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'itemId'"
                        [iconSize]="22"
                [columns]="recipeColumns"
                [data]="recipes"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-4">
      <mat-card-header>
        <mat-card-title>
          Items
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                [columns]="itemColumns"
                [data]="items"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-4">
      <mat-card-header>
        <mat-card-title>
          Needed items
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wah-data-table [id]="'id'"
                        [iconSize]="22"
                [columns]="neededColumns"
                [data]="needed"
        ></wah-data-table>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>