<h1 mat-dialog-title>Configure dashboard</h1>

<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field class="row col-md-12">
            <input matInput
                   placeholder="Dashboard title"
                   formControlName="title">
        </mat-form-field>

        <wah-rules
                [form]="form"
                [rules]="dashboard?.rules"
        ></wah-rules>
        <wah-item-rules
                [form]="form"
                [rules]="dashboard?.itemRules"
        ></wah-item-rules>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close
            color="primary"
    >
        Close
    </button>
    <button
            mat-raised-button
            color="warn"
            [disabled]="!hasChanges"
            (click)="onDiscard()"
    >
        <fa-icon [icon]="faTrash"></fa-icon>
        Discard
    </button>
    <button
            mat-raised-button
            color="accent"
            [disabled]="!hasChanges"
    >
        <fa-icon [icon]="faSave"></fa-icon>
        Save
    </button>
</mat-dialog-actions>