<mat-card-content>
  <mat-form-field class="row col-md-12">
    <input matInput
           placeholder="Dashboard title"
           [value]="dashboard.title">
  </mat-form-field>
  <!--
  <ng-container *ngIf="dashboard.settings">
    <wah-manage-items-built-in-item
            [autoSave]="false"
            [board]="clone"
            (event)="onEvent($event)"
    >
    </wah-manage-items-built-in-item>
  </ng-container>-->
</mat-card-content>
<mat-card-actions>
  <div
          class="float-right"
  >
    <button
            mat-raised-button
            color="warn"
            [disabled]="!hasChanges"
            (click)="onDiscard()"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
      Discard
    </button>
    <button
            mat-raised-button
            color="primary"
            [disabled]="!hasChanges"
    >
      <fa-icon [icon]="faSave"></fa-icon>
      Save
    </button>
  </div>
</mat-card-actions>
