<form [formGroup]="form">
  <div class="row mb-3">
    <div class="col-md-6">
      <wah-select-realm
              [region]="form.getRawValue().region"
              [realm]="form.getRawValue().realm"
              [locale]="form.getRawValue().locale"
              (changes)="realmSelectionEvent($event)">
        <button mat-button
                (click)="saveRealmAndRegion()"
                [disabled]="!hasRealmChanges()">
          <i class="fas fa-save"></i> Save
        </button>

        <wah-realm-list></wah-realm-list>
      </wah-select-realm>

      <mat-card class="mt-2" *ngIf="isWithinSupported3RDPartyAPIRegion()">
        <mat-card-header>
          <mat-card-title>Your API key (optional)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Supplying the app with an API key, allows it to display statistical data like Market value, regional sale
            rate and av regional
            daily sold.
          </p>
          <p>
            Both TSM and WoWUction gives the realms market value. TSM gives give regional sale rate, regional daily sold
            and regional
            avg sale price. WoWUction gives the realms avg daily sold, posted and the estimated demand.
          </p>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                TSM
                <span *ngIf="isUsingTSM()">(In use)</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Tradeskillmaster API key" formControlName="apiTsm">
              </mat-form-field>
              If you don't have a TSM account you can
              <a href="https://www.tradeskillmaster.com/user/register" target="_blank">create one by clicking this
                link</a>. Once you've done that, you can find your API key in the bottom of your
              <a href="https://www.tradeskillmaster.com/user" target="_blank">account page</a>.
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="saveTSMKey()"
                      [disabled]="!userChanges.get('apiTsm')">
                <i class="fas fa-save"></i> Save and use
              </button>

              <mat-checkbox formControlName="updateAPIOnRealmChange">
                Update upon realm change
              </mat-checkbox>
            </mat-card-actions>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Import previous settings
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="col-md-10">
            <textarea matInput formControlName="importString" placeholder="Paste the string here"></textarea>
          </mat-form-field>
          <button class="col-md-2" mat-button (click)="importUser()" [disabled]="!isImportStringNotEmpty()">
            <i class="fas fa-upload"></i>
            Restore
          </button>
          <button mat-button (click)="fileInput.click()">
            <i class="fas fa-upload"></i>
            Select a settings file to import
            <input class="d-none" type="file" accept="application/json" (change)="importFromFile($event)" #fileInput/>
          </button>
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-2">
        <mat-card-header>
          <mat-card-title>
            Export your settings
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="col-md-10">
            <textarea matInput formControlName="exportString"
                      placeholder="The export string will appear here."></textarea>
          </mat-form-field>
          <button class="col-md-2" mat-button (click)="exportData()">
            <i class="fas fa-download"></i>
            Export as string
          </button>
          <button mat-button (click)="exportAsFile()">
            <i class="fas fa-download"></i>
            Export as file
          </button>
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-2">
        <mat-card-header>
          <mat-card-title>
            Delete all stored data
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          This will delete all your settings and the data stored in the local database.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="deleteUser()">
            <i class="fas fa-trash-alt"></i>
            Delete all locally stored data
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</form>
