<p>
  This is a webapplication, that shows the user the potential profit of certain receipes in-game. It is aimed at helping the
  user earn gold in World of Warcraft.
  <br> Some of it's features include:
</p>
<ul>
  <li>
    The ability to make a shopping cart for materials from receipes, that is persistent between sessions (won't be lost if you
    reload)
  </li>
  <li>
    A clean overview of the current auctions (as live as possible).
  </li>
  <li>
    Displaying the users current auctions, with indication for what auctions are undercutted, and wich aren't. (requires character
    name set)
  </li>
</ul>