<p>
  This is a web application, developed with the intention of helping the user earn gold. Be it by crafting, snatching up bargans, resetting a market,
  Or maybe just checking out the trade vendors.
</p>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dashboard
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      The dashboard contains several panels. Each of these panels is supposed, to
      give some useful information.
    </p>
    <p>
      You can define rules in the <a routerLink="/watchlist">watchlist</a> page, for that dashboard.
      By default, there comes a couple groups and items with rules defined. You might want to tweak these for your realm.
      Only the items that meet your criteria are visible on the dashboard page.
    </p>
    <p>
      More panels may be added in the future.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Displaying across your characters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      In the my auctions section, you can see all of the auctions on this realm for the registered characters.
    </p>

    <p>
      You can add more characters in <a routerLink="/settings/characters">character settings</a>.
    </p>
  </mat-expansion-panel>
</mat-accordion>
