<mat-card class="character-bg" [style.background-image]="getBackgroundImage()">
  <mat-card-header>
    <div mat-card-avatar *ngIf="character.media" [style.background-image]="getAvatar()"
      [style.background-size]="'cover'"></div>
    <mat-card-title *ngIf="character.name">
        {{ character.level }} <span data-private>{{ character.name }}</span> @ {{ character.realm }}
      <span *ngIf="character.downloading"> - downloading</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="character.lastModified; else errorMsg">
        <strong>Last modified:</strong>
        {{ character.lastModified | date:'d MMM HH:mm' }}
      </span>
      <ng-template #errorMsg>
        <span *ngIf="character.error; else noData">
          Status: {{ character.error.statusText }} ({{ character.error.status }})
        </span>
        <ng-template #noData>
          There is no data available for this character yet.
        </ng-template>
      </ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="!minimal">
    <div *ngIf="character.professions" class="row">
      <div class="col-md-6">
        <strong>Primary professions</strong>
        <wah-skill-list
                [characterProfession]="character.professions.primaries"
        >
        </wah-skill-list>
      </div>
      <div class="col-md-6">
        <strong>Secondary professions</strong>
        <wah-skill-list
                [characterProfession]="character.professions.secondaries"
        >
        </wah-skill-list>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!disallowDelete"
            mat-stroked-button
            type="button"
            color="warn"
            (click)="remove()">
      <i class="fa fa-trash" aria-hidden="true"></i>
      Remove
    </button>
    <button mat-stroked-button
            type="button"
            (click)="update()"
            color="accent"
    >
      <div class="float-left mr-1" [ngClass]="{'loading': isUpdating}">
        <i class="fas fa-sync" aria-hidden="true"></i>
      </div>
      Update
    </button>
  </mat-card-actions>
</mat-card>
