<mat-card *ngIf="item?.inventory && item?.inventory[factionId]" class="mb-3">
  <mat-card-header>
    <mat-card-subtitle>
      One or more of your characters have this item
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item>
        Sum value: {{ (auctionItem ? item.inventory[factionId].quantity * auctionItem.buyout : 0) | gold }}
        total.
      </mat-list-item>
      <mat-list-item>
        Quantity: {{ item.inventory[factionId].quantity | number }}
      </mat-list-item>
      <mat-list-item *ngFor="let char of item.inventory[factionId].characters">
        {{ char }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<wah-item-sale-summary *ngIf="item.id"
                       [itemId]="item.id"
                       [dialogId]="dialogId"
                       (saleRate)="setPersonalSaleRate($event)">
</wah-item-sale-summary>
