<wah-close-btn>
</wah-close-btn>

<h1 mat-dialog-title>
  Download and realm info
</h1>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
      <mat-tab-group>
        <mat-tab label="Downloads">
          <p>
            By default, the application will keep the data up to date as soon as it is available.
            But in case something is misbehaving, you can try to download it again here.
          </p>
          <wah-data-table
                  [columns]="downloadColumns"
                  [data]="downloadRows"
          ></wah-data-table>
        </mat-tab>
        <mat-tab label="Connected to {{connectedRealms?.length - 1 | number}} realms">
          <wah-data-table *ngIf="connectedRealms"
                          [columns]="connectedRealmsColumns"
                          [data]="connectedRealms"
          ></wah-data-table>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-6">
      <mat-tab-group>
        <mat-tab label="Realm">
          <p>
            This is the update log, for your auction house.
          </p>
          <wah-data-table *ngIf="!logIsLoading && log; else loadingTemplate"
                          [columns]="logColumns"
                          [data]="log.entries"
                          [numOfRows]="10"
          ></wah-data-table>
        </mat-tab>
        <mat-tab label="Region">
          <p>
            This is the update log, for your region.
          </p>
          <wah-data-table *ngIf="!regionalLogIsLoading && log; else loadingTemplate"
                          [columns]="logColumns"
                          [data]="regionalLog.entries"
                          [numOfRows]="10"
          ></wah-data-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>

</mat-dialog-actions>

<ng-template #loadingTemplate>
  <mat-spinner color="accent"></mat-spinner>
</ng-template>