<wah-close-btn></wah-close-btn>

<h1 mat-dialog-title>
  Public dashboards
</h1>

<mat-dialog-content>
  <em>Here you can find and copy dashboards created by other users, that are set to public in the settings.</em>

  <mat-form-field class="row col-md-12">
    <input matInput
           [formControl]="searchField"
           placeholder="Search by id, title, description or tag"
    />
  </mat-form-field>

  <wah-loading *ngIf="isLoading; else contentTemplate" message="Loading…"></wah-loading>

  <ng-template #contentTemplate>
    <mat-list class="mb-2">
      <mat-list-item *ngFor="let board of filteredBoards" class="mat-elevation-z5 mt-1 mb-1">
        <h3 mat-line>
          {{board.title}} ({{board.lastModified | date: 'dd.MMM yyyy HH:mm'}})
        </h3>
        <div mat-line>
          {{board.description}}
        </div>
        <div mat-line>
          <div class="row pt-1">
            <div class="col">
              <strong>Created by:</strong> {{ board.createdBy }}
            </div>
            <mat-chip-list class="col d-none d-xl-block" aria-label="Board tags">
              <mat-chip *ngFor="let tag of board.tags" color="primary">
                Tags: {{ tag }}
              </mat-chip>
            </mat-chip-list>
            <div *ngIf="!myDashboards.has(board.id)" class="col-md-4">
              <button
                      [disabled]="myCopiedDashboards.has(board.id) &&
                        myCopiedDashboards.get(board.id).lastModified <= board.lastModified"
                      type="button"
                      class="float-right"
                      mat-raised-button
                      color="accent"
                      matTooltip="Import/update a copy of this board into your library"
                      (click)="import(board)"
              >
                <fa-icon *ngIf="!board.isImporting; else loadingImportTemplate"
                         [icon]="myCopiedDashboards.has(board.id) ? faUpdate : faImport"></fa-icon>
                {{myCopiedDashboards.has(board.id) ? 'Update' : 'Copy'}}
              </button>
              <button type="button"
                      class="float-right mr-2"
                      mat-raised-button
                      color="primary"
                      matTooltip="Import a copy of this board into you library"
                      (click)="preview(board)"
              >
                <fa-icon *ngIf="!board.isLoading; else loadingPreviewTemplate"
                         [icon]="faEye"></fa-icon>
                Preview
              </button>

              <ng-template #loadingPreviewTemplate>
                <mat-spinner color="accent" class="float-left ml-2"></mat-spinner>
              </ng-template>

              <ng-template #loadingImportTemplate>
                <mat-spinner color="primary" class="float-left ml-2"></mat-spinner>
              </ng-template>
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </ng-template>
</mat-dialog-content>