<a *ngIf="!item.children.length; else dropdownTemplate"
  mat-stroked-button
  [routerLink]="item.routerLink"
  routerLinkActive="mat-accent">
  <span class="button-color">
  {{ item.text }} {{item.onlyInDevelop ? '(Dev)' : ''}}
  </span>
</a>
<ng-template #dropdownTemplate>
  <wah-menu-dropdown
    [parentPath]="item.routerLink"
    [items]="item.children">
    <span class="button-color">
      {{ item.text }} {{item.onlyInDevelop ? '(Dev)' : ''}}
    </span>
  </wah-menu-dropdown>
</ng-template>