
.align-left{
    float:left;
}

/* From blizzard */
.item-detail .frame-56 {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 5px;
}
.icon-frame.frame-36 {
    height: 36px;
    width: 36px;
    -moz-box-shadow: #000 0 0 10px;
    -webkit-box-shadow: #000 0 0 10px;
    box-shadow: #000 0 0 10px;
}
.icon-frame {
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    background-color: #000;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #434445;
    border-bottom-color: #2f3032;
    border-top-color: #b1b2b4;
}

#my-auctions {
    position: absolute;
    min-height: 10em;
    min-width: 10em;
    top: 0;
}

.undercut {
    background-color: #fddddd !important;
}

.not-found, .not-found a {
    color: #ff0000 !important;
}