<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Auctions</h2>
	</div>
	<div class="panel-body">
		<div class="row col-md-12">
			<form class="form-inline" (ngSubmit)="filterAuctions()" [formGroup]="filterForm">
				<div class="checkbox">
					<label name="onlyUserAuctions">
						<input type="checkbox" [formControl]="filterForm.controls['filterByCharacter']"/>
						Only my auctions
					</label>
				</div>
				<div class="checkbox">
					<label name="onlyUserAuctions">
						<input type="checkbox" [formControl]="filterForm.controls['onlyCraftables']"/>
						Crafting mode
					</label>
				</div>
				<input class="col-md-2 form-control" type="text" placeholder="Item name" [formControl]="filterForm.controls['searchQuery']"/>
				<select class="form-control" [formControl]="filterForm.controls['itemClass']">
				<option value="-1">All</option>
				<option *ngFor="let i of itemClasses.classes; let p = index;" value="{{ p }}">{{ i.name }}</option>
			</select>
				<select class="form-control" [formControl]="filterForm.controls['itemSubClass']">
				<option value="-1">All</option>
				<option *ngFor="let i of itemClasses.classes[filter.itemClass]?.subclasses; let p = index;" value="{{ p }}" >{{ i.name }}</option>
			</select>
				<button class="btn btn-primary" type="submit">Apply filter</button>
				<button class="btn btn-default" type="button" (click)="clearFilters()">Clear filter</button>
			</form>

			<button class="btn btn-default" (click)="getAuctions(); saveSettings();">Update</button>
		</div>
		<br>
		<div class="pager">
			<button class="btn btn-default glyphicon glyphicon-arrow-left" (click)="changePage(-1)"></button>
			<input style="width:5em;" type="number" min="1" [(ngModel)]="currentPage" /> of {{ numOfPages }}
			<button class="btn btn-default glyphicon glyphicon-arrow-right" (click)="changePage(1)"></button>
		</div>
		<table class="table table-striped">
			<tr class="row">
				<th>Name</th>
				<th>Auctions</th>
				<th (click)="sortAuctions('buyout')">Buyout</th>
				<th>avg Posted/Sold</th>
				<th (click)="sortAuctions('estDemand')">Demand</th>
			</tr>
			<!-- TODO: optimize price value fetch -->
			<tr class="row" *ngFor="let auc of filteredAuctions | slice:(currentPage - 1)*limit : ((currentPage - 1)*limit) + limit ;">
				<td>
					<div>
						<span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(auc) +')'">
					</span>
						<div class="align-left col-md-offset-1">
							<a rel="item={{ auc.item }}" href="https://eu.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{auc.item}}"
								target="_blank">{{ auc.name }}</a><br>
							<a rel="item={{ auc.item }}" href="https://eu.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{auc.item}}"
								target="_blank">{{ auc.owner }}</a>
						</div>
					</div>
				</td>
				<td>{{ auc.quantity_total }}</td>
				<td>
					{{ copperToArray(auc.buyout) }}
				</td>
				<td>
					{{ auc.avgDailyPosted }} <br> {{ auc.avgDailySold }}
				</td>
				<td>
					{{ auc.estDemand }}%
				</td>
			</tr>
		</table>
		<div class="pager">
			<button class="btn btn-default glyphicon glyphicon-arrow-left" (click)="changePage(-1)"></button>
			<input style="width:5em;" type="number" min="1" [(ngModel)]="currentPage" /> of {{ getNumOfPages() }}
			<button class="btn btn-default glyphicon glyphicon-arrow-right" (click)="changePage(1)"></button>
		</div>
	</div>
</div>
