<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">My auctions</h2>
	</div>
	<div class="panel-body">
		<ul>
			<li>{{ numberOfUndercuttedAuctions }} of {{ activeAuctions }} your auctions are undercutted.</li>
			<li>Value of auctions: {{ copperToString(auctionsValue) }}.</li>
		</ul>

		<p *ngIf="apiToUse === 'none'" class="alert alert-info" role="alert">
				If you want information indicating the demand of an item, then it's recommended that you either add a TSM or WoWuction API.
				You can get a TSM key <a href="https://www.tradeskillmaster.com/user" target="_blank">here</a>.
		</p>

		<div class="col-md-12 row">
			<div class="col-md-8">
				<md-paginator
					[length]="numberOfUndercuttedAuctions"
					[pageSize]="page.pageSize"
					[pageSizeOptions]="page.pageSizeOptions"
					(page)="changePage($event)">
				</md-paginator>
				<table class="table table-striped row">
					<tr class="row">
						<th>Name</th>
						<th>Size</th>
						<th (click)="sortList('buyout')">
							<i class="glyphicon glyphicon-sort" aria-hidden="true"></i>
							Buyout
						</th>
						<th *ngIf="apiToUse !== 'none'" class="hidden-xs">
							<span *ngIf="apiToUse === 'tsm'">Regional avg </span>
							<span *ngIf="apiToUse === 'wowuctions'">Avg posted/</span>
							sold
						</th>
						<th *ngIf="apiToUse !== 'none'" class="hidden-xs" (click)="sortList('estDemand')">
							<i class="glyphicon glyphicon-sort" aria-hidden="true"></i>
							<span *ngIf="apiToUse === 'tsm'">Region est Demand</span>
							<span *ngIf="apiToUse === 'wowuctions'">est demand/</span>
						</th>
					</tr>
					<tr class="row" *ngFor="let auc of getAuctions() |
						slice: 
							(pageEvent.pageSize * (pageEvent.pageIndex + 1)) - pageEvent.pageSize:
							pageEvent.pageSize * (pageEvent.pageIndex + 1);"
						[ngClass]="{info: getAuctionOwner(auc.item) !== character}">
						<td>
							<div>
								<span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(auc) +')'">
								</span>
								<div class="align-left col-md-9">
									<a rel="item={{ auc.item }}" (click)="selectAuction(auc)"
										target="_blank">{{ auc.name }} <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></a>
								</div>
							</div>
						</td>
						<td>{{ auc.quantity }}</td>
						<td>
							{{ copperToString(auc.buyout) }} ({{ copperToString(auc.buyout / auc.quantity) }} pcs)
						</td>
						<td *ngIf="apiToUse !== 'none'" class="hidden-xs">
							<span *ngIf="apiToUse === 'wowuctions'">
								{{ auc.avgDailyPosted }} <br>
							</span>
							 {{ auc.avgDailySold }}
						</td>
						<td *ngIf="apiToUse !== 'none'" class="hidden-xs">
							{{ auc.estDemand }}%
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<md-paginator
					[length]="selectedAuctions.length"
					[pageSize]="page.pageSize"
					[pageSizeOptions]="page.pageSizeOptions"
					(page)="changePage($event, true)">
				</md-paginator>
				<table class="table table-striped row">
					<tr class="row">
						<th>Item</th>
						<th>Auction</th>
						<th>Per item</th>
						<th>Size</th>
					</tr>
					<tr class="row" *ngFor="let a of selectedAuctions |
						slice: 
							(pageEventSecondary.pageSize * (pageEventSecondary.pageIndex + 1)) - pageEventSecondary.pageSize:
							pageEventSecondary.pageSize * (pageEventSecondary.pageIndex + 1);">
						<td>
							<div>
								<span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(a) +')'"></span>
								<div class="align-left col-md-offset-1">
									<a
										rel="item={{ a.item }}"
										href="https://{{ user.region }}.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{ a.item }}"
										target="_blank">{{ a.name }}<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true" ></i></a><br>
									{{ a.owner }} @ {{ a.ownerRealm }}
								</div>
							</div>
						</td>
						<td>{{ copperToString(a.buyout) }}</td>
						<td>{{ copperToString(a.buyout / a.quantity) }}</td>
						<td>{{ a.quantity }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
