<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">My auctions</h2>
	</div>
	<div class="panel-body">
		<ul>
			<li>Auctions: {{ activeAuctions }}</li>
			<li>Value of auctions: {{ copperToArray(auctionsValue) }}</li>
		</ul>
		<div class="pager">
			<button class="btn btn-default glyphicon glyphicon-arrow-left" (click)="changePage(-1)"></button>
			<input style="width:5em;" type="number" min="1" [(ngModel)]="currentPage" /> of {{ getNumOfPages() }}
			<button class="btn btn-default glyphicon glyphicon-arrow-right" (click)="changePage(1)"></button>
		</div>
		<div class="col-md-12 row">
			<div class="col-md-8">
				<table class="table table-striped row">
					<tr class="row">
						<th>Name</th>
						<th>Quantity</th>
						<th (click)="sortAuctions('buyout')">Buyout</th>
						<th class="hidden-xs">avg Posted/Sold</th>
						<th class="hidden-xs" (click)="sortAuctions('estDemand')">Demand</th>
					</tr>
					<tr class="row" *ngFor="let auc of getAuctions()  | slice:(currentPage - 1)*limit : ((currentPage - 1)*limit) + limit ;" [ngClass]="{undercut: getAuctionOwner(auc.item) !== character}">
						<td>
							<div>
								<span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(auc) +')'">
								</span>
								<div class="align-left col-md-offset-1">
									<a rel="item={{ auc.item }}" (click)="selectAuction(auc)"
										target="_blank">{{ auc.name }} <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></a><br>
									{{ auc.owner }}
								</div>
							</div>
						</td>
						<td>{{ auc.quantity }}</td>
						<td>
							{{ copperToArray(auc.buyout * auc.quantity) }} ({{ copperToArray(auc.buyout) }} pcs)
						</td>
						<td class="hidden-xs">
							{{ auc.avgDailyPosted }} <br> {{ auc.avgDailySold }}
						</td>
						<td class="hidden-xs">
							{{ auc.estDemand }}%
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<table class="table table-striped row">
					<tr class="row">
						<th>Item</th>
						<th>Auction</th>
						<th>Per item</th>
						<th>Stack size</th>
					</tr>
					<tr class="row" *ngFor="let a of selectedAuctions  | slice:0 : 10;">
						<td>
							<div>
								<span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(a) +')'"></span>
								<div class="align-left col-md-offset-1">
									<a
										href="https://eu.battle.net/wow/en/vault/character/auction/browse?reverse=false&sort=unitBuyout&itemId={{a.item}}"
										target="_blank">{{ a.name }}<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true" ></i></a><br>
									{{ a.owner }}
								</div>
							</div>
						</td>
						<td>{{ copperToArray(a.buyout) }}</td>
						<td>{{ copperToArray(a.buyout / a.quantity) }}</td>
						<td>{{ a.quantity }}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="pager">
			<button class="btn btn-default glyphicon glyphicon-arrow-left" (click)="changePage(-1)"></button>
			<input style="width:5em;" type="number" min="1" [(ngModel)]="currentPage" /> of {{ getNumOfPages() }}
			<button class="btn btn-default glyphicon glyphicon-arrow-right" (click)="changePage(1)"></button>
		</div>
	</div>
</div>
