<wah-news [class]="theme.className"></wah-news>
<wah-app-update [class]="theme.className"></wah-app-update>
<wah-item *ngIf="isItemSelected()" [class]="theme.className"></wah-item>
<wah-seller *ngIf="isSellerSelected()" [class]="theme.className"></wah-seller>

<wah-menu
        [class]="theme.className">
</wah-menu>
<!--<wah-navbar [ngClass]="{'unicorn-dark-theme': isDarkmode()}"></wah-navbar>-->
<div
  id="main"
  class="mt-6 container-fluid"
  [class]="theme.className">
  <!-- TODO:  , 'd-none': isItemSelected() || isSellerSelected() -->
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
  <wah-footer></wah-footer>
</div>
