<ng-container *ngIf="!isLoading ; else loadingTemplate">
  <h5>Prices grouped by hour the past 14 days</h5>

  <mat-tab-group>
    <mat-tab label="Chart">

      <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="chartOptions"
              [(update)]="updateDailyChart"

              style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart><!--
      <wah-charts-data-sets
              storageName="item-price-history-chart"
              [datasets]="fourteenDayHourByHour">
      </wah-charts-data-sets>-->
    </mat-tab>
    <mat-tab label="Table">
      <wah-data-table
              [columns]="fourteenDayByHourTable.columns"
              [data]="fourteenDayByHourTable.data">
      </wah-data-table>
    </mat-tab>
  </mat-tab-group>

  <h5>Prices grouped by day</h5>
  <mat-tab-group>
    <mat-tab label="Chart">
      <wah-charts-data-sets
              storageName="item-price-daily-history-chart"
              [datasets]="dateData">
      </wah-charts-data-sets>
    </mat-tab>
    <mat-tab label="Table">
      <wah-data-table
              [columns]="groupedByDateTable.columns"
              [data]="groupedByDateTable.data">
      </wah-data-table>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  Loading historical price data
</ng-template>
