<em>This is still a work in progress. But Il'l make it available for now, as data is being collected.</em>
<wah-charts *ngIf="!isLoading ; else loadingTemplate"
            storageName="item-price-history-chart"
            [defaultType]="'line'"
            datasetLabel="Price history"
            [labels]="chartData.labels"
            [dataMap]="chartData.dataMap"
            [tooltipCallback]="tooltipCallback"
            [allowTypeChange]="true">
</wah-charts>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  Loading historical price data
</ng-template>