<div class="row slim-sm">
  <div class="row col-md-12">
    <wah-crafting-config class="col"></wah-crafting-config>
    <mat-checkbox class="col" [formControl]="displayHiddenForm">
      Show hidden boards
    </mat-checkbox>
    <div class="col">
      <button
              mat-stroked-button
              color="accent"
              (click)="openNewBoardDialog()"
      >
        Add new dashboard
      </button>
    </div>
  </div>
  <ng-container *ngFor="let d of dashboards">
    <div *ngIf="(!d.isDisabled && d.data.length > 0) || displayHiddenForm.value" class="col-md-6 col-sm-12 mb-3 slim-sm">
      <wah-dashboard-item [dashboard]="d" filterParameter="name"></wah-dashboard-item>
    </div>
  </ng-container>
</div>
