<form>
  <mat-form-field class="full-width">
    <input matInput placeholder="{{ title }}" aria-label="Item" [matAutocomplete]="auto" [formControl]="itemCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of filteredStates | async" [value]="item.name">
          <span xmlns="http://www.w3.org/1999/xhtml" class="icon-frame frame-36 align-left" [style.background-image]="'url('+ getIcon(item) +')'"></span>
        <span>{{ item.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>