<mat-form-field>
  <mat-select
  placeholder="Select the number of weeks to include "
  [formControl]="numberOfWeeksFormControl"
>
  <mat-option [value]="1">Past week</mat-option>
  <mat-option [value]="2">Past 2 weeks</mat-option>
</mat-select>

</mat-form-field>
<wah-charts-data-sets *ngIf="chartDataDay.datasets && chartDataDay.datasets[0].data.length"
  storageName="item-price-weekdays-history-chart"
  [datasets]="chartDataDay"
  (selection)="daySelection($event)"
>
</wah-charts-data-sets>
<mat-tab-group
  [selectedIndex]="selectedTab"
  (selectedIndexChange)="setTabChange($event)"
  #tabs
>
  <mat-tab *ngFor="let day of dayList; let i = index" label="{{ days[i] }}s">
    <div class="row">
      <div class="col">
        Min: {{ day.min | gold }} ({{ day.minTimeOfDay | number }}:00)
      </div>
      <div class="col">Avg: {{ day.avg | gold }}</div>
      <div class="col">Price trend: {{ day.avgPriceChange | gold }}</div>
      <div class="col">
        Max: {{ day.max | gold }} ({{ day.maxTimeOfDay | number }}:00)
      </div>
    </div>

    <wah-charts-data-sets
      *ngIf="selectedTab === i"
      storageName="item-price-{{ i }}-weekdays-history-chart"
      [datasets]="chartDataPerDay[i]"
    >
    </wah-charts-data-sets>
  </mat-tab>
</mat-tab-group>
