service:
  name: wah-api

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 200
  timeout: 30
  versionFunctions: false
  #tags:
    #Project: WAH
  tracing:
    apiGateway: true
    lambda: true

functions:
  auctionUpdateLogForRealm:
    tags:
      Function: Wah-auctionUpdateLogForRealm
      Project: WAH
    handler: src/realm/controller.getUpdateLogForRealm
    memorySize: 200
    events:
      - http:
          method: get
          path: auction/log/{id}
          cors:
            origin: 'http://localhost:4200,https://wah.jonaskf.net'
  auctionsDownloadAndSave:
    tags:
      Function: Wah-auctionsDownloadAndSave
      Project: WAH
    handler: src/auction/controller.auctionsDownloadAndSave
    memorySize: 300
    timeout: 60
  auctionsUpdateStaticS3Data:
    tags:
      Function: Wah-auctionsUpdateStaticS3Data
      Project: WAH
    handler: src/auction/controller.updateStaticS3Data
    memorySize: 300
    timeout: 30
  auctionsInsertStatisticsData:
    tags:
      Function: Wah-auctionsInsertStatisticsData
      Project: WAH
    handler: src/auction/controller.insertStatisticsData
    memorySize: 222
    timeout: 58

  auctionsUpdateRealmTrends:
    tags:
      Function: Wah-updateRealmTrends
      Project: WAH
    handler: src/auction/controller.updateRealmTrends
    memorySize: 768
    timeout: 90
  updateAllHouses:
    tags:
      Function: Wah-updateAllHouses
      Project: WAH
    handler: src/auction/controller.updateAll
    memorySize: 212
    timeout: 59

  deactivateInactiveHouses:
    tags:
      Function: Wah-deactivateInactiveHouses
      Project: WAH
    handler: src/auction/controller.deactivateInactiveHouses
    memorySize: 200
  deleteOldPriceHistoryForRealmAndSetDailyPrice:
    tags:
      Function: Wah-deleteOldPriceHistoryForRealmAndSetDailyPrice
      Project: WAH
    handler: src/auction/controller.deleteOldPriceHistoryForRealmAndSetDailyPrice
    memorySize: 200
    timeout: 60
  deleteOldPriceForRealm:
    tags:
      Function: Wah-deleteOldPriceForRealm
      Project: WAH
    handler: src/auction/controller.deleteOldPriceForRealm
    memorySize: 128
    timeout: 200
  updateAllRealmDailyData:
    tags:
      Function: Wah-updateAllRealmDailyData
      Project: WAH
    handler: src/auction/controller.updateAllRealmDailyData
    memorySize: 1024
    timeout: 300
  items:
    tags:
      Function: Wah-items
      Project: WAH
    handler: src/controllers/item.handler
    memorySize: 300
  getPriceHistoryForItem:
    tags:
      Function: Wah-item-history
      Project: WAH
    handler: src/auction/controller.getPriceHistoryForItem
    memorySize: 256
    events:
      - http:
          method: post
          path: item/history
          cors:
            origin: 'http://localhost:4200,https://wah.jonaskf.net'
  pets:
    tags:
      Function: Wah-pets
      Project: WAH
    handler: src/controllers/pet.handler
    memorySize: 128
  getProfessions:
    tags:
      FunctionName: Wah-getProfessions
      Project: WAH
    memorySize: 128
    handler: src/profession/controller.getProfessions
  getAllRecipesAfter:
    tags:
      FunctionName: Wah-getAllRecipesAfter
      Project: WAH
    memorySize: 128
    handler: src/recipe/controller.getAfter

  getRecipeById:
    tags:
      FunctionName: Wah-getRecipeById
      Project: WAH
    memorySize: 128
    handler: src/recipe/controller.getById
  zone:
    tags:
      Function: Wah-zone
      Project: WAH
    handler: src/controllers/zone.getAll
    memorySize: 128
    timeout: 30
  npcGetById:
    tags:
      Function: Wah-npcGetById
      Project: WAH
    handler: src/controllers/npc.getById
    memorySize: 128
  npcGetAll:
    tags:
      Function: Wah-npcGetAll
      Project: WAH
    handler: src/controllers/npc.getAll
    memorySize: 400
  npcGetByIds:
    tags:
      Function: Wah-npcGetByIds
      Project: WAH
    handler: src/controllers/npc.addNewNPCsByIds
    memorySize: 256
    timeout: 30
  character:
    tags:
      FunctionName: Wah-character
      Project: WAH
    handler: src/character/controller.getCharacter
    memorySize: 128
    events:
      - http:
          method: post
          path: character
          cors:
            origin: 'http://localhost:4200,https://wah.jonaskf.net'
  realm:
    tags:
      Function: Wah-realm
      Project: WAH
    handler: src/controllers/realm.handler
  realmAllRegions:
    tags:
      Function: Wah-realmAllRegions
      Project: WAH
    handler: src/controllers/realm.realmAllRegions
    memorySize: 200
  logger:
    tags:
      Function: Wah-logger
      Project: WAH
    handler: src/logs/controller.handler
    memorySize: 128
    provisionedConcurrency: 100
    events:
      - http:
          method: any
          path: logger
  loggerProcessAccessLogs:
    tags:
      Function: Wah-loggerProcessAccessLogs
      Project: WAH
    handler: src/logs/controller.processAccessLogs
    memorySize: 128
    timeout: 90
  loggerGetTableSize:
    tags:
      Function: Wah-loggerGetTableSize
      Project: WAH
    handler: src/logs/controller.getTableSize
    memorySize: 128
    events:
      - http:
          method: get
          path: logger/tables
          cors:
            origin: 'http://localhost:4200'
  loggerGetGlobalStatus:
    tags:
      Function: Wah-loggerGetGlobalStatus
      Project: WAH
    handler: src/logs/controller.getGlobalStatus
    memorySize: 128
    events:
      - http:
          method: get
          path: logger/global-status
          cors:
            origin: 'http://localhost:4200'
  loggerQueries:
    tags:
      Function: Wah-loggerGetCurrentQueries
      Project: WAH
    handler: src/logs/controller.getCurrentQueries
    memorySize: 128
    events:
      - http:
          method: get
          path: logger/queries
          cors:
            origin: 'http://localhost:4200'
  currency:
    tags:
      Function: Wah-currency
      Project: WAH
    handler: src/controllers/currency.handler
    memorySize: 128
  updateTSMDumpData:
    tags:
      Function: Wah-updateTSMDumpData
      Project: WAH
    handler: src/auction/controller.updateTSMDataForOneRealm
    memorySize: 256
