<p>
  <strong>Potential profit</strong> {{ sum?.potentialProfit | gold }},
  <strong>Sum cost:</strong> {{ sum?.sumCost | gold }},
  <strong>Items to buy:</strong> {{ sum?.itemsToBuy | number }}
</p>

<form [formGroup]="form" class="row">
  <mat-form-field class="col"
                  color="accent"
  >
    <input matInput placeholder="Item name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="col"
                  color="accent"
  >
    <input matInput placeholder="ROI increment percent"
           formControlName="breakPointPercent"
           type="number"
           min="101">
  </mat-form-field>

  <mat-form-field class="col"
                  color="accent"
  >
    <input matInput
           placeholder="Est days to sell"
           formControlName="timeToSell"
           type="number"
           min="0">
  </mat-form-field>

  <mat-form-field class="col"
                  color="accent"
  >
    <input matInput
           placeholder="Max x% of market value"
           type="number"
           formControlName="mktPriceUpperThreshold">
  </mat-form-field>

  <mat-form-field class="col"
                  color="accent"
  >
    <input matInput
           placeholder="Max x% of current min price"
           matTooltip="The new price can at max, be x % of the current lowest buyout price"
           formControlName="newVsCurrentBuyoutPriceLimit"
           type="number"
           min="0">
  </mat-form-field>

  <mat-form-field class="col"
                  color="accent"
  >
    <input matInput
           placeholder="Min profit in gold {{ form.getRawValue().minROI * 10000 | gold }}"
           formControlName="minROI"
           type="number"
           min="0">
  </mat-form-field>

  <mat-form-field class="col"
                  color="accent"
  >
    <input matInput
           placeholder="Min ROI in percent"
           formControlName="minROIPercent"
           type="number"
           min="0">
  </mat-form-field>

  <mat-form-field class="col"
                  color="accent"
  >
    <input matInput
           placeholder="Max sum buyout per reset ({{ form.getRawValue().maxTotalBuyoutPerItem * 10000 | gold }})"
           formControlName="maxTotalBuyoutPerItem"
           type="number"
           min="0">
  </mat-form-field>

  <mat-checkbox class="col"
                formControlName="useHighestROIResult"
                matTooltip="Prioritizes a better return on investment over gold earned">
    Prioritize ROI over most gold per row
  </mat-checkbox>

  <div class="col">
    <button mat-raised-button
            color="warn"
            type="button"
            (click)="resetForm()">
      Reset
    </button>
  </div>
</form>

<mat-form-field *ngIf="tsmShoppingString.length > 0"
                class="row col-md-12"
                color="accent"
>
    <textarea matInput
              placeholder="TSM shopping string"
              [value]="tsmShoppingString"></textarea>
</mat-form-field>


<p>Click on a row(not the name) to get the TSM string for it.</p>
<ng-container *ngIf="itemResetBreakpoint && itemResetBreakpoint.tsmShoppingString.length > 0">
  <mat-form-field class="row col-md-12"
                  color="accent"
  >
    <textarea matInput
              placeholder="Shopping string for the selected row"
              [value]="itemResetBreakpoint.tsmShoppingString"></textarea>
  </mat-form-field>

  <wah-reset-charts
          namePrefix="market"
          [sideBySide]="true"
          [newBuyout]="itemResetBreakpoint.newBuyout"
          [itemID]="itemResetBreakpoint.itemID"
  ></wah-reset-charts>
</ng-container>

<wah-data-table
        *ngIf="data"
        iconSize="22"
        itemsPerPage="20"
        id="itemID"
        [data]="data"
        [columns]="columns"
        (rowClicked)="setRoShoppingString($event)">
</wah-data-table>
